[2015-10-08 03:09] blakeembrey commented on #646
Yeah, that'd be great. Right now, it's one way only, but I've had to do JSON editing for TSD recently and the same model could work in TSConfig.

[2015-10-08 03:33] mybruce opened #647 "Uncaught TypeError: editor.displayBuffer.getScrollTop is not a function"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.2.0-dev-5a4f79c
**System**: Mac OS X 10.11
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v7.1.5
### Stack Trace

Uncaught TypeError: editor.displayBuffer.getScrollTop is not a function

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-10-08 04:28] basarat opened #648 "tsconfig exclude cleanup"
Based on analysis done by Blake here : https://github.com/TypeStrong/tsconfig/pull/7 For exclusions, one should use `/**` without any trailing `/*` (i.e `/**/*` like we do now).

closes https://github.com/TypeStrong/atom-typescript/issues/634
closes https://github.com/TypeStrong/atom-typescript/issues/332
closes https://github.com/TypeStrong/atom-typescript/issues/568

Todo :

* [ ] check default

[2015-10-08 04:41] #648 closed

[2015-10-08 04:45] basarat commented on #647
Perhaps a bug in beta software? Would need a repro with a supported version. Thanks :rose:

[2015-10-08 06:27] yoorek opened #650 "how to force autocomplete to search for full string instead letters"
Example: when i enter 'ngm' and press TAB i get  very long list of suggestions that has e.g 'interface DocumentFragment' on it just because it has 'n' 'g' 'm' letters in it. It is not what I expected - i have 'ngm' snippet for 'Angular Module' and I have to scroll to end of list to choose it.

How can I force autocomplete to suggest only matches of full string i provided ?

[2015-10-08 12:06] sickboy opened #651 "filesGlob excludes no longer work in 7.3.0"
My use case:
[code]

but all rx@ ts files are included in files section now.
I've tried different orders but doesnt seem to help.

[2015-10-08 13:09] arusakov commented on #651
+1

[2015-10-08 16:29] blakeembrey commented on #651
Apologies, this is definitely my fault. I'll open a new PR for this today, I completely blanked and forgot that `filesGlob` has negation support.

[2015-10-08 19:02] david-driscoll commented on #651
This is so brutal with a reference to ntypescript and rx, I couldn't compile from the command line without making sure atom was dead.  Thanks for the quick turn around though.

[2015-10-08 19:56] #651 closed

[2015-10-08 20:01] blakeembrey commented on #646
Ok, this is released - but we can make improvements over time to the API, such as writing, etc. Please make issues for anything needed at https://github.com/TypeStrong/tsconfig.

[2015-10-08 20:01] #646 closed

[2015-10-08 20:02] blakeembrey commented on #651
@sickboy @arusakov @david-driscoll Could you please try the latest version? :smile: It should be a lot quicker now.

[2015-10-08 20:38] david-driscoll commented on #651
:+1: fixed!

[2015-10-09 03:33] basarat commented on #650
We can either put snippets before other completions or after other completions.

# Reason

The ordering is in the control of atom, and there are two providers : us and snippets. Mixing (in order) completions from different providers is not possible.

See https://github.com/TypeStrong/atom-typescript/issues/566 for the request where we made completions appear *before* snippets.

[2015-10-09 05:22] yoorek commented on #650
It is not only the case of ordering. The more important thing is what gets on the list - a lot element s that should not be there.

Another example - I want to autocomplete for 'console' - when I enter 'conso' I get:

- console
- Console
(and it;s good) and then I get:
- DateConstructor or
- oncompassneedscalibration (just because they have letters in right order)

This makes 'autocomplete' pretty

[2015-10-09 05:35] basarat commented on #650
Some people (including myself) find this much pleasing than the strictness of VS style autocomplete.

Not at the moment. But I actually like it the way it is. I definitely understand your frustration ... but its different people want different things in this case, sorry about that :rose:

# Long term

An ideal solution would be to match within suggestions from different providers. That needs suppo

[2015-10-09 06:50] yoorek commented on #650
It is not only 'VS style' of autocomplete - WebStorm, Sublime, Brackets... they all work with 'strict' search.
Nice you like your work and please yourself with it :-)

[2015-10-09 13:42] arusakov opened #654 "tsconfig target es6 and module 7.4.0"
I write tsconfig.json like this:
[code]
When I save file, atom-typescript regenerate it to this:
[code]
Then I have typescript error:
TS1204: Cannot compile modules into 'commonjs', 'amd', 'system' or 'umd' when targeting 'ES6' or higher.
ES6 target and module property should not be simultaneously.

[2015-10-09 13:46] nycdotnet commented on #654
Can you set module to `undefined` or ""?

[2015-10-09 14:16] arusakov commented on #654
@nycdotnet Thank you! It's good workaround. But it's still a bug.

[2015-10-09 14:18] nycdotnet commented on #654
OK we'll investigate.  Sorry for the trouble.

//cc: @blakeembrey not sure if you have time to look into this.  I'm crushed until next week.

[2015-10-09 14:30] arusakov commented on #654
@nycdotnet Maybe I can help you. Is bug in the [TypeStrong/tsconfig](https://github.com/TypeStrong/tsconfig) repo?

[2015-10-09 14:40] nycdotnet commented on #654
We'd love to have you take a look at it.  We just set up atom-typescript to use that, so probably, but I haven't looked into it at all.

[2015-10-09 14:44] sickboy commented on #651
@blakeembrey Excluding works again thanks.
BUT I can not override excludes anymore.

[code]
should still give me "rx.all.es6.d.ts" but it doesn't. The order doesn't seem to matter.
Would be great if it could do first match perhaps.

so then it should be configured as:

[code]

and then because it hits the first one, it should no longer look at the next

[2015-10-09 14:55] nycdotnet commented on #651
@sickboy Can you try this:
[code]

[2015-10-09 15:48] sickboy commented on #651
@nycdotnet hmm thanks but no dice :(

[2015-10-09 16:20] blakeembrey commented on #654
Definitely a bug/bad feature in `tsconfig`, let me do a patch for you now.

[2015-10-09 18:55] nycdotnet opened #655 "Find All References - line numbers off by 1"
The reported line number in Find All References is 1 less than the actual line number.

Repro:
Find all references on a symbol (Shift+F12).
Note the line number.
Look at that line - it's 1 off.

This is probably a perfect up-for-grabs issue, so I'm not going to fix it.

[2015-10-09 20:00] dallonf commented on #654
I am having the same problem, but cannot work around it. If I set module to `null` or `""`, I get the error `Argument for '--module' option must be 'commonjs', 'amd', 'system' or 'umd'.`. And of course, if I remove the property, atom-typescript puts it back.

[2015-10-09 21:00] basarat commented on #651
@sickboy I've created an issue for your report : https://github.com/TypeStrong/tsconfig/issues/11

Sorry about the inconvenience but the glob library that we were using before had major performance issue + different projects were using different libs.

Moving to https://github.com/TypeStrong/tsconfig/ means that all our projects (and any other OSS projects out there than need this support) give th

[2015-10-09 21:44] #654 closed

[2015-10-09 21:47] blakeembrey commented on #651
@sickboy I'm really sorry for that regression, thanks for helping me experiment and resolve this! I'm not actually sure what was going on there, since it shouldn't resolve into that folder anyway if you're only specifying the single file glob. Please let me know if this is still broken in `v7.4.1`.

[2015-10-09 21:48] blakeembrey commented on #654
I just released a patch for `v.7.4.1`, please let me know if it resolves your problems :smile:

[2015-10-10 04:30] oshalygin commented on #326
Thanks for the tip @dantedubon, was stumbling with this in VSCode.

[2015-10-10 06:42] yoorek opened #657 "pending requests for excluded files"
(7.4.1) Compiler is kicked off with error for files in excluded folder and there are lots of pending requests.

I excluded 'dist' folder but after editing /dist/main.d.ts and saving:
- compiler tries to compile it which (why? it's excluded by filesGlob and exclude)
- error 'The xxx file is not included in compilation context.....' - if it's not included than why compile it?
- there are > 50 pendin

[2015-10-10 12:27] sickboy commented on #651
@basarat and @blakeembrey thanks a lot, the glob exclude/include works again, however now Atom does not recognize that there is a tsconfig.json for my .ts files anymore.
I wonder if it has to do with the fact that the files section now no longer contains leading "./"

[2015-10-10 15:07] HotCustard opened #658 "modifiy tsconfig"

[2015-10-10 15:07] #658 closed

[2015-10-12 12:45] arusakov opened #659 "Renaming doesn't work"
F2 button doesn't work and "TypeScript: Rename Refactor" command doesn't work too.

[2015-10-12 18:19] blakeembrey commented on #659
Do you have any more details? It works for me and that code hasn't changed in a long time.

[2015-10-12 21:51] blakeembrey commented on #634
@ralfbiedert Can you confirm whether this is still an issue on the latest release? It's since moved to a more effective glob.

[2015-10-12 21:54] blakeembrey opened #660 "Disable autocompletion after a comma"
It's kind of annoying, but I never want autocompletion after I've just pressed the comma. It happens every time and since "enter" triggers completion I've ended up with a jank workflow of pressing command, esc, enter, typing over and over again.

[2015-10-13 00:21] basarat commented on #660
Agreed. Feel free to change that by adding it here : https://github.com/TypeStrong/atom-typescript/blob/a37d592225d7be09b3f872cf7eaa37214c2a77d7/lib/main/atom/autoCompleteProvider.ts#L143-L147 :rose:

[2015-10-13 00:23] basarat commented on #659
Tested on mac (I used it this morning in my commute) and on PC.

Probably `F2` is not what you are pressing :rocket: Try using the keybinding resolver `ctrl + .`/`cmd + .`

[2015-10-13 02:26] #660 closed

[2015-10-13 06:43] s-panferov commented on #562
@basarat the issue was resoled by TypeScript team:

Issue: https://github.com/Microsoft/TypeScript/issues/5225
PR: https://github.com/Microsoft/TypeScript/pull/4911

[2015-10-13 06:46] s-panferov commented on #560
@Bobris @basarat

this is related https://github.com/TypeStrong/atom-typescript/issues/562#issuecomment-147620723

[2015-10-13 09:24] ralfbiedert commented on #634
Did a very quick check with 7.4.1 and it seems to be fixed. The number of pending requests briefly spikes up to 20, but returns to 0 after about 1s.

[2015-10-13 09:42] arusakov commented on #659
I restart Atom and it's work again... I will continue monitoring for this heisen bug.

[2015-10-13 13:50] nycdotnet commented on #657
If you have a `files` element, then `exclude` is ignored.  See the fourth bullet here: https://github.com/Microsoft/TypeScript/wiki/tsconfig.json#details

The error "not included in the compilation context" is not really an error.  It's just sort of just an FYI that if you did want this file to be compiled then it wouldn't be.  We should probably have a better visual experience for it.  Are you su

[2015-10-13 18:09] yoorek commented on #657
I know 'exclude' should be ignored but tried to keep it anyway - thought atom-typescript could use it.
And the error 'not included' does not bother me. The problem is that 'atom-typescript' tries to compile it on Save even if it should't AND it does it in the way that lots of files ends up in the queue.
Look at screenshot just after hitting CMD-S on empty d.ts file which is not on 'files' list (68

[2015-10-13 22:15] Meligy opened #662 "Non-standard tsconfig.json keys, group under atom-typescript key?"
I noticed the key `externalTranspiler` (https://github.com/TypeStrong/atom-typescript/pull/475) in the FAQ and was very happy about it. It got me quite confused when I ran `tsc` from terminal though I got different results

So, you see, this is an awesome feature (and I really mean it), but it introduces confusion, because its using what looks like TypeScript configuration `tsconfig.json`.

Would

[2015-10-13 22:43] basarat commented on #562
Cheers :rose:

[2015-10-13 22:46] basarat opened #663 "Update typescript version"
Mostly for https://github.com/TypeStrong/atom-typescript/issues/562#issuecomment-147620723

Make sure the jsx issue that was reported doesn't exist : https://github.com/TypeStrong/atom-typescript/issues/643

/cc @s-panferov ... if that issue still exists we might need to track that down first before we update typescript.

[2015-10-14 00:27] basarat commented on #662
This has been discussed before. But its a breaking change that isn't planed in the near future. Sorry :rose:

[2015-10-14 00:27] #662 closed

[2015-10-14 04:27] Meligy commented on #662
Is it possible to consider a depreciation cycle?

Deprecate the old option for a release or 2 and encourage users to move to the new keys, and eventually kill the old keys?

Thanks a lot.

[2015-10-14 04:43] basarat commented on #662
There is a concern about making these features locked into atom-ts, e.g. `filesGlob` is fairly widely supported (because it is something that really should be in tsconfig to begin with).

See previous discussion : https://github.com/TypeStrong/atom-typescript/issues/594#issuecomment-143870478 :rose:

[2015-10-15 18:40] isuda opened #664 "ModuleResolution doesn't work correctly."
I have a project with a tsconfig.json that is compiled externally (and also does not generate d.ts files).

tsc will compile the project correctly, but atom will output lots of "module not found" errors when I use the node style module resolution. When I do add `compileOnSave: true`. It warns me that "the compile failed, but the emit succeeded".

![image](https://cloud.githubusercontent.com/assets

[2015-10-15 18:55] isuda commented on #664
I should also note that changing the import to `import {Test} from "./test/index"` works, but of course, thats the same as if I were using `moduleResolution: "classic"`.

[2015-10-15 22:46] basarat commented on #664
Which version of `tsc` are you using. Importing a `.ts` file without a `.d.ts` file was only fixed 3 days ago :) https://github.com/Microsoft/TypeScript/issues/5225

But last time we updated to TypeScript latest people's code broke so haven't done a quick push. Tracking it here though https://github.com/TypeStrong/atom-typescript/issues/663 :rose:

[2015-10-15 22:46] basarat commented on #664
PS: can you copy paste the code files here ... so I don't have to setup for testing :)

[2015-10-16 00:12] isuda commented on #664
My tsc version is 1.6.2.

tsconfig.json:
[code]

main.ts:
[code]

test/index.ts:
[code]

[2015-10-16 00:29] basarat commented on #664
I just tried typescript latest locally. Bug still exists. Reported here https://github.com/Microsoft/TypeScript/issues/5277 :rose:

[2015-10-16 00:43] basarat commented on #663
Restricted by : https://github.com/Microsoft/TypeScript/issues/5278

[2015-10-16 10:23] stepancar opened #665 "autocomplete for ts npm modules not updated after change this npm module"
Hello @basarat!
I created ts npm module and use it in ts project.
After change npm module i need restart atom for update autocomplite in consumer-ts-file.

[2015-10-16 12:10] stepancar opened #666 "jsx highlighting breaks if text in span contains key words of typescript"
Hello!
this screen demonstrate this issue
![screenshot_7](https://cloud.githubusercontent.com/assets/2854910/10541215/ecfff942-7417-11e5-914a-28900d6b7999.png)
Thank you!

[2015-10-16 12:54] zimme commented on #330
There's `fs.realpath`/`fs.realpathSync` which should resolve paths over symlinks too.

[2015-10-16 18:11] basarat commented on #330
@Ciantic And you have a reference between `mylocalpackage` and `otherpackage`. Can I have a few code files pasted here so I can test it. Sorry to raise this issue from the dead :rose:

[2015-10-16 18:14] basarat commented on #666
Sample :rose:

[code]

![image](https://cloud.githubusercontent.com/assets/874898/10549613/e2de7954-748d-11e5-961f-30463db6eb56.png)

[2015-10-16 18:17] basarat commented on #665
Probably because `npm install` is external to atom and we don't do any fancy directory watching. Try sync : https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#atom-typescript-is-complaining-about-not-finding-files-or-other-weird-errors

If that doesn't work we can discuss further :rose: Closing for now.

[2015-10-16 18:18] zimme commented on #330
I have a problem with symlinks too, don't know if it's the same issue as this.

I have a project with 3 microservices. Some code are used from all 3 microservices and I have setup `.d.ts` files for a few things in one of these, and I symlink to the definitions folder in that project.

These sub-projects have separate atom projects and because of that I don't get error squiggles in the project that

[2015-10-16 18:22] basarat commented on #330
@zimme can you provide a two file repro. `a.ts` -ref-> `./b.ts` where `b.ts` is a symlink to `./foo/b.ts`. If that doesn't work ... I'll try and get a setup going here. Might be tsconfig (fileGlob) not working or `fs.exists` not working. Would be good to get a narrowed down repro

[2015-10-16 18:45] nycdotnet commented on #666
Good show old chap!

[2015-10-16 19:17] zimme commented on #330
Go into `/foo` run `atom .` see error squiggles! Atom TS can't find `b.d.ts` with the definitions.

Symlinks work in general, but when a symlinked folder have folders with symlink inside them something breaks.

https://github.com/zimme/atom-typescript-symlink-error

[2015-10-16 21:47] stepancar commented on #665
@basarat, sync not working.
If you change any typescript file and then try to select autocomple in consumer code - you can see autocomple is in actual state, but if changed ts npm module - autocomple will not updated

[2015-10-16 21:54] stepancar commented on #666
@basarat, maybe you can help me with this issue. I dont know how to fix it, and how to find reason of this behavior. But i wanna help. Thank you.

[2015-10-16 23:43] jordanbtucker commented on #163
URLs in the form of `github:user/repo` work. The `github:` protocol is required. See https://github.com/atom/apm/blob/v1.1.1/src/publish.coffee#L300

[2015-10-17 14:08] psnider opened #667 "syntax highlighting fails for optional function arguments"
Similar to #395?

The declaration in the first line has proper syntax highlighting,
...while adding a question mark in the second line removes highlighting
and the highlighting on the next line is incorrect (type is misrecognized)

<img width="423" alt="ts highlight opt args bug" src="https://cloud.githubusercontent.com/assets/940931/10559116/f594976e-74d7-11e5-82b6-d1a5f371636e.png">

This also s

[2015-10-17 14:44] hansrwindhoff opened #668 "snippets seem broken"
![untitled](https://cloud.githubusercontent.com/assets/2334281/10559321/357b0c32-74ab-11e5-833e-5a5254ffbdc6.png)

[2015-10-18 18:22] shadeglare opened #669 "Highlight breaks on long lines"
I noticed that highlight is broken for some "long expression" cases.

Example:
[code]
or a screenshot:
<img width="1035" alt="screen shot 2015-10-18 at 9 17 47 pm" src="https://github-cloud.s3.amazonaws.com/assets/995484/10565626/daaf3b00-75dd-11e5-8c4f-0aba04a7fcc4.png">

[2015-10-18 22:31] basarat commented on #666
# Basic

The issue is that the `tsx` grammar is breaking into `ts` in a string literal.

# Further info

This is the grammar file : https://github.com/TypeStrong/atom-typescript/blob/master/grammars/tsx.cson which is a shameless copy of atom-react ([current code](https://github.com/orktes/atom-react/blob/249e0fab8e540d55ed84a13b41c7aa9518146655/grammars/JavaScript%20(JSX).cson)). If the bug exists

[2015-10-18 22:33] basarat commented on #665
And sync doesn't fix this? Is there a `.d.ts` file in the npm module that *should be updated but didn't get updated*. Note that ts at the moment works best if the npm module has a `.d.ts` file generated :rose:

[2015-10-18 23:11] basarat commented on #330
@zimme git clone gave a very weird REPO :

![image](https://cloud.githubusercontent.com/assets/874898/10567239/a316f784-7649-11e5-95df-4e68aa107933.png)

The symlinks came down as Files (same as what you see online https://github.com/zimme/atom-typescript-symlink-error/blob/master/definitions/test/b.d.ts)

[2015-10-18 23:18] basarat commented on #330
Add a `filesGlob` to `tsconfig.json` and you see that b.d.ts doesn't get listed:

[code]

![image](https://cloud.githubusercontent.com/assets/874898/10567272/a6473b48-764a-11e5-89e9-18bf62768d51.png)

Marking as a bug for tsconfig.

/cc @blakeembrey

[2015-10-18 23:35] basarat commented on #669
duplicate of https://github.com/TypeStrong/atom-typescript/issues/623

Atom issue, see : https://github.com/atom/atom/issues/1667 (my comment https://github.com/TypeStrong/atom-typescript/issues/623#issuecomment-143940188) Cheers :rose:

[2015-10-18 23:35] #669 closed

[2015-10-18 23:37] basarat commented on #668
Snippets now appear at the bottom. Press the `up` key to get there *fast*:

![image](https://cloud.githubusercontent.com/assets/874898/10567344/4814a008-764d-11e5-9fd2-446ddf5394e1.png)

See https://github.com/TypeStrong/atom-typescript/issues/566 for details :rose:

[2015-10-18 23:37] #668 closed

[2015-10-18 23:37] basarat commented on #650
@yoorek quick fix. Press the `up` key to get to snippets fast ;)

[2015-10-19 01:01] hansrwindhoff commented on #668
cool, thanks for the heads up :)

On Sun, Oct 18, 2015 at 5:37 PM, Basarat Ali Syed <notifications@github.com>
wrote:

[2015-10-19 02:53] blakeembrey commented on #330
@basarat I created a branch here: https://github.com/TypeStrong/tsconfig/pull/13. Would you mind giving that a shot, and if I works I'll do a new release. I imagine that's all it takes, is enabling `follow: true` for symlinks.

[2015-10-19 04:38] basarat commented on #330
@blakeembrey yup that fixes it

![image](https://cloud.githubusercontent.com/assets/874898/10569819/5d447abe-7677-11e5-8137-a89f3dab1ef3.png)

Publish whenever :rose:

[2015-10-19 04:58] blakeembrey commented on #330
Done :+1: Release with `v2.0.1`.

[2015-10-19 04:59] basarat commented on #330
@blakeembrey I'm doing it now :rose:

[2015-10-19 05:01] #330 closed

[2015-10-19 05:03] basarat commented on #330
Fixed with `7.4.2` https://github.com/TypeStrong/atom-typescript/releases/tag/v7.4.2 :rose:

[2015-10-19 06:31] zimme commented on #330
Thank you, much appreciated. Latest release works like a charm.

@basarat I'm on OSX, and I guess that's why stuff didn't work out of the box for you.

[2015-10-19 11:01] yoorek commented on #650
Actually my team found better and quicker "fix" to multiple typescript related problems in Atom - switching back to WebStorm ;-)

[2015-10-19 11:01] #650 closed

[2015-10-19 17:45] blakeembrey opened #670 "Syntax highlighting fails with union types in parentheses"
![image](https://cloud.githubusercontent.com/assets/1088987/10585878/65ba728a-764e-11e5-880e-69cf62626da9.png)

[code]

[2015-10-19 19:57] JKillian commented on #541
Just wanted to ass a somewhat obvious note that I sometime forget (in case it will help others). The AST will only work if the file you're working with is part of the project, i.e. in `tsconfig.json`. If it's not, you'll get the blank view like above.

[2015-10-19 22:41] basarat commented on #541
Definitely. No project -> nothing works ... although not everything shows an error

[2015-10-19 23:25] #666 closed

[2015-10-19 23:37] basarat commented on #650
good call :rose: :100: :)

[2015-10-20 04:30] delebash commented on #533
Windows 10 x64

The 1.1.0 beta1 prerelease fixed this problem for me

[2015-10-20 09:53] qs-mobile commented on #670
I've done some experimenting with your code to figure out the rule that is failing.

I found a way to "fix" the highlighting by adding the space before **x** type

<img width="170" alt="screen shot 2015-10-20 at 10 39 52 am" src="https://cloud.githubusercontent.com/assets/8364210/10602164/f29d89f8-7716-11e5-9a9a-ccc14d07f8af.png">

[code]

It is related to the [type](https://github.com/TypeStrong/

[2015-10-20 09:54] sgal commented on #670
I've done some experimenting with your code to figured out the rule that is failing.

I found a way to "fix" the highlighting by adding the space before **x** type

<img width="170" alt="screen shot 2015-10-20 at 10 39 52 am" src="https://cloud.githubusercontent.com/assets/8364210/10602164/f29d89f8-7716-11e5-9a9a-ccc14d07f8af.png">

[code]

It is related to the [type](https://github.com/TypeStrong

[2015-10-20 15:57] ggrumbley commented on #549
I am having the exact same issue. I installed the typescript package in the manner described on the README but I still have no autocomplete or hover functionality. I did not see the `AtomTS: Dependencies installed correctly. Enjoy TypeScript ♥` message displayed.

[2015-10-21 06:46] ra0o0f opened #673 "intellisense for tsx files not working"
hi

after updating to 7.4.4 intellisense not working with .tsx files, snippet not working too.
ts files are ok

i tried to uninstall and reinstalling plugin, but it doesn't help either.

thanks

[2015-10-21 07:23] samuel-vincent commented on #673
Having exactly the same issue.

[2015-10-21 08:51] ralfbiedert commented on #634
Hm, I don't know if this is a regression since 7.4.1, but I just tried 7.4.4 with another big project and again I got a number of pending requests that don't go away.

<img width="843" alt="screen shot 2015-10-21 at 10 49 16" src="https://cloud.githubusercontent.com/assets/301288/10631968/9d8ab69a-77e1-11e5-82fc-d1d39fa9f08a.png">

[2015-10-21 12:40] ra0o0f commented on #673
for now stay with 7.4.3

apm install atom-typescript@7.4.3

[2015-10-21 13:32] giladgray commented on #468
+1 seeing this when I open a folder in a new window, which may or not involve restoring open windows. Either way it's the primary way in which I use Atom.

[2015-10-21 16:40] blakeembrey commented on #634
@ralfbiedert Is the `exports` key a typo?

[2015-10-21 18:32] #673 closed

[2015-10-21 18:32] blakeembrey commented on #673
@ra0o0f @samuel-vincent I just pushed a quick patch for the scope of completion and linting. Can you let me know if it works now?

[2015-10-21 18:47] blakeembrey opened #675 "Reuse Grammars from Sublime-TypeScript"
From https://github.com/TypeStrong/atom-typescript/pull/672, we should investigate if a simple npm script can be utilized to copy and repackage the grammars from Sublime.

## edits by @basarat:

We have very little custom work ...

* The top that needs to be preserved across versions: https://github.com/TypeStrong/atom-typescript/blob/729b5522cc17fc84511c05ebb5ae1812f3ec4b00/grammars/typescript.cs

[2015-10-21 18:57] ra0o0f commented on #673
@blakeembrey code completion works now, but snippet doesnt yet.

exapmle: `importr` or `import`

![image](https://cloud.githubusercontent.com/assets/2182530/10646946/c6505c90-7842-11e5-968e-67fc651c60ba.png)

[2015-10-21 19:27] blakeembrey commented on #634
Actually, I have the same issue on my project too - I just tried going back multiple versions when it was previously working and it seems I have the same issue still, not sure where or how this got introduced now.

[2015-10-21 19:37] blakeembrey commented on #634
@basarat Do you have an idea of how to debug the slowness? I can't seem to narrow it down by just throwing out guesses and globbing should not be this slow (ignore is definitely still working outside of Atom). Is there a way to `console.log` inside whatever process is running this?

[2015-10-21 19:42] blakeembrey commented on #673
Unless I'm mistaken, snippets have never been supported there. I'll open a new issue for this.

[2015-10-21 19:44] blakeembrey commented on #673
@ra0o0f Support for snippets added with `v7.4.6`

[2015-10-21 19:47] ra0o0f commented on #673
@blakeembrey thanks a lot

[2015-10-21 19:55] blakeembrey opened #676 "Review `source.tsx` usage"
I changed a few things to use `source.tsx` today, but there's a few parts in the codebase that likely need to be patched.
- `typescriptGrammar.ts` - Is this used?
- `ts-view.ts` - I think this is actually an existing issue, but it's using the `source.ts` grammar for rendering - what about when it's being triggered from a `.tsx` file?
- `settings/language-typescript.cson` - Definitely needs updatin

[2015-10-21 20:22] stepancar commented on #675
@blakeembrey, I think we should ask typescript team. Maybe they have any plans to export/support typescript grammar as any external module.
Can you [ask](https://github.com/Microsoft/TypeScript/issues), please? I don't know how to ask correctly.
Way when we just copy grammars from sublime is not good, i think

[2015-10-21 20:26] blakeembrey commented on #675
@stepancar I think it's worth investigating from the Atom side first too. If we can just convert it with a script, there's no need for a separate module or special support. As for them publishing an external module, I don't have any ideas on the format of how that would look - I haven't had enough exposure to various IDE language definitions to know if it's simple to publish a common denominator (

[2015-10-21 21:15] stepancar commented on #675
@blakeembrey i created [issue](https://github.com/Microsoft/TypeScript/issues/5356)
join to discussion :)

[2015-10-21 21:17] mjohnsonengr commented on #79
Thank you so much for supporting this!  The view is 10x better than how Visual Studio or WebStorm do it!

[2015-10-21 22:29] basarat commented on #634
Yup `console.error`. See : https://github.com/TypeStrong/atom-typescript/blob/master/CONTRIBUTING.md#debugging

Note: There are only two processes ... one managed by atom aka. the atom window that just calls our functions ... and one we run in the background so as to not block the window thread.

[2015-10-21 22:30] basarat commented on #79
:rose:

[2015-10-21 22:31] blakeembrey commented on #634
Awesome, thanks :+1: By "whatever process" I was referring to however it was managed, not the number of them, but yeah - where does the different process get started from? :smile:

[2015-10-21 22:36] basarat commented on #634
Here [in parent.ts](https://github.com/TypeStrong/atom-typescript/blob/9740e2bb3ee1ae60f24167800886c2769ded1cd3/lib/worker/parent.ts#L28)

Its a bit of a mess ... but there wasn't a good OSS typed solution for this problem at that time. I cleaned up with a concept of `contract`/`master`/`worker` using a library `simpleWorker` e.g. https://github.com/basarat/tsb/tree/master/src/server/workers/fileL

[2015-10-21 22:45] basarat commented on #676
Nope. This is the dynamic grammar that we had to disable. Feel free to delete.

Hmmm ... its a wrapper around atom's editor as used in the markdown preview (doc) : https://github.com/TypeStrong/atom-typescript/blob/master/lib/main/atom/components/ts-view.ts#L11-L12

We could pass it an attribute for `.ts` or `.tsx` logic

Maybe (i've never quite learnt text mate grammar details completely) ... `at

[2015-10-21 23:21] j-walker23 commented on #79
I am not even sure what this ticket is about but i agree with that last line for sure!! Thank you!

[2015-10-22 10:26] ralfbiedert commented on #634
@blakeembrey: Ahhh, yes, mixed it up. Now that I changed it to `exclude` it seems to work here. Thanks!

[2015-10-22 14:45] stan0227 opened #678 "tsconfig.json always save to CRLF on Windows environment"
Atom Editor now has line ending selector for selecting ending format of file.

But on Windows environment even I try to select LF format for tsconfig.json which always be saved to CRLF format.

Does it have limitation to solve the issue? Thanks a lot!

[2015-10-22 16:15] mjohnsonengr opened #679 "Go To Declaration should center cursor"
When I press F12 to go to a declaration, the cursor is moved to the destination line and the view scrolls such that the destination is very close to the bottom of the visible area.  It would be nice (and maybe others would agree) if the view adjusted so that the destination line shows up at approximately the middle of the visible area.

My justifications for this suggestion are two-fold, although

[2015-10-22 16:21] mjohnsonengr commented on #679
I missed the point that may seal the deal.

About 80% of the time that I use Go To Declaration, I'm navigating to a method, and will most likely be looking at the following 10-20 lines very soon after this action.

I keep thinking that other people will probably prefer this differently, which indicates that this might be a candidate for a customization option.  Correct me if it already is and I mi

[2015-10-22 18:05] KapuzenSohn commented on #647
Got the same error.
I am using Atom `1.1.0-beta.1`
Plugin version is: `7.5.0`

The error opens as soon as I open a .ts file. Even more errors show up when I move the mouse.
I tried reinstalling the plugin and also build atom new

[2015-10-22 19:45] mjohnsonengr opened #680 "less than combined with typecast causes bad syntax highlighting"
Being fairly new and ignorant in the ways of Atom, I don't know if this belongs here or Atom, but assume somebody would correct me if I'm putting this in the wrong place.

I have a code file where the bottom half of it is all yellow for some reason.  It appears to be triggered by the combination of less-than and a typecast inside a for loop.  By removing either the typecast or the less than, the s

[2015-10-22 20:26] blakeembrey commented on #678
Looks like it's currently done intentionally and can't be changed (https://github.com/TypeStrong/atom-typescript/blob/master/dist/main/tsconfig/tsconfig.js#L422). The fix here would be to detect the current line endings, like we do with indent, and stringify it back the same.

[2015-10-22 21:14] proff321 opened #681 "TypeScript Compilation Context Issue"
## The Issue

A file named `acs.ts` resides within the project in subfolder `controllers`.  When the file is opened in Atom an error stating that the file is not included in the TypeScript compiler's context appears.  When referencing `tsconfig.json` the `"files":[]` property contains the relative path to the `acs.ts` file and is saved to disk.

If the user clicks on the file reference link in the

[2015-10-22 22:37] basarat commented on #647
We now have two reports on beta channel .... getting self ready for lots of complaints after beta becomes main :) **deep breaths**

[2015-10-22 22:40] basarat opened #682 "Import pinkiepromise.d.ts"
To overcome tsconfig compile issue. (if you F6 the whole atom-typescript project you will see what I mean quite easily)

[2015-10-22 23:09] robyoder commented on #670
+1

Thanks for the workaround, @sgal!

[2015-10-22 23:44] snowcxt commented on #458
updated to 7.5.0. It seems that it doesn't work at all (not just incorrectly).

[2015-10-23 00:28] snowcxt commented on #458
Also tsx files can't figure out the import-require path and no underline anymore.

![image](https://cloud.githubusercontent.com/assets/1463415/10681809/13e26a26-78e2-11e5-92c7-6889ccff40e5.png)

[2015-10-23 00:35] basarat commented on #458
* The scope renames from `.ts.tsx`  to just `.tsx` broke the formatting (basically keybindings broke).
* still need to look at `import-require`

Expect a fix today :rose:

[2015-10-23 00:35] basarat commented on #458
/cc @blakeembrey just for your info :) I'm working on it :rose:

[2015-10-23 00:48] blakeembrey commented on #458
Sorry! Thanks so much :+1:

[2015-10-23 00:51] basarat commented on #458
Fixed with https://github.com/TypeStrong/atom-typescript/releases/tag/v7.5.1 :rose:

[2015-10-23 00:51] #458 closed

[2015-10-23 01:00] basarat commented on #678
Also the setting needs to be sent from the front end process to the backend process (which is the main reason it hasn't been done yet)

[2015-10-23 01:02] basarat commented on #681
I've had atom open 10s of tabs on error click as well. The api we use is fairly simple : https://github.com/TypeStrong/atom-typescript/blob/c0d11587e70b54272d7b5ad4497dd5fa35b88fe1/lib/main/atom/gotoHistory.ts#L17-L20

In the absence of repro I've failed to report it to atom/atom myself as well

[2015-10-23 01:06] basarat commented on #680
Belongs here. Bug in the grammar : https://github.com/TypeStrong/atom-typescript/blob/master/grammars/typescript.cson
up for grabs :rose:

[2015-10-23 01:08] basarat commented on #679
We just ask atom to bring the line in view : https://github.com/TypeStrong/atom-typescript/blob/c0d11587e70b54272d7b5ad4497dd5fa35b88fe1/lib/main/atom/gotoHistory.ts#L17-L23

If atom provides an API will will use it ... if not don't feel like writing / maintaining it. Sorry :rose: but a good suggestion nonetheless.

[2015-10-23 01:09] basarat commented on #679
Leaving open in case someone files the API endpoint :rose:

[2015-10-23 04:48] snowcxt commented on #458
Works now. Thanks so much :+1:

[2015-10-23 19:03] proff321 commented on #681
Okay, well that helps to mitigate one bug that was discovered.  Do you have any any ideas about why a file that is clearly included inside of the `tsconfig.json` `"files":[]` property would cause the compilation context error to appear?

[2015-10-25 17:13] DCStudios commented on #647
Same error.
Atom version 1.1.0-beta.1
atom-typescript version 7.5.1

As mentioned, error pops when open a .ts file,
when mouse move, but also each time I click.
The error says :
[code]

Because any mouse move pops a new error bubble,
working with the plugin is impossible,

[2015-10-26 07:01] cebor commented on #315
:+1:

[2015-10-26 18:57] adidahiya opened #684 "Support stripInternal compiler option"
atom-typescript v7.5.1 complains about `Unknown Option: stripInternal` in tsconfig.json, but it works with `tsc` just fine.

https://github.com/Microsoft/TypeScript/wiki/Compiler-Options

[2015-10-27 00:37] #663 closed

[2015-10-27 01:01] basarat commented on #681
nope :-/

[2015-10-27 03:16] #684 closed

[2015-10-27 03:19] basarat commented on #684
Released : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.6.1 :rose:

[2015-10-27 09:15] andrew-w-ross commented on #315
+1

[2015-10-27 11:58] Sleeckx opened #685 "tsconfig.json not found as of 7.6.x with custom typescriptServices.js"
After upgrading to 7.6.0 atom-typescript reports no tsconfig.json found.
I reverted to 7.5.1 at then it works again.

My project structure is as follow:

[code]

tsconfig.json has the following content:

[code]

[2015-10-27 14:39] adidahiya commented on #684
@basarat thanks!

[2015-10-27 14:57] mjohnsonengr opened #686 "Intellisense for overloaded methods and constructors"
This might be candidate for being broken up, but before I flood the issue log with a bunch of stuff, I want to make sure these are valid here.  Some may be non-issues and some may actually be in the scope of autocomplete-plus.

What works: When I hover over a method, I can see it's signature.  When I press Ctrl+Space to activate autocomplete-plus, I see the method signatures in the autocomplete li

[2015-10-27 15:25] samu commented on #685
:+1: same problem here. Stopped working with latest release.

[2015-10-27 15:32] samu commented on #685
resolved with `7.6.3`

Thanks, that was quick!

[2015-10-27 15:39] Sleeckx commented on #685
Hmm, not here. I'm still getting "no tsconfig.json". Going back to 7.5.1 still fixes it for me so I don't think it's a local problem.

[2015-10-27 18:09] avarices opened #688 "Name property for function"
Currently the below code is seen as incorrect by you guy's package, but the code runs just fine. As far as I know the following code has worked since node.js 4.0, maybe even node.js 0.12.x. I'm not entirely sure because I was using io.js for a while and it's always had that feature for as long as I used it but, after moving to typescript and node.js 4.0 it seems maybe nodejs 0.10.x didn't have the

[2015-10-27 18:35] blakeembrey commented on #688
@avarices This is an issue with the type definition you're using. Since `Function.prototype.name` wasn't 100% standard, it's not included in the TypeScript `lib.d.ts` file. You'll need to add this to the type definition to work out of the box, or coerce the variable using TypeScript.

Reference: https://github.com/Microsoft/TypeScript/blob/master/lib/lib.d.ts#L229-L258

You can also do:

[code]

[2015-10-27 18:35] #688 closed

[2015-10-27 19:31] daniel-a-melo commented on #685
If I configure the full path of `typescriptServices.js` it doesn't find the `tsconfig.json` file. If I leave the config empty (and therefore it will used the bundled `ntypescript` it does work correctly.
atom-typescript version 7.6.3, atom 1.0.11

[2015-10-27 21:30] avarices opened #689 "Syntax Highlighting breaks for implements if followed by extends"
If you insert the following code into atom, typescript will color the last class improperly

    interface SomeInterface {

    }

    class ParentClass {
        constructor() {

        }
    }

    class MyClass extends ParentClass implements SomeInterface {

        constructor() {
            super()
        }

    }

Here is an image to show you what I mean
![Image of syntax highlighting bug

[2015-10-27 23:10] basarat commented on #689
Up for grabs for now

[2015-10-27 23:27] basarat commented on #686
Create a seperate issue. Belongs here, but we will probably defer to Microsoft/TypeScript as the language service endpoint probably doesn't provide this :rose:

Not sure what you meant. It only works at the root `()`  (same limitation applies for plain functions):

![image](https://cloud.githubusercontent.com/assets/874898/10775639/50bc90d6-7d5e-11e5-9c22-73c83cf1350a.png)

Create an issue along t

[2015-10-27 23:27] #686 closed

[2015-10-27 23:32] basarat commented on #688
depends on where you run it. Don't run it on IE :rose:

![image](https://cloud.githubusercontent.com/assets/874898/10775736/14ab2eb2-7d5f-11e5-8c43-4c21fb9243ef.png)

[2015-10-28 07:22] j-allard opened #690 "Autocomplete is really slow and linter is confused using atom 1.0.19 and atom-typescript 7.6.3 on Ubuntu 15.04"
The autocomplete and the linter are acting weird and slow.
Let me know if any other info could be useful.
Here's some recording of what I'm talking about:
![atom-slow-ts](https://cloud.githubusercontent.com/assets/943725/10781733/38ad73a4-7d20-11e5-9c20-63a849074c80.gif)
![pending-request](https://cloud.githubusercontent.com/assets/943725/10781873/d0f1b62e-7d21-11e5-9e28-af9aaf6b39e6.gif)
![pendin

[2015-10-28 11:22] Sleeckx commented on #685
Can confirm. Removing the custom path to ```typescriptServices.js``` also fixes it for my project.

[2015-10-28 13:33] hiscodeness opened #691 "Incorrectly marked errors before a file is saved."
Just updated to atom-typescript 7.6.3. I see a lot of incorrectly marked errors while editing a file and it is highly distracting:
![image](https://cloud.githubusercontent.com/assets/8625258/10789932/06d75732-7d89-11e5-9987-f4e7971096de.png)

Simply saving the file makes atom 're-evaluate' the contents and all incorrectly marked errors disappear:
![image](https://cloud.githubusercontent.com/assets

[2015-10-28 13:34] hiscodeness commented on #691
Restarting the editor fixed this issue.

[2015-10-28 13:34] #691 closed

[2015-10-28 22:02] j-allard commented on #690
Tried rebooting and it appears to be working correctly :confused:

[2015-10-28 22:02] #690 closed

[2015-10-28 23:03] basarat commented on #685
I've renamed the title. If people not using `typescriptServices` also have the issue please concern (or create a new issue) :rose:

[2015-10-28 23:08] basarat commented on #685
I've looked at the code. [Here we just delegate](https://github.com/TypeStrong/atom-typescript/blob/8a597435c100ad2f5000ed5280bd53375247a467/lib/main/tsconfig/tsconfig.ts#L360-L365)  to the [tsconfig `resolveSync` function](https://github.com/TypeStrong/tsconfig/blob/ea9f710a30bf364c86993abfbd7b92ee376e0b61/src/tsconfig.ts#L55-L68)

Can someone using typescriptService put a `console.error` our [co

[2015-10-28 23:54] basarat commented on #691
Try sync next time ... its faster https://github.com/TypeStrong/atom-typescript#sync

[2015-10-29 08:54] tjoskar commented on #624
I have the same problem.
I can't say when or why it happens, it just do. I'm using this addon every day and it may happens once a week (ie. not so often) and it is often solved by exit Atom, wait for a few minutes (≈10 min) and starting atom again.

[2015-10-29 14:02] arusakov opened #692 "7.6.3 doesn't work es6 target"
tsconfig.json:
[code]
My index.ts:
[code]
Build with F6 and index.js:
[code]

[2015-10-29 20:52] slikts opened #693 "noImplicitAny error in tsc missing in atom-ts"
tsc version 1.6.2
##### tsconfig.json:

`{
  "compilerOptions": {
    "noImplicitAny": true
  },
  "files": [
    "index.ts"
  ]
}`
##### index.ts:

`let foo = {}; foo["bar"];`

tsc error:

`index.ts(1,15): error TS7017: Index signature of object type implicitly has an 'any' type.`

The same error should be in atom-ts but isn't.

[2015-10-29 21:12] slikts commented on #693
One more error that atom-ts doesn't show:

[code]

[2015-10-29 23:18] TheTedAdams commented on #647
Just installed atom-typescript from apm on a fresh installation of Atom 1.1.0 and am observing this error. Any mouse movement over the file causes atom-typescript to attempt to call this function in tooltipManager.

[2015-10-30 00:12] fcoury commented on #647
Submitted a pull request that fixes this. Apparently `getScrollTop()` and `getScrollLeft()` was moved to the `editor`.

[2015-10-30 00:13] enriched commented on #647
Dang, beat us to it.

[2015-10-30 00:16] fcoury commented on #647
@enriched :grinning:

[2015-10-30 00:19] fcoury commented on #647
Quick fix for people coming here from Atom 1.1.0:

[code]

Then quit and restart Atom.

[2015-10-30 00:34] TheTedAdams commented on #647
Can confirm fcoury's sed fix works.

Found the Commit where they removed the method from display-buffer:
https://github.com/atom/atom/commit/535a9da94657f92498f8bc7f3f27c07c779555d6

[2015-10-30 00:40] basarat commented on #647
released https://github.com/TypeStrong/atom-typescript/releases/tag/v7.6.4 :rose:

[2015-10-30 01:35] mrkishi commented on #647
@basarat: The fix is not actually included in the release.

[2015-10-30 01:49] basarat commented on #647
Indeed. The PR : https://github.com/TypeStrong/atom-typescript/commit/8a6368e7f1930866a2c2c3580a7c2e98ec2dd928 was on a `.js` file! I'll do a new release (and test it still works) when I put out some other fires ....

[2015-10-30 02:02] basarat commented on #647
Fixed with https://github.com/TypeStrong/atom-typescript/releases/tag/v7.6.5 :rose: Phew https://github.com/TypeStrong/atom-typescript/compare/v7.6.4...v7.6.5

[2015-10-30 07:22] basarat commented on #692
Sorry, you can watch this issue and till it gets resolved lock your atom-typescript to an earlier version. `apm install atom-typescript@versionWhichWorksForYou` :rose:

Duplicate of https://github.com/Microsoft/TypeScript/issues/5110 and https://github.com/TypeStrong/atom-typescript/issues/643

[2015-10-30 14:37] slikts commented on #693
Forgot to mention that atom-ts version is 7.6.3.

[2015-10-30 15:32] fcoury commented on #647
Sorry for the noob mistake @basarat @mrkishi

[2015-10-30 21:16] #643 closed

[2015-10-30 21:16] #692 closed

[2015-10-30 21:21] basarat commented on #692
Fixed : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.7.0

[2015-10-30 21:21] basarat commented on #643
Fixed : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.7.0 User action required :rose:

[2015-10-30 21:22] basarat commented on #643
Tsconfig / TypeScript : for people using `"target" : "es6"` they should now also use `"module": "es6"` in tsconfig `compilerOptions

[2015-10-31 01:10] AngelMunoz commented on #647
hello! It's happening to me in version 7.7.0  with atom 1.10 :(
reinstalled twice :(

[2015-10-31 02:16] jbeck111 commented on #647
And me. Sorry guys but it's not fixed. Everything up to date here with 7.7.0 and atom 1.10.

[2015-10-31 04:38] basarat commented on #647
@AngelMunoz @jbeck111 are you sure its this package and not *minimap* or something else?

[2015-10-31 05:02] AngelMunoz commented on #647
Well, I'll try first hour in the morning,  with the minimap uninstalled not able to test right now :(

Sent from Outlook

On Fri, Oct 30, 2015 at 9:38 PM -0700, "Basarat Ali Syed" <notifications@github.com> wrote:

@AngelMunoz @jbeck111 are you sure its this package and not minimap or something else?

—
Reply to this email directly or view it on GitHub.

[2015-10-31 07:23] jbeck111 commented on #647
@basarat  It's not minimap - I don't use it. But for me the problem is now gone. I was tinkering with the tsconfig.json and making the file list from the filesGlob. I saw your question and re-opened Atom to check on the problem - but it's gone. Sorry!

[2015-10-31 07:32] yoorek opened #695 "330 releases in 1 year?"
Releasing every 1-3 commits, 2-4 times a day? Really?

[2015-10-31 07:53] johnnyreilly commented on #695
Never heard of continuous delivery? :smile:

[2015-10-31 08:08] yoorek commented on #695
Yep, it's a new trend - Extreme Continuous Delivery ;-)

[2015-10-31 11:49] stacklance opened #696 "Support for refactor-move"
when moving a .ts or .tsx file from one location to another, it would be really nice if all the import paths updated correctly, both for all the import paths within the moved file and those import paths in other files that reference the moved file.

[2015-11-01 02:58] basarat commented on #695
:rose:

[2015-11-01 02:58] #695 closed

[2015-11-01 03:00] basarat commented on #696
Duplicate of https://github.com/TypeStrong/atom-typescript/issues/240 If atom provides an endpoint I'd be happy to do the TS work :rose:

[2015-11-01 03:02] basarat commented on #693
They can be used in TypeScript latest (the version we are using) :rose:

That still needs analysis. Marking as up for grabs :rose:

[2015-11-01 03:10] basarat commented on #624
Thanks for the tip. I happened to me once and it just completely drove me insane that I had to keep restarting atom (it locks up because of this as well) .... and after a while it was all good. I assumed it was an Atom bug that they fixed ... now I know its just photons

[2015-11-01 20:51] mjohnsonengr commented on #686
Will do.

There is more to say about this problem as I only gave you one case; Since I saw your example worked (and indeed it worked in my environment), I played around a little bit and saw that in your example, if you overload the constructor to also take no arguments, e.g.

    class Foo {
        constructor();
        constructor(foo:string);
        constructor(foo?:string){}
    }

then acti

[2015-11-01 20:58] mjohnsonengr opened #697 "only first signature shown when hovering over overloaded method"
From https://github.com/TypeStrong/atom-typescript/issues/686, when hovering over a method, if the method is overloaded only the first signature is shown and there is no way to show the other signatures (desirable functionality)

![example](https://cloud.githubusercontent.com/assets/7274059/10761557/8cab9010-7c87-11e5-8312-afe3e8503e99.png)

[2015-11-01 21:01] mjohnsonengr opened #698 "partial function argument snippet completion"
From https://github.com/TypeStrong/atom-typescript/issues/686 at the direction of @basarat

Activating auto-complete (Ctrl+Space by default on Windows) only works at the beginning of a method, e.g. `foo(/*here*/"some string", 123);`

It is desirable that it would also work at other locations in the argument list, such as `foo("some string",/*here*/ 123);`

[2015-11-01 21:09] kaffeebaum opened #699 "error window overlaps cursor position"
If I am editing a line near the bottom of the screen, the error window that pops up hides the line that I am currently editing. Is there some setting to fix the height of the error window at the bottom?

![atom](https://cloud.githubusercontent.com/assets/15579350/10871333/5a76029a-80e4-11e5-9a83-e3fc10eaf876.gif)

[2015-11-01 22:33] basarat commented on #699
There are two issues here ... Our *error summary* and the error list from atom/linter https://github.com/atom-community/linter.

![image](https://cloud.githubusercontent.com/assets/874898/10871775/9db6adc4-8144-11e5-8c9d-be88b2bf318d.png)

**LINTER** Click on `file` to toggle it so that it doesn't expand on typing. Let us know if its unclear :rose:

**OUR** For our error summary: @blakeembrey its

[2015-11-01 23:08] basarat commented on #686
A new issue. As its easier for me to mark as up for grabs and people don't need to read all that has been said here :rose:

[2015-11-02 09:35] MMasey commented on #647
Getting the same error, i was not experiencing this yesterday. Here's my stack trace.

Many thanks.

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v7.4.4

### Stack Trace

Uncaught TypeError: editor.displayBuffer.getScrollTop is not a function

[2015-11-02 19:22] kaffeebaum commented on #699
"Disabling" the linter worked fine, it makes the situation already a lot better.

[2015-11-02 21:55] slikts commented on #678
Using a separate file instead of `tsconfig.json` would be even better, especially since TS now [supports comments](https://github.com/Microsoft/TypeScript/issues/4987) in `tsconfig.json`.

[2015-11-03 00:31] sgal commented on #681
@basarat  I've been able to fix the multiple tabs opened when clicking on the error in the bottom panel (TS panel, not linter). Check the pull-request.

The problem was fairly simple - when you set the summary info in the TS panel you also adding a click listener to it by calling
[code]
But when you need to clear the error, it's just set innerHTML to empty string, but does not remove the onclick l

[2015-11-03 00:55] basarat commented on #681
A long term fix would be to move to something like react and use its diffing and event delegation (single event handler) to not have to worry about trivial stuff like this. Checkout :  https://github.com/TypeScriptBuilder/tsb/blob/7030bf44d1e3ff0d4d8ac56268120e6775cf3310/src/app/statusBar.tsx#L73-L103

Once that project is stable I'll start pushing code back here :rose:

[2015-11-03 01:09] basarat opened #701 "No longer rewrite tsconfig.json `files` section"
Tsconfig now supports comments : https://github.com/Microsoft/TypeScript/pull/5450/files

It's already difficult to rewrite tsconfig.json (to keep the filesGlob in sync). People have complained about merge conflicts https://github.com/TypeStrong/atom-typescript/issues/266  and options like formatting : https://github.com/TypeStrong/atom-typescript/issues/678

I'm thinking of disabling `files` rewr

[2015-11-03 01:23] blakeembrey commented on #701
I'm cool with it, but I can see it breaking a lot of peoples workflows after exploring some of the issues here around `tsconfig`. Maybe we need to pull it into `tsconfig` and/or provide a CLI for those users, but note a comment caveat. Or just leave it as an option and disable it going forward.

For tooling, anything using `tsconfig` will continue support `filesGlob`. I don't think there's much us

[2015-11-03 02:10] ku-kueihsi opened #702 "Why block comment "/* */" is preferred?"
Is there is way we can change it back to regular "//" comment? I can find it in the setting.

[2015-11-03 02:18] nycdotnet commented on #701
I like the current behavior, but I'm not going to fight for it if you're unwilling to support it anymore.  I do think that it would be fine to have the default atom-typescript-created tsconfig.json exclude `node_modules` and to not use the `files` or `filesGlob` properties, for example.

[2015-11-03 02:27] basarat commented on #701
I guess the issue is that on bad atom days (and they tend to happen), they would not have another fallback IDE to support their code :-/

Will provide an option to stop expansion for those that care about their comments + formatting. The rest can use it as it stands now

Will create a seperate issue to track that. Thanks! :rose:

[2015-11-03 02:27] #701 closed

[2015-11-03 02:31] basarat opened #703 "Option to prevent rewriting tsconfig.json file"
For people that don't care about keeping `files` in sync (for other IDE use) or just don't want us messing with their `tsconfig.json` file formatting, provide an option to disable tsconfig.json overwriting

* [x] Add some place to use this setting (the simplest location would be to use `tsconfig.json` as that file is available to `tsconfig.ts` (our code that rewrites `tsconfig.json`)
* [x] Add cod

[2015-11-03 02:39] #702 closed

[2015-11-03 02:41] basarat commented on #702
Thanks for reporting. Fixed :rose: https://github.com/TypeStrong/atom-typescript/releases/tag/v7.7.2

[2015-11-03 10:38] mrmckeb commented on #552
I'd like to point out that this package is much slower on a lower powered device. On my Surface Pro 2 (mid-range in power) this package is often over 5 seconds - I've seen it take 6+ seconds.
![image](https://cloud.githubusercontent.com/assets/5043083/10906136/2826a87c-8273-11e5-8382-d8fa56da93d0.png)

[2015-11-03 11:21] cebor commented on #695
+1 for a weekly release cycle!

[2015-11-03 11:57] universalien opened #704 "Atom 1.1.0 atom-typescript installation problem"
Atom 1.1.0 on Windows 8.1

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: EPERM, open 'C:\Users\LOKALH~1\AppData\Local\Temp\apm-install-dir-115103-3428-af9cky\node_modules\atom-typescript\node_modules\babel\node_modules\babel-core\node_modules\core-js\library\modules\core.log.js'

Cannot find module 'jquery'
Hide Stack Trace
Error: Cannot find module 'jquery'

[2015-11-03 12:36] poelstra commented on #695
Maybe we can have it both ways: would it be possible to publish the
'dailies' to @next, and e.g. once a week pick something that has proven
to be stable as @latest?

That way people will have a stable experience by default, and can opt-in
to the bleeding edge.

On 2015-11-03 12:21, Felix Itzenplitz wrote:

Links:
------
[1]
https://github.com/TypeStrong/atom-typescript/issues/695#issuecomment-1533

[2015-11-03 16:05] vnabet commented on #704
Same here with the atom-typescript 7.7.2 version update. (EPERM error)
It was fixed with an atom-typescript uninstall/re-install

[2015-11-03 20:54] basarat commented on #695
@cebor you can run updates on a weekly basis on a day that suits *you* best :rose:

@poelstra nice idea. The conventional way of doing this in atom is create *two* packages e.g in this case it would be `atom-typescript-beta`. Don't feel like going through that overhead just yet. Noted though :rose:

[2015-11-03 22:54] JKillian commented on #703
(+1) We're using `grunt-ts` to update the files on compile and it writes paths/orders them a little different than `atom-typescript`. It would be great to have a way to disable auto-updating `files`.

[2015-11-04 08:05] yoorek opened #705 "Renamed/deleted files with errors stays in error panel - restart required"
When I delete file with error or change it's name error stays in error panel of "opened files" (even it's not opened) - refresh button does not help, re-build does not help. Need to restart Atom to get rid off error.

<img width="858" alt="zrzut ekranu 2015-11-04 o 08 58 43" src="https://cloud.githubusercontent.com/assets/271500/10932683/0061c032-82d3-11e5-83a8-5529d50126df.png">

[2015-11-04 11:32] cubuspl42 commented on #545
Any news? I don't wanna see that CRs :(

[2015-11-04 14:10] chapati23 commented on #221
agree, this would make life so much better

[2015-11-04 16:32] slikts commented on #703
The current atom-ts options in `tsconfig.json` have the problem of being easy to confuse with the default TS options, especially to people unfamiliar with atom-ts. Adding more options would make this problem worse, so new options should at least be under a separate key to make it clear what they belong to.

[2015-11-04 17:41] basarat commented on #703
:+1: in this case as we want grunt to ignore this option

[2015-11-04 18:16] blakeembrey commented on #703
If it's going to be a key in `tsconfig.json`, it should be default off otherwise people need to add implementation specific details to disable implementation specific features. I would prefer a checkbox in the atom package itself. I personally don't use any of the auto-updating in any packages, but I know it's always possible that I'd end up consuming one.

[2015-11-04 22:15] chadaustin opened #706 "parenthesized types break highlighting"
[code]

breaks highlighting for the rest of the file.

[code]

works fine.

[2015-11-05 01:37] basarat commented on #704
since this is windows, sounds like https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#failed-to-update

@universalien please comment if uninstall / install doesn't work for you :rose:

[2015-11-05 01:37] #704 closed

[2015-11-05 01:38] basarat commented on #704
Potential dupe https://github.com/TypeStrong/atom-typescript/issues/195

[2015-11-05 02:06] basarat commented on #706
Verified. Up for grabs :rose:

[code]
![image](https://github-cloud.s3.amazonaws.com/assets%2F874898%2F10958023%2F037a12d8-83be-11e5-9130-c537ec1e05c3.png)

[2015-11-05 02:08] basarat commented on #705
Yeah, the `no project file found` error is more sticky and only goes away *if you create the tsconfig file using the provided command*.

Up for grabs :rose:

[2015-11-05 07:54] yoorek commented on #705
Look closer at the screenshot - it complains about "no tsconfig" for file that is both CLOSED and DELETED (in .Trash folder) - how "create the tsconfig file using the provided command." would help? You suggest that I I create tsconfig for Trash files, quite hilarious :-)

[2015-11-05 09:35] ericmdantas commented on #647
Same bug here.

[2015-11-05 14:05] zimme opened #707 "Syntax Highlighting not working for function shorthand in objects"
[code]

[2015-11-05 20:34] basarat commented on #705
Such trash talk 🌹

[2015-11-06 00:00] basarat commented on #707
Verified bug:

[code]

![image](https://cloud.githubusercontent.com/assets/874898/10985450/74da2104-8475-11e5-991e-3f902b8e867f.png)

[2015-11-06 02:42] basarat commented on #680
@mjohnsonengr was this a tsx file?

[2015-11-06 02:43] basarat commented on #680
Answered my own question. Ts file
![image](https://cloud.githubusercontent.com/assets/874898/10987971/52d1a994-848c-11e5-8804-57d6e62830aa.png)

[2015-11-06 06:35] blakeembrey commented on #675
:tada: It's done. We should be investigating this soon, would be easy enough to use a script to convert into the format Atom uses. It looks like they're going to add a testing framework too, so that sounds like a huge win against maintaining the grammar here.

[2015-11-06 12:23] sgal commented on #675
@blakeembrey As far as I see, those grammar files are just imported from Sublime Text package, so it's not a "real" TS grammar from MS. See https://github.com/Microsoft/TypeScript-TmLanguage/issues/1

We indeed should track the progress there, but I guess it's too early to integrate it here.

[2015-11-07 01:16] LivesleyWA opened #708 "Multiple tsconfig.json files - files section no longer updated"
I have a project with two tsconfig.json files. Used to update the files section of both. No longer works - one does the other does not.

[2015-11-07 01:48] LivesleyWA commented on #708
This seems to be a wider problem. I have a project where none of the tsconfig files entries are being populated. Same general entries and it was working before the latest updates so I don't think it's the tsconfig file.

[2015-11-07 18:54] kalaomer commented on #67
Is this setting available now? I can't find it.

[2015-11-07 22:20] basarat commented on #67
@kalaomer  We ended up making it a part of compileOnSave : https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md

[2015-11-07 22:40] kalaomer commented on #67
Oh, thanks!

[2015-11-08 23:15] Chocoloper commented on #647
hey got the same bug.

atom 1.1.0
atom-typescript 7.7.2

in my TooltipManager.js the following line (49) is the problem:
"        pixelPt.top += editor.getScrollTop();"
The fix of @fcoury which made it to 7.7.2 didn't solve the problem.
Found the function in following file of the atom (stable/1.1.0) atom project.
https://github.com/atom/atom/blob/stable/src/text-editor.coffee

[2015-11-09 04:18] NoctisHsu opened #709 "Uncaught TypeError: Promise.defer is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.1
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v7.7.2

### Stack Trace

Uncaught TypeError: Promise.defer is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-09 04:39] basarat commented on #709
But it is a function ...

![image](https://cloud.githubusercontent.com/assets/874898/11026003/7b4f0930-86f7-11e5-8af9-02b038c9eebd.png)

can you open your dev console in atom and type in `Promise.defer` to confirm :rose: It's provided by v8 (node and chrome)

![image](https://cloud.githubusercontent.com/assets/874898/11026048/1a875c50-86f8-11e5-83be-24db0014a1bb.png)

[2015-11-09 07:28] DonSanto opened #710 "Preferred quote character fails"
Adding a single quotation mark in the settings for "preferred quote character" does not remove the warnings that single quotes should be double quotes.

[2015-11-09 18:06] NoctisHsu commented on #709
![image 2015-11-10 at 2 05 41](https://cloud.githubusercontent.com/assets/1920503/11041990/9e7c2430-874f-11e5-8ad0-722d3e755d2c.png)

the error in console

[2015-11-09 18:15] NoctisHsu commented on #709
![image 2015-11-10 at 2 05 41](https://cloud.githubusercontent.com/assets/1920503/11042189/b27fd5c0-8750-11e5-9c8f-fbdd9551ee14.png)

the promise function is define at there , but it is not contain defer() :(

[2015-11-09 18:38] blakeembrey commented on #709
@NoctisHsu The issue is some other package is overriding the `Promise` library built into node. I'd check where that's coming from, and open an issue there.

@basarat `Promise.defer` isn't part of the A+ spec either, is it possible to avoid it?

[2015-11-09 18:51] NoctisHsu commented on #709
@blakeembrey You are right! The promise function is overridden by 'advanced-open-file' package.
When I remove it ,atom-typescript is working fine.

[2015-11-09 18:54] blakeembrey commented on #710
@DonSanto Do you have more details (screenshot, error message, etc) for this? It sounds like this is coming from a linter, and not from `atom-typescript`.

[2015-11-09 20:17] Chocoloper commented on #647
Somehow i tried to look intoi the problem and started atom directly from the directory i installed it in to take a look at stdout/stderr.
Since then I had no error. Even when I started it like before again. The fix of @fcoury seems to work no. I really don't understand it but I'm happy now.

I also could reproduce it on another machine where I had the same issue.

Can somebody try it out???? I jus

[2015-11-09 21:33] enriched commented on #647
@Chocoloper Is it possible that you have multiple installations of atom on your machine?

[2015-11-09 21:45] Chocoloper commented on #647
hmm I'm unsure about that. I installed it via following ppa: `ppa:webupd8team/atom` and also got my update via it. after the update to 1.1.0 I got the error. As I also had the old atom-typescript version with `editor.displayBuffer.getScrollTop()` I updated to 7.7.2 with the fix. The fix didn't worked for me. After the direct start via `/opt/atom/atom` instead of starting it via the atom.sh it star

[2015-11-09 23:00] basarat commented on #709
@blakeembrey I was lazy. Feel free to create an issue and mark it as up for grabs :rose:

@NoctisHsu Cheers :rose: Closing as the issue is not in this package.

[2015-11-09 23:00] #709 closed

[2015-11-10 08:30] DonSanto commented on #710
@blakeembrey Thanks, nice one. Indeed it was a linter issue. linter-tslint seams to not approve single quotes characters.

[2015-11-10 16:18] sszuflita commented on #703
This feature is fairly annoying for my project's setup and I'd be happy to implement this. I'm currently having some trouble getting the project to build; are their docs on this?

When I run grunt, I get a ton of errors like:

atom-typescript/lib/main/atom/typescriptGrammar.ts(183,53): error TS2503: Cannot find namespace 'ts'.
atom-typescript/lib/main/lang/core/project.ts(43,32): error TS2304: Can

[2015-11-10 16:23] quadrophobiac commented on #707
Hi there, I'm interested in picking up this bug to work on. I've developed on Electron in the past (most recent PR here https://github.com/theodi/comma-chameleon/pull/76) and hacked away at Atom getting a few personal workflows in place. Can I proceed on working on this?

[2015-11-10 16:45] blakeembrey commented on #710
There's a configuration option for that in `tslint`. Take a look at the README (https://github.com/palantir/tslint) and usage (https://github.com/typings/cli/blob/master/tslint.json#L72).

[2015-11-10 16:45] #710 closed

[2015-11-10 18:48] ssorallen opened #711 "Shouldn't depend on 'linter'"
While this package does provide a "linter" service, 'linter' is not actually a dependency of this package. Because of that dependency, installing 'atom-typescript' also installs 'linter' even if you don't want that functionality.

The 'package-deps' section could be removed.

[2015-11-10 19:28] mLaird opened #712 "problem with - import {ROUTE_PROVIDERS, Router, etc.}"
The import in the title generates - Error Module '"angular2/router"' has no exported member 'ROUTER_PROVIDERS'  Compile fails, but emit occurs, and the page loads successfully.  When I remove ROUTE_PROVIDERS,  compile and emit occur, but the page does not load.  I'm using angular2 alpha.45.  Bottom line:  ROUTE_PROVIDERS is now necessary, but some part of atom or atom-typescript does not recognize

[2015-11-10 20:38] blakeembrey commented on #711
@ssorallen I think keeping the automatic installation is a good experience, users are easily confused otherwise. The linter is a common UI to interact with too. You can always disable the linter if you don't want to use it.

[2015-11-10 21:17] ssorallen commented on #711
I had the opposite experience where a user didn't notice 'linter' had even been installed and hadn't wanted it. I can understand wanting to avoid a poor experience where someone wants a linting experience, but that can be shown in documentation at the top of the README.

Right now if you install atom-typescript and then uninstall linter, Atom reinstalls the linter even if you don't want it and eve

[2015-11-10 21:23] blakeembrey commented on #711
I would open an issue under https://github.com/steelbrain/package-deps for the unable to uninstall, it isn't maintaining any kind of state which remembers what's previously been installed. If you want to disable it, there's a disable button for packages - that should work for you. May I ask what they were using `atom-typescript` for instead of linting?

Anyway, I'm sure it can be added to the READ

[2015-11-10 21:50] ssorallen commented on #711
Most of the features don't have to do with linting do they? Autocomplete, snippets, format code, etc.

The [nuclide-diagnostics](https://github.com/facebook/nuclide/tree/master/pkg/nuclide/diagnostics) package can also consume linter/provideLinter providers, so we didn't want 'linter' installed.

[2015-11-10 22:06] JaKXz opened #713 "Using exclusion in filesGlob still giving errors"
This is my `tsconfig.json`:

[code]

However, I'm still seeing Project-wide TS errors in Atom, and I think as a result I'm not getting auto-completion as I work... the error message says, for each of those files:

Also, I'm assuming (if this isn't broken) that I only need `!**/*.spec.ts` to ignore all those files from the current directory down?

[2015-11-10 22:06] blakeembrey commented on #711
No, it doesn't, but having information about your code is the biggest draw to me (yes, autocompletion and such is cool, personal biggest feature is obviously the type safety). I was just looking at that package too, it's awesome if it's supporting `linter` providers - I'm tempted to use it now :+1:

[2015-11-10 22:15] blakeembrey commented on #713
@JaKXz That error is a separate error. It's a duplicate of #558

[2015-11-10 22:16] ssorallen commented on #711
Agreed! But the beauty of just going through `providedServices` is there can be many implementations that consume the service.

Since it has no actual hard dependency, I'd still remove it. However, I can see some value in forcibly installing one consumer I suppose though if there's no easy way to inform someone they need to install 'linter' or another consumer separately.

[2015-11-10 22:16] #711 closed

[2015-11-10 22:16] JaKXz commented on #713
Ah. Will close. Thanks.

[2015-11-10 22:16] #713 closed

[2015-11-10 22:19] JaKXz commented on #558
+1 for atom-typescript acknowledging the `!` operator in the `filesGlob`s, since it's safe to put that in tsconfig.json and would make life a little bit easier.

[2015-11-10 23:35] basarat commented on #707
@quadrophobiac any effort in grammar should go to : https://github.com/TypeStrong/atom-typescript/issues/675

[2015-11-10 23:35] basarat commented on #706
any effort in grammar should go to https://github.com/TypeStrong/atom-typescript/issues/675 :rose:

[2015-11-10 23:36] basarat commented on #689
any effort in grammar should go to https://github.com/TypeStrong/atom-typescript/issues/675 :rose:

[2015-11-10 23:36] basarat commented on #680
any effort in grammar should go to https://github.com/TypeStrong/atom-typescript/issues/675 :rose:

[2015-11-10 23:36] basarat commented on #670
any effort in grammar should go to https://github.com/TypeStrong/atom-typescript/issues/675 :rose:

[2015-11-10 23:36] basarat commented on #667
any effort in grammar should go to https://github.com/TypeStrong/atom-typescript/issues/675 :rose:

[2015-11-10 23:36] basarat commented on #645
any effort in grammar should go to https://github.com/TypeStrong/atom-typescript/issues/675 :rose:

[2015-11-11 00:53] quadrophobiac commented on #675
@blakeembrey I arrived here after indicating interest in one of the separate tickets (#707) prior to it's collation here by the recent mass assignment of 'up-for-grabs' labels. I read from your comment https://github.com/TypeStrong/atom-typescript/issues/675#issuecomment-154325788 that you are following the 'copy via script' rather than 'investigating from Atom first principles' option on this - d

[2015-11-11 01:40] blakeembrey commented on #675
@quadrophobiac Absolutely up for grabs, if you want to give it a shot I'll review the PR. I'm not currently working on this. Not sure what you meant copying rather than investigating Atom first principles?

[2015-11-11 05:36] basarat commented on #712
Sounds like an issue in angular's TypeScript definition.

[2015-11-11 05:36] basarat commented on #712
Please share project :rose:

[2015-11-11 11:59] PanayotCankov commented on #315
:+1:

[2015-11-11 15:38] sszuflita commented on #522
Can we delete the gruntfile in the meantime? Including a broken gruntfile is new devs in the project.

[2015-11-11 15:57] sszuflita commented on #703
I realized that the grunt file was broken (https://github.com/TypeStrong/atom-typescript/issues/4).

I'm working on this now.

[2015-11-11 16:50] darkoverlordofdata opened #714 "Updating to “atom-typescript@7.8.0” failed."
I selected update, and got this error. Now I don't have any syntax highlighting or code completion, and it says it can't find my tsconfig.json. Basically, atom is now unusable.

events.js:72

        throw er; // Unhandled 'error' event
              ^

Error: ENOENT, open '/home/bruce/.atom/packages/atom-typescript/node_modules/emissary/node_modules/es6-weak-map/node_modules/es5-ext/test/error/cu

[2015-11-11 20:09] basarat commented on #522
we should fix it ... for when things go bad. Perhaps just rename it to *notworking-use-atom-instead-gruntfile.js*? :rose:

[2015-11-11 20:59] quadrophobiac commented on #675
Hey, I was referring to the chain of correspondence in previously when you said

and then

As I understand it the task is to create an Atom native grammar rather than a repurposed sublime grammar?

You also mentioned

I'm inferring that this is a test specification for .ts coming from MS - is that right?

I'll get a dev instance of the repo up and running in the meantime

[2015-11-11 21:02] blakeembrey commented on #675
@quadrophobiac All the grammar will come from the TypeScript sublime text side, we should only be converting it. The Atom side comment is exactly the same now as before, it's not a universal grammar so there's still conversion we need to do. In the original context, it was in response to opening an issue and moving everything prematurely (before we know what we're doing with it) but that's already

[2015-11-11 21:03] quadrophobiac commented on #675
Ah ok got it!

[2015-11-11 21:39] JaKXz opened #716 "Auto-complete type suggestion"
I love how atom-typescript suggests the given types for undeclared variables on hover. However, it would be awesome if there was a keystroke to put in this type suggestion automatically, because they can get complicated... e.g.

[code]

is a `_.LoDashImplicitArrayWrapper<string>`, but the only way to remember that is to go into the `lodash.d.ts` file manually copy it in.

Did a quick search for th

[2015-11-11 23:24] Zyzle commented on #708
Yup, I'm seeing the same problem here, `filesGlob` no longer populates the files section.

Atom 1.2.0-beta-0 atom-typescript 7.8.0

[2015-11-12 06:59] impinball commented on #714
Try `apm uninstall atom-typescript; apm install atom-typescript`.

[2015-11-12 07:10] impinball opened #717 "It can't seem to find the tsconfig in my project"
It used to work, but since upgrading to 7.8.0, it can't find my tsconfig.json anymore. It could even in 7.7.2

[2015-11-12 07:52] gizmodus commented on #609
Ah, how I love your plugin! Great work, guys!

+1 for ordering items in semantic view alphabetically

[2015-11-12 15:13] mattmogford commented on #201
Following the instructions you gave to jtheisen this doesn't fix it for me.
The plugin installs for me, but I get no autocompletion.

Installing from Atom I don't see that 'complete' message, so I tried
apm uninstall atom-typescript
apm install atom-typescript
apm install linter
apm install autocomplete-plus

I still don't get autocomplete for anything.

[2015-11-12 15:24] mattmogford commented on #201
I have found my problem.

A tsconfig.json file is required! Nowhere have I seen any mention of this.
I know it's a thing, but didn't know it was required for autocompletion to work.

Maybe this should be a 'step 4' under the installation header on the github readme?
Possible just in the Auto Complete section, at the moment it simply says - "Just start typing and hints will show up".  This isn't 10

[2015-11-12 21:05] tomshen commented on #522
Fixing it is definitely ideal, but there's no reason to keep it around in the meantime. This issue exists for tracking the fix, and git makes it trivial to see the broken gruntfile if you need to.

[2015-11-12 21:24] mLaird commented on #712
Thank you.  You can view the relevant code here:

http://stackoverflow.com/questions/33681486/angular2-routing-alpha-46-routes-forward-with-a-console-error-but-not-back-to

The problem statement has 2 issues, one of which is the atom-typescript
error message.

On Wed, Nov 11, 2015 at 12:36 AM, Basarat Ali Syed <notifications@github.com

--

Mike Laird

12 Arbor Creek Drive, Pittsford, New York 145

[2015-11-12 22:59] basarat commented on #712
more along the lines of `zip download` or `git checkout` please. I do not have an angular setup.

[2015-11-12 23:02] basarat commented on #522
But I'd rather not go down that hunt when something aweful happens (like a new version of atom completely breaks atom-ts) and I need to either fix grunt to get the workflow going till I fix atom-ts

[2015-11-12 23:40] basarat commented on #201
@mattmogford It does that already :rose: If it doesn't create a :bug:

![image](https://cloud.githubusercontent.com/assets/874898/11134691/da2485b8-89f2-11e5-9759-a346bb5f201e.png)

[2015-11-13 00:06] #664 closed

[2015-11-13 00:10] basarat commented on #664
Released https://github.com/TypeStrong/atom-typescript/releases/tag/v7.9.0 :rose:

[2015-11-13 01:20] mLaird commented on #712
I don't know how to create a zip download or do a git checkout.
I have attached relevant files.

On Thu, Nov 12, 2015 at 5:59 PM, Basarat Ali Syed <notifications@github.com>
wrote:

--

Mike Laird

12 Arbor Creek Drive, Pittsford, New York 14534
mlaird@alum.mit.edu

". . . remembering on both sides that civility is not a sign of weakness,
and sincerity is always subject to proof. Let us never nego

[2015-11-13 02:22] basarat commented on #712
@mLaird sorry mike, the files aren't attached to your comment (if you reply by email the attachments are lost ... and attaching zip to github comments isn't allowed anyways). By git checkout I meant create a github repository :rose: Alternatively share over dropbox

[2015-11-13 04:08] tomitrescak opened #718 "Performance, compilation taking longer than usual."
@basarat did anything change performance wise? After the last update my compilation takes about three times longer. Before I compiled my large projects in 5-8 seconds, now it can take up to 40 seconds. Was there any change that could affect this? If so, I can investigate which version is the culprit.

[2015-11-13 04:12] basarat commented on #718
7.9 has a change where it looks at expanding the referenced file more aggresively https://github.com/TypeStrong/atom-typescript/releases/tag/v7.9.0

7.8 https://github.com/TypeStrong/atom-typescript/releases/tag/v7.8.0 brings in TS latest, I've been using it at work and hasn't slowed down for me

Is this a new project? Can you share your tsconfig.json, suspect you might be using `noEmitOnError` :

[2015-11-13 04:15] tomitrescak commented on #718
Thanks for the fast response. I paste the whole tsconfig so you get the idea of how many files we are dealing with:

[code]

[2015-11-13 04:23] basarat commented on #718
@tomitrescak try changing `exclude` to the following :

[code]
Or even simple:

[code]

As going to the details of `/**/*` causes all the files to still be checked [more](https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#for-really-large-projects-atom-typescript-gets-slow)

[2015-11-13 04:52] tomitrescak commented on #718
@basarat You are a life saver :bouquet:

Thanks! The compilation time is now as usual.

[2015-11-13 04:52] #718 closed

[2015-11-13 05:03] basarat commented on #718
Thank @blakeembrey as he found it and shared with the world :rose:

[2015-11-13 05:04] tomitrescak commented on #718
Thanks @blakeembrey ! ;)

[2015-11-13 06:44] isuda commented on #664
Thanks!

[2015-11-13 07:34] mechanoid opened #719 "Imports get lost, when classes are only referenced in switch/case branches"
hi,

as stated in the headline, it seems that there is a problem when resolving the require statements for an output file. If a required class is only referenced inside switch/case statement the according require statement is not available in the list of required files anymore.

To get a better understanding of the problem, you may take a look at an example i have created:

https://github.com/mech

[2015-11-13 09:44] mattmogford commented on #201
True, but still odd that autocomplete doesn't work because of this.
I was going to get around to the config file, but wanted to just type some
code first.

On Thu, 12 Nov 2015 at 23:40 Basarat Ali Syed <notifications@github.com>
wrote:

[2015-11-13 12:12] everwonder commented on #315
:+1:

[2015-11-13 20:38] mLaird commented on #712
I'm trying to share the project via Google Drive.  The project has been
created in Windows 10, so the directories have a lot of Windows overhead.
The individual files are a few kb, but the whole thing is 13.1 Mb.  Hope
this works for you.  You should be able to access and download the project
at this link:

https://drive.google.com/folderview?id=0BxDxP4eSMEPnYktsX3JFeVdJODA&usp=sharing

I have add

[2015-11-13 21:03] mjohnsonengr opened #720 "New unreachable code compiler options need to be handled"
Version 7.8.0 updated to the latest ntypescript which features some new compiler options: `allowUnreachableCode`, `allowUnusedLabels`, `noImplicitReturns`, and `noFallthroughCasesInSwitch` which are all unrecognized in tsconfig.json.

[2015-11-13 22:45] basarat commented on #714
Sorry about that. Please see : https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#failed-to-update Comment if that doesn't fix it :rose:

[2015-11-13 22:45] #714 closed

[2015-11-13 22:55] basarat commented on #689
Closed in favor of : https://github.com/Microsoft/TypeScript-TmLanguage/issues/4 :rose:

[2015-11-13 22:55] #689 closed

[2015-11-13 23:01] basarat commented on #591
@pdeva this has been fixed for a while :rose:

[2015-11-13 23:01] #591 closed

[2015-11-14 03:33] basarat commented on #720
# Guidance

https://github.com/TypeStrong/atom-typescript/blob/11f485ba80dc7e4aeee6176714c1efbff7398b9e/lib/main/tsconfig/tsconfig.ts#L12-L16

[2015-11-14 03:43] basarat commented on #719
Seems like an issue with TypeScript nightly. Issue moved here : https://github.com/Microsoft/TypeScript/issues/5666 :rose:

[2015-11-14 03:43] #719 closed

[2015-11-14 03:47] basarat commented on #717
The only change between 7.8.0 and 7.7.2 was a change in `ntypescript` : https://github.com/TypeStrong/atom-typescript/commit/747f7d2bc9bfe319e49b8a420cf506509c2c69db don't see why that would break it.

It's been working fine here ... so would need repro to help :-/ :rose:

[2015-11-14 03:49] basarat commented on #708
@LivesleyWA try running `sync` on your project with a ts file from the same project open https://github.com/TypeStrong/atom-typescript#sync

Does that fix it?

[2015-11-14 03:50] basarat commented on #716
You mean have `Keyboard shortcut for Type information` currently only shown on `Mouse Hover` ? https://github.com/TypeStrong/atom-typescript#type-information-on-hover

[2015-11-14 03:53] DanielRosenwasser commented on #719
@mechanoid check out the latest nightly build.

[2015-11-14 04:11] impinball commented on #717
It does this on load. I tried reinstalling, but it might be an issue with other plugins. I'll close this, and re-open it (or create a new issue) when I have time to properly vet the problem.

[2015-11-14 04:11] #717 closed

[2015-11-14 05:20] basarat commented on #717
We basically cache the contents of tsconfig.json and don't do any additional disk watching and if there is a new file we only update tsconfig.json if you open the new file in atom. Alternatively you can do a sync ;) :rose:

[2015-11-14 06:30] impinball commented on #717
I tried that, but like I said, I need to better vet the problem. (My Chrome
wouldn't work on install, and only a few weeks later did I finally figure
out that the problem was stale dconf entries that needed removed.)

On Sat, Nov 14, 2015 at 12:20 AM Basarat Ali Syed <notifications@github.com>
wrote:

[2015-11-14 10:03] tallstreet opened #721 "Uncaught TypeError: deprecationSite.getFileName is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.0
**System**: Mac OS X 10.11.2
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v7.9.0

### Stack Trace

Uncaught TypeError: deprecationSite.getFileName is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-14 13:56] stacklance opened #722 "Auto-complete running much slower after update"
After the latest update, I found that the auto-complete is running much slower. Actually, there are a lot more auto-complete jobs running now. For example, when trying to do auto-complete for relative paths on an import, the number of jobs that get run eventually are around 40 for me, whereas before it used be like 10.

[2015-11-14 17:58] kpgarrod opened #723 "Is the value of 'this' in switch statement in Typescript 1.6.2 and atom-typescript emited incorrectly?"
I asked a question in SO:  http://stackoverflow.com/questions/33710856/is-the-value-of-this-in-switch-statement-in-typescript-1-6-2-and-atom-typescri

The issue doesn't seem to occur in VSCode on my system or in WebStorm on somebody else's, so I guess it is looking like an atom-typescript issue. Here is a copy of the SO post:

I have some Typescript code that looks something like this:

    class

[2015-11-14 22:37] unional commented on #237
You can import amd/cjs with `import _ from 'lodash';` (I'm using `jspm`). But `atom-typescript` still flagging it as error. Will (or how will) it be fixed?

[2015-11-14 22:51] basarat commented on #237
@unional Not an error in atom-ts. Track in Microsoft/TypeScript :rose:

[2015-11-14 22:57] #723 closed

[2015-11-14 22:57] unional commented on #237
Thank! Found the thread: https://github.com/Microsoft/TypeScript/issues/5285

[2015-11-14 22:58] basarat commented on #719
Released https://github.com/TypeStrong/atom-typescript/releases/tag/v7.10.0 :rose:

[2015-11-14 22:59] basarat commented on #723
Released https://github.com/TypeStrong/atom-typescript/releases/tag/v7.10.0 :rose:

[2015-11-14 23:00] basarat commented on #722
@stacklance can you share your tsconfig.json . Also see : https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#for-really-large-projects-atom-typescript-gets-slow :rose:

[2015-11-14 23:03] basarat commented on #721
We don't seem to have such a call in our code : https://github.com/TypeStrong/atom-typescript/search?utf8=%E2%9C%93&q=getFileName+

Considering it came from the command `settings-view:check-for-package-updates` recon its bad atom reporting. Closing for now. Please leave a comment if it continues to bother :rose:

[2015-11-14 23:03] #721 closed

[2015-11-15 05:17] kpgarrod commented on #723
@basarat Thanks for the fantastic support as usual! I noticed that the bug was in Typescript 1.8.0. I know that you include your own version of Typescript in the plugin, but with 135,000 users, I wonder if it is still appropriate to use quite such a bleeding edge version? I know it's a balancing act but the editor/plugin is already the best available, so maybe now is the time to favour reliability

[2015-11-15 08:05] basarat commented on #723
Agreed and thanks for the kind words! But don't want the [technical debt](https://en.wikipedia.org/wiki/Technical_debt) (< learnt this term from @blakeembrey, just thought I'd share the term which might already be familar to you but wasn't to me :rose:) of not updating to TypeScript latest :rose:

That said there is nothing stopping a user from not updating atom-ts for a while, we don't force push

[2015-11-15 13:07] JaKXz commented on #716
Yep!

[2015-11-15 15:56] tomsdev opened #724 "String literal types shown as errors (red highlighting) but compile correctly."
I found this bug while trying out the new "String literal types" syntax with examples from https://github.com/Microsoft/TypeScript/pull/5185

I believe it's an atom-typescript bug as it does compile correctly. I also found a workaround as you can see in the screenshot below by wrapping the string literal types in parenthesis.

<img width="674" alt="screen shot 2015-11-15 at 4 48 15 pm" src="https:

[2015-11-15 22:34] basarat opened #726 "Keyboard shortcut for Type information at cursor"
Currently only shown on Mouse Hover : https://github.com/TypeStrong/atom-typescript#type-information-on-hover

Requested by @JaKXz here https://github.com/TypeStrong/atom-typescript/issues/716#issuecomment-156810461

[2015-11-15 22:34] basarat commented on #716
@JaKXz cool, created a clean issue for the request : https://github.com/TypeStrong/atom-typescript/issues/726 :rose:

[2015-11-15 22:34] #716 closed

[2015-11-16 00:08] basarat commented on #712
Two issues.
* The version of angular you have there is too old. alpha 36 . It does not ship *with* definitions.
![image](https://cloud.githubusercontent.com/assets/874898/11172005/00b455ee-8c52-11e5-8323-0ebc68f05a64.png)

* The tsconfig was wrong. `filesGlob` was miss-spelled and you really should exclude `node_modules`, this made the performance horrible. Check faq https://github.com/TypeStrong/

[2015-11-16 00:08] #712 closed

[2015-11-16 00:29] basarat commented on #724
Yes. This is a bug in our grammar. Any effort towards a fix should start here : https://github.com/TypeStrong/atom-typescript/issues/675 :rose:

[2015-11-16 00:30] #720 closed

[2015-11-16 00:40] basarat commented on #703
Released : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.10.2 :rose:

[2015-11-16 02:25] tomitrescak commented on #703
@basarat The tsconfig now stopped automatically recognising new files aeith the following error in the console:

[code]

[2015-11-16 02:26] tomitrescak commented on #703
Is there any quick fix for this or shall I roll back to previous version? Thanks!

[2015-11-16 02:28] LivesleyWA commented on #708
I have a structure

 - lib
  tsconfig.json
  - ts
   - stuff one
   - stuff two
 - test
  tsconfig.json
  - ts
   - test stuff one
   - test stuff two

By default, the lib tsconfig file is populated whilst the test tsconfig file is not.

For a number of reasons to do with Webstorm (used for testing nodejs apps) test tsconfig contains references to lib folders (Webstorm can't handle more than one t

[2015-11-16 03:00] thomastrapanese commented on #703
up, i have the same issue

[2015-11-16 03:08] basarat commented on #703
@tomitrescak rollback for now please.

Pinging @sszuflita for investigation :rose:

[2015-11-16 03:10] #703 closed

[2015-11-16 03:11] basarat commented on #703
@tomitrescak nevermind. Hotfix released : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.11.0 hopefully that fixes it :rose:

[2015-11-16 03:32] thomastrapanese commented on #703
it work well for me, thanks

[2015-11-16 03:46] basarat commented on #708
This is by design. We cache the contents of `tsconfig` till you open a file we do not know about from our previous look at tsconfig. And we have a single `file` -> `tsconfig` map so if a file is in two tsconfig the last tsconfig that was used is what is considered *active*. We show this in *our panel*.

![image](https://cloud.githubusercontent.com/assets/874898/11173924/cb00a096-8c70-11e5-8b7b-9d9

[2015-11-16 09:08] tomitrescak opened #728 "Ts Worker Failing"
Since not so long the TS worker fails after several seconds after opening Atom and never starts again ;( This is message in the log:

[code]

[2015-11-16 15:32] mjohnsonengr commented on #581
I noticed this one myself today; I'll take a look at this this weekend if I have free time :+1:

[2015-11-16 19:48] mLaird commented on #712
Thank you, I am still confused, and still have 3 atom-typescript error
messages about 'no exported member'

I found 3 tsconfig.json files in my project.  I presume you mean the one in
the angular2-oPost project file.  I added the new items
from your email above.  Except I did not add the "version": "1.5.0" line.
I don't understand that line. I'm using atom-typescript 7.9.0 at
the moment, and as yo

[2015-11-16 21:05] tomitrescak commented on #728
I noticed another error related to this:

[code]

[2015-11-17 01:32] mjohnsonengr commented on #581
@basarat that looks like a refactor, replacing the grammar? Does that mean you're leaving these grammar issues open to be verified/fixed after the new grammar?

[2015-11-17 01:41] basarat commented on #581
@mjohnsonengr yes, I would close these but these need to be verified after the merge + pointed at as valid bugs that exist right now.

[2015-11-17 01:58] basarat commented on #728
ouch. Does trying an older version (try a month old version) fix it ... if not then it might be a new atom version bug

No. And its running fine all day on my windows machine

[2015-11-17 03:20] tomitrescak commented on #728
Rolled back to Atom 1.1.0 and so far all looks good. Looks like Atom issue ;(

[2015-11-17 10:05] pinoyyid commented on #545
seems that adding `lineFeed: LF` to tsconfig.js is being ignored by atom-typescript. I've confirmed the format of tsconfig.ts is correct by running `tsc` which correctly emits LF, but compiling via atom-typescript emits CRLF

[2015-11-17 10:12] Namek commented on #545
bugs me, too.

[2015-11-17 19:11] JoshEngebretson commented on #728
I am having this issue on 1.2.1, can't rollback to 1.1 currently

[2015-11-17 20:41] basarat commented on #728
@JoshEngebretson  are you on a Mac ?

[2015-11-17 22:34] basarat commented on #728
@JoshEngebretson is `pointer being freed was not allocated` in your console too?

[2015-11-17 22:41] tomitrescak commented on #728
@basarat I'm on Mac as well.

[2015-11-17 22:46] xealot opened #730 "Pending requests... I know"
I know there are other tickets with this name but I don't think any of them apply. I'm pretty much a complete newb with Atom and the only reason I use it is for this plugin. I have these pending requests that keep stacking up. Here is a shot of the console.

![image](https://cloud.githubusercontent.com/assets/189873/11227260/fa474b92-8d52-11e5-9068-1638100467a5.png)

And the pending requests...

!

[2015-11-17 23:00] JoshEngebretson commented on #728
Here is what I am seeing:

<img width="428" alt="screen shot 2015-11-17 at 2 59 36 pm" src="https://cloud.githubusercontent.com/assets/376203/11227621/e7faab62-8d3b-11e5-89ba-c59d4e732bc0.png">

[2015-11-17 23:03] ksachdeva commented on #728
facing the same issue

[2015-11-17 23:10] basarat commented on #728
I've created an issue : https://github.com/atom/atom/issues/9663 :rose:

[2015-11-18 01:16] unional opened #731 "Open ts file hang/crash on windows"
This will be a hard one. It was working fine in previous build. Currently when I open certain ts file, atom hang and not responding until I force close it.

There is no error on console and no spinning on cpu.

The file is shown before color coding and then just freeze there.

I have tsconfig.

[2015-11-18 04:01] basarat commented on #731
Clear your atom storage folder. e.g. for me `C:\Users\basaratsyed\.atom\storage`. This is a know atom bug ... I don't have an issue, but our team feels it consistently.

Let me know if that fixes it please :rose:

[2015-11-18 04:06] unional commented on #731
Nope. Claring the storage folder does not fix it.

[2015-11-18 04:08] basarat commented on #731
@unional moving this ts file on its own + tsconfig > to a different Dir .... does that fix it?

[2015-11-18 04:10] basarat commented on #730
You are right. This is because of a recent atom update. Original report : https://github.com/TypeStrong/atom-typescript/issues/728

Also reported to atom team : https://github.com/atom/atom/issues/9663 :rose:

[2015-11-18 04:10] #730 closed

[2015-11-18 04:14] unional commented on #731
Nope. Doesn't fix it.

Move the file to ./x folder, move tsconfig to that folder, remove all files (`files:[]`). Still hang.

[2015-11-18 04:15] basarat commented on #731
Sweet, Now can I have just this file to try and repro :rose:

[2015-11-18 04:15] basarat commented on #731
https://gist.github.com/ :rose:

[2015-11-18 04:15] unional commented on #731
Oops. Take it back. It works now.

[2015-11-18 04:17] unional commented on #731
Hang on. Trying things out. Stop working again when I move tsconfig back to root.

[2015-11-18 04:18] basarat commented on #731
https://gitter.im/TypeStrong/atom-typescript :rose:

[2015-11-18 04:18] unional commented on #731
ok. :)

[2015-11-18 07:24] unional commented on #731
seems like the same issue:
https://github.com/TypeStrong/atom-typescript/issues/207

[2015-11-18 17:19] fjanon commented on #647
Updated Atom and pTS package just now:
Atom 1.2.1
TS 6.0.9
Win7

Same issue.

I don't know why the update for atom-typescript pulled 6.0.9 when everyone seems to have a 7.7.x

[2015-11-18 17:37] JoshEngebretson commented on #730
I really hope this gets addressed soon, destroys the usability of this wunderbar package on OSX

[2015-11-18 21:57] patsissons opened #732 "filesGlob not working in 7.11.0"
I thought it might just be my complex project that I was working in, but I created an ultra basic project and auto-created a `tsconfig.json` file to reproduce. no files section is created unfortunately.

My sample environment:
* `/src/test.ts` is the only file (just contains `'use strict';`)
* use the *Typescript: Create Tsconfig.json Project File* command
    * `/src/tsconfig.json` created

`file

[2015-11-18 22:09] unional commented on #732
Same here.

[2015-11-18 22:20] patsissons commented on #732
I figured it out. It has to do with the new `rewriteTsconfig` option (see [the docs](https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#atom) for more info).

The docs suggest that it defaults to true, but it seems to be false by default right now.

[2015-11-18 22:48] xealot commented on #730
Yeah, this is no bueno... After updating to Atom 1.2.1 it's unusable (it was only mostly unusable before). Is there any sort of cheap workaround @basarat?

[2015-11-18 23:08] basarat commented on #730
Not that I know of. Would be great if there was a way to disable atom autoupdate ... please let me know if you find a way :rose: I mostly just end up throwing my hands and using notepad (+ grunt)

![](https://media.giphy.com/media/tKf8cu9qfzhN6/giphy.gif)

[2015-11-18 23:50] #732 closed

[2015-11-18 23:52] basarat commented on #732
@patsissons thanks for reporting. Fixed : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.11.1 :rose:

[2015-11-18 23:53] patsissons commented on #732
great turn-around!

[2015-11-18 23:55] basarat commented on #732
![](http://38.media.tumblr.com/e8127e3c0d61dcd563d196888ac064ff/tumblr_inline_mo1w4z8q361qz4rgp.gif)  https://github.com/TypeStrong/atom-typescript/pull/715

Although I am still thankful to the original author for getting it done (which I was failing to do) :rose:

[2015-11-19 06:20] starstuffharvestingstarlight opened #733 "Atom-typescript stopped working: Cannot read property 'Smart' of undefined"
Hi all, I imagine I've done something really dumb, because atom-typescript has stopped working for me. I think it might be related to `tsconfig.json`, since ever since that feature came in, I lost all functionality (no completion, semantic view, etc).

This is the error:

[code]

And this is my `tsconfig.json`

[code]

Atom version `1.2.2`
Packages:

[code]

[2015-11-19 18:23] Arcanemagus opened #734 "Should lintOnFly be false?"
I was looking over your linter configuration and it seems you specify [`lintOnFly` as true](https://github.com/TypeStrong/atom-typescript/blob/master/lib/linter.ts#L25), but as far as I can tell you are only linting files on disk which means that should be false.

Am I missing a part where you pass the current buffer contents to the linter somehow, or was this just an oversight?

[2015-11-19 19:24] JustinWebb opened #735 "Linter cannot find modules in 'node_modules' despite successful Webpack compilation"
I'm working on an Ionic 2 project using Atom 1.2.2.  I installed *atom-typescript* a few hours ago... A simple line like `import {App, Platform, StatusBar} from 'ionic/ionic';` shows up as a linter error despite Webpack compiling and running TS files without error:

Error: ​​_Cannot find module 'ionic/ionic’ at line 1 col 40 in www/app/app.ts_​

Webpack uses a `modulesDirectories` property to list

[2015-11-20 00:11] masaeedu commented on #472
@basarat It looks like this feature is still a ways off from being included in TypeScript. That issue has been closed with Node support, which doesn't help this scenario, and from what I've heard on Gitter they're waiting for the whatwg loader standard to solidify before implementing support for generic loader implementations.

As an editor plugin, this project has a bit more leeway in terms of wh

[2015-11-20 00:23] basarat commented on #472
That is the right place to track it now. Thanks for linking this  :rose:

I tried to implement the `commonjs` module resolution with blatant disregard for code resolution logic while 2338 was in progress and I broke stuff badly (e.g. conflicts in files in node_modules vs. local files). A big issue is our limited test harness ... which means that its difficult to ensure that horrible things don't h

[2015-11-20 01:21] basarat commented on #734
We pass it to our background language service worker on the fly ... and in the linter we query the background language service worker :rose:

[2015-11-20 01:21] #734 closed

[2015-11-20 01:23] basarat commented on #733
Suspect just a bad update on your machine : https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#failed-to-update

Comment if that doesn't fix it :rose:

[2015-11-20 01:25] basarat commented on #735
Can you try `tsc -p pathToTsconfig.json`. Please leave a comment if that succeed cause that means *we* have a bug :Rose:

That import statement will only work if `iconic` *ships with its definitions* which I don't think it does. Check DefinitelyTyped + tsd to get definitions :rose:

[2015-11-20 01:25] #735 closed

[2015-11-20 01:43] JustinWebb commented on #735
The output:
_error TS5014: Failed to parse file 'tsconfig.json/tsconfig.json': Unexpected token u._

[2015-11-20 02:12] basarat commented on #735
Sorry try `tsc -p pathToDirectoryContainingTsconfig`

[2015-11-20 02:32] starstuffharvestingstarlight commented on #733
Thanks for the quick response. I'd be happy to fix this myself, but I can't build the project in Linux, despite having all the tools available.

Uninstalling/Reinstalling doesn't fix it. Every time I open a .ts file that exception will come up:
[code]
My OS info:
[code]

Apart from this error, my status bar shows this:
![screenshot of typescript status](http://i.imgur.com/G9mbvkW.png)

I have a no

[2015-11-20 02:54] JustinWebb commented on #735
1st result:
_error TS5023: Unknown compiler option 'allowNonTsExtensions'._

2nd result (after removing Ionic default property):
[code]
These are the same errors that appear in atom-typescript's pane.

[2015-11-20 03:14] basarat commented on #733
This project is self hoisted, so you can only build the project with atom-typescript at the moment. We had to disable grunt due to an atom bug : https://github.com/TypeStrong/atom-typescript/issues/600

Seems like `ntypescript` isn't installed (from our package.json) or at least its the wrong version (hence `Smart` not defined) ... I was hoping reinstall would fix that ... can you check `node_modu

[2015-11-20 03:16] basarat commented on #735
Hence not an error here. Please look at getting `iconic` definitions. Check https://github.com/DefinitelyTyped/DefinitelyTyped

[2015-11-20 04:27] JustinWebb commented on #735
I installed the Ionic definition but I continue to receive the error from 2nd result above.  My updated `tsd.json`:
[code]

[2015-11-20 04:31] starstuffharvestingstarlight commented on #733
This is what I have atm:
[code]

[2015-11-20 04:47] Arcanemagus commented on #734
Cool, just wanted to make sure since all I saw in the quick look was it passing the filePath and requiring the file be saved to disk before allowing a lint :wink:. Thanks for checking on this!

[2015-11-20 05:11] basarat commented on #733
that is valid.

From the atom-typescript folder can you (to test https://github.com/TypeStrong/atom-typescript/blob/205cba05246df7415e6072536b1eb766a42fdc14/lib/main/tsconfig/formatting.ts#L29)  execute:

[code]

It's very unlikely you have a valid install :-/

[2015-11-20 05:13] basarat commented on #734
thank *you* for your interest :rose:

![](https://media.giphy.com/media/qaoDDDoKwD1Ty/giphy.gif)

[2015-11-20 05:14] basarat commented on #735
And does `tsc` error as well? if not try `sync` : https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#atom-typescript-is-complaining-about-not-finding-files-or-other-weird-errors :rose:

[2015-11-20 05:17] starstuffharvestingstarlight commented on #733
Seems to work fine:

[code]

[2015-11-20 05:18] basarat commented on #733
Okay you have a valid install :rose: Don't have an idea for a fix though as I am unable to reproduce

[2015-11-20 05:19] basarat commented on #733
I sorry I thought I was *opening* the issue

[2015-11-20 05:22] starstuffharvestingstarlight commented on #733
I noticed this:
[code]

I tried to build with ``tsc`` and ``grunt``, both cause the same issue. Is there any other way of building this package? Can't use ``atom-typescript`` either.

[2015-11-20 05:41] basarat commented on #733
@starstuffharvestingstarlight I've just pushed a commit to make it possible `./node_modules/.bin/ntsc -p ./lib`

[2015-11-20 05:41] basarat commented on #733
you can even do `./node_modules/.bin/ntsc -p -w ./lib`

[2015-11-20 05:48] starstuffharvestingstarlight commented on #733
Yep, that works. I get this one now:
[code]

I have ``tsconfig`` installed:
[code]

But I'm guessing it has to be installed via ``atom``'s own version of ``node`` and ``npm``? The newer ``npm`` uses flat dirs which is breaking some packages.

[2015-11-20 05:50] basarat commented on #733
@starstuffharvestingstarlight it needs to be in `node_modules` locally ... confused about why its global? `npm install` should install it locally

[2015-11-20 05:52] starstuffharvestingstarlight commented on #733
I tried locally first and it didn't work. Since my ``npm`` uses flat-style ``node_modules``, it looks like it might be inconsistent with what ``atom``'s own ``npm`` expects. I'll try to install the package again using ``atom``'s ``npm``

[2015-11-20 05:55] basarat commented on #733
huh ... build failed on server as well : https://travis-ci.org/TypeStrong/atom-typescript/builds/92203430

[2015-11-20 06:01] starstuffharvestingstarlight commented on #733
Looks like that build was using npm 2.x, which is what is bundled with atom, but it's the same error.

[2015-11-20 06:11] starstuffharvestingstarlight commented on #733
Will be AFK for a while, I'll keep trying to get this to build + debug my issue. I'll keep you posted if I find anything. Thanks for answering so quickly!

[2015-11-21 07:38] go717franciswang commented on #647
Issue was resolved after reinstalling atom-typescript via command
[code]

[2015-11-22 16:03] laurelnaiad opened #736 "JS Outdated by opening any .ts file in editor"
Hi,

I'm pretty new to typescript and atom-typescript, so this could be user error.

Every time I open a .ts file in the editor, a  **JS Outdated** message appears.

`~tsconfig.json JS Outdated`

Every time I save my .ts file, the JS Outdated is replaced with a happy green JS Current message (with no build errors) until I open some other .ts file.

*(Aside: ~tsconfig.json is in gray, JS Outdated i

[2015-11-22 22:44] basarat opened #737 "JS Status is intially misleading"
Its starts out with `JS Outdated`

![image](https://cloud.githubusercontent.com/assets/874898/11326772/79b8ba42-91c6-11e5-85e0-03550a2b0df5.png)

It should really be something like `Inderterminite` till we do an actual validation.

## Current

* Its `oudated` by default < This needs to change
* Its `current` if user saves file and `compileOnSave` was true (or user does a build)
* Its `outdated` if

[2015-11-22 22:44] basarat commented on #736
@laurelnaiad I've created an issue : https://github.com/TypeStrong/atom-typescript/issues/737 that should remove the confusion. Feel free to discuss further there :rose:

[2015-11-22 22:44] #736 closed

[2015-11-22 23:41] blakeembrey commented on #682
This is actually easy to fix with `typings` now :+1: Just `typings install npm:tsconfig -n tsconfig -S` (though a little verbose).

[2015-11-23 00:30] basarat commented on #682
@blakeembrey I actually got around it by just doing `declare module 'pinkie-promise'` locally : https://github.com/TypeStrong/atom-typescript/blob/1a3f638e0754c20f881744e88bc08dd92fa8b958/lib/typings/atompromise.d.ts#L100-L102

I have a seperate issue that I would love your input on, `npm run test` (just `ntsc -p ./lib`) succeeds locally but fails on travis : https://travis-ci.org/TypeStrong/atom-

[2015-11-23 00:30] #682 closed

[2015-11-23 00:41] blakeembrey commented on #682
Let me fix `tsconfig` here, I had to remove the `typings` field in `package.json` as it implied TypeScript could use it to resolve (which clearly was not the case, hence this issue). I can open a PR to use `typings`, if that makes sense.

[2015-11-23 00:43] basarat commented on #682
Sure ... PS: no hurry, love every bit of your effort :rose:

[2015-11-23 03:39] basarat commented on #733
@starstuffharvestingstarlight build is passing now : https://travis-ci.org/TypeStrong/atom-typescript thanks to the awesome @blakeembrey :rose:

[2015-11-23 03:58] starstuffharvestingstarlight commented on #733
Awesome, can build it here as well. Will test my issue and let you know :D

[2015-11-23 04:24] starstuffharvestingstarlight commented on #733
I managed to get the whole plugin to work again by doing this:

[code]

I don't think this is the correct fix, but it's what I'll be using so I can keep using the plugin. I can't figure out why my installation doesn't have ``IndentStyle`` in ``ts``, but at least I can use the rest of the functionality now.

[2015-11-23 05:09] basarat commented on #733
definitely shouldn't be needed. You aren't using the custom compiler option by any chance are you? https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#can-i-use-a-custom-typescript-compiler You shouldn't be using it ... if you don't know what that is then ignore this message :rose:

[2015-11-23 05:29] starstuffharvestingstarlight commented on #733
I'm building ``atom-typescript`` with ``./node_modules/.bin/ntsc -p lib`` which seems to work fine (I can debug and run the code inside atom).

In my other projects, I'm using ``grunt-ts`` and ``grunt-tsd`` to compile, not ``tsc`` directly.

[2015-11-23 13:40] eliorcohen commented on #549
i had the same issue. it's seems to be related with permissions.
the only way i successfully get it to work is to start the atom from the the folder with "sudo" command.

```sudo atom ./```

and the autocomplete started to work as expected.

[2015-11-23 19:47] Geraldf opened #740 "cannot find module 'angular2/angular2'"
Hi I wonder, what I am doing wrong, that atom-typescript always shows "cannot find module
 'angular2/angular2'"

I have the following code at line 1 in my .ts file
[code]
at this line it shows the error message.

my tsconfig.json looks contains the following entry:
[code]

I was under the impression, that the atom-typescript looks at the tsconfig.json file to find the d.ts files.

[2015-11-23 23:06] basarat commented on #740
It will. Does the `angular2.d.ts` contain something like `declare module "angular2/angular2"` If not its a problem with the defintion.

[2015-11-23 23:06] #740 closed

[2015-11-23 23:07] basarat commented on #740
Feel free to continue discussion if you feel its an issue with this plugin :rose:

[2015-11-24 15:58] pelted commented on #737
As someone new to atom-typescript and experiencing the recent ongoing issue with the latest Atom version and the stalled worker I really thought this meant I had something wrong or a node package out of date. The JS Outdated was maddening for my first couple of hours trying to find my way around.

[2015-11-25 07:58] mattdanna commented on #221
:+1:

[2015-11-25 10:21] RubenReiser opened #741 "Failed to activate the atom-typescript package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.4
**System**: Ubuntu 14.04.3
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v7.12.0

### Stack Trace

Failed to activate the atom-typescript package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-25 10:21] #741 closed

[2015-11-25 19:41] laurelnaiad opened #742 "babel compile fails if no .babelrc"
This is new in 7.12.0.

PR coming.

[2015-11-25 20:31] laurelnaiad opened #745 "build never finishes (7.12.0)"
I had problems like this in 7.11.2, but I attributed them to the "Progress events" problem that I was also having (and which seems to be somewhat ameliorated now).

I'm still not getting complete builds, though.
![screen shot 2015-11-25 at 12 26 22 pm](https://cloud.githubusercontent.com/assets/4078946/11408746/f4692826-936f-11e5-9b14-97b1d23bb783.png)

The relevant tsconfig.json (unless it's find

[2015-11-25 21:54] laurelnaiad opened #746 "running `grunt` on atom-typescript-> JSX-related issues and more"
I'm trying to build atom-typescript locally.

Did I miss some steps in configuring my environment or the local repo?

Things I did:

* `npm install`
* `npm install grunt` (why wasn't this in the package.json as a dev dependency?)
* `npm install grunt-ts` (ditto?)

[code]

[2015-11-25 23:37] laurelnaiad commented on #745
I figured out why my build never completes.

In the dev console, I saw there was an error that broke the promise chain to the point where a failure was lost.

In this particular case, it seems I didn't have `"allowNonTsExtensions": true,` set, while also having a .js file in the build. This was the result of me futzing with the config while trying to figure out why babel wasn't working (now solved

[2015-11-26 00:16] laurelnaiad commented on #737
I"m starting to believe that my problem in #736 was due to babel compile not being applied before doing the diff on the file.

[2015-11-26 00:41] basarat commented on #737
That is definitely true. Another :bug: !

[2015-11-26 00:44] #742 closed

[2015-11-26 00:47] basarat commented on #742
released https://github.com/TypeStrong/atom-typescript/releases/tag/v7.12.1 :rose:

[2015-11-26 01:18] unional opened #748 "Can't start atom with editorconfig package"
I'm using `atom-typescript`, `editorconfig` and `project-manager`.

I have a project that have several files opened automatically (from last recent close).  Some of these files are (or "will be", see below) edited automatically by `editorconfig`.

In this situation, `atom` hangs.

If I turned off `atom-typescript`, atom is opened without problem and I can see those files are being edited (hence "w

[2015-11-26 01:22] laurelnaiad commented on #737
PR Coming... again, not happy with my patch, but I'm on a roll... almost to the point where I can use atom-typescript on a project. Feel free to rearrange my patches, I know they're sloppy, but I really have to get to functional on a project that isn't named 'atom-typescript'. :)

[2015-11-26 01:28] basarat commented on #737
they are quite nice IMHO :rose:

[2015-11-26 01:32] unional commented on #748
Seems to be not an issue with the `storage` as some other projects are opened without problem.?

[2015-11-26 03:32] laurelnaiad commented on #522
I tripped over the gruntfile and spent time trying to figure out what was wrong with the build. Please please delete it and leave an open issue pointing to it's last known whereabouts. It'll save the next stooge some time. :)

[2015-11-26 05:12] basarat commented on #522
deleted :rose:

[2015-11-26 05:14] basarat commented on #522
You can build atom-typescript using the command that the build server uses : https://github.com/TypeStrong/atom-typescript/blob/4d04d64de937dd315ad2b99d41ecad2b8d427eb1/package.json#L11 so this issue is no longer relevant.

For restoring grunt the relevant issue to track is : https://github.com/TypeStrong/atom-typescript/issues/600 :rose:

[2015-11-26 05:14] #522 closed

[2015-11-26 05:16] basarat commented on #746
Because it broke atom package installer at some point : https://github.com/TypeStrong/atom-typescript/issues/600

Don't use grunt. Sadly you need atom-typescript to build atom-typescript as is documented here : https://github.com/TypeStrong/atom-typescript/blob/master/CONTRIBUTING.md#workflow Probably should be more up in the guide :-/ I'll move it around and then close this issue :rose:

[2015-11-26 05:18] #746 closed

[2015-11-26 05:20] basarat commented on #748
Turn off rewrite in your tsconfig. Atom and the other package might be having a fight over whose version of the tsconfig.json file is more pretty :lipstick:  :) https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#i-keep-getting-changes-to-tsconfigjson

[2015-11-26 05:22] unional commented on #748
I'll test with excluding `tsconfig.json` form editorconfig. Will post progress

[2015-11-26 05:26] basarat opened #752 "Having a `.js` file in the `files` without `"allowNonTsExtensions": true` in tsconfig should give an error"
It should be raised as a validation error for `tsconfig.json`. Currently this can cause the build to fail with errors like

`Could not find file: '/Users/dmaddox/Documents/_ws/proj/gulpfile.js'.`

Code would need to go in https://github.com/TypeStrong/atom-typescript/blob/master/lib/main/tsconfig/tsconfig.ts

[2015-11-26 05:28] basarat commented on #745
Thanks for tracking it down. Created a clear issue up for future : https://github.com/TypeStrong/atom-typescript/pull/747 :rose:

[2015-11-26 05:28] #745 closed

[2015-11-26 07:15] unional commented on #748
It still crash. Turns out it is not the `tsconfig.json`. The file opened is a typescript file, and `editorconfig` will try to format it, and `atom-typescript` choke on it?  Seems to be similar to the previous bug that I filed?

[2015-11-26 07:53] unional commented on #748
One more update: It doesn't really matter if it is typescript file or not, in one instance I have a `.p4ignore` opened and it still crashes. Could still be another file in the opened files that cause the crash. Will continue to monitor

[2015-11-26 22:52] #737 closed

[2015-11-26 22:53] basarat commented on #737
This issue is still open. The portion done was just a bug that was detected as a part of the analysis for this https://github.com/TypeStrong/atom-typescript/issues/737#issuecomment-159767647

[2015-11-27 03:17] ryanwischkaemper opened #753 "Getting more done in GitHub with ZenHub"
Hola! @ryanwischkaemper has created a [ZenHub](http://www.zenhub.io) account for the **TypeStrong** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](http://www.zenhub.io)** and log in with your GitHub account. Once you do, you

[2015-11-27 04:57] basarat commented on #753
Thanks guys. I've used it in the past and would happily recommend it to anyone (especially love your support performance :bow:). However not enough active devs or code churn on *this* project ... so wishlist :rose:

[2015-11-27 08:33] LimeStreem commented on #256
Is this feature works well?
I sometimes tried to implement interface by this hot-fix feature, but there was no time to be fixed.

[2015-11-27 19:56] laurelnaiad commented on #549
Wow, I just realized how much better atom-typescript is when you launch atom with sudo!

Would be nice not to have to do this, though.

[2015-11-27 20:22] laurelnaiad opened #754 "babel transpile is async, failures dropped"
Babel and Typescript do not agree on what is valid es6 (even if the maintainers aim for eventual agreement in the tools). As such, that the tsc->babel process will work isn't guaranteed.

The babel transpile process is currently running asynchronously in an otherwise synchronous process, so if babel fails to transpile tsc output, it's not reported to the developer and es6 code (code which babel co

[2015-11-27 23:38] laurelnaiad opened #755 "when should `services.getEmitOutput(filePath)` return emitSkipped?"
I'm having trouble understanding when `getEmitOutput(filePath)` is expected to skip emits.

It seems to just stop emitting for no particular reason and then just stay stopped.

I've traced it as far as "hasEmitBlockingDiagnostics" in ntypescript. (I don't know the tsc process enough to know if this code is from tsc or ntsc.)

Is there a reason why various outputs are being quashed by that code?

[2015-11-28 01:09] laurelnaiad commented on #755
I think I might be on to something. The issue I was trying to solve is "why do I get emit errors when I have declaration=true in my tsconfig.json?"

It seems that setting causes problems unless you're redirecting output from sc via `outDir` parameter. I think "hasEmitBlockingDiagnostics" is the culprit: https://github.com/TypeStrong/ntypescript/blob/faf5a7eb600758e1963f9d4209f50f55d9ccc9e7/src/com

[2015-11-28 01:09] faddah opened #756 "please add changelog?"
would you please add a CHANGELOG.md to this project? we currently have no idea what is fixed in each consequtive release you do. thank you in advance.

best,

—  faddah
     portland, oregon, u.s.a.

[2015-11-28 06:59] basarat commented on #756
We use the release notes for this purpose: https://github.com/TypeStrong/atom-typescript/releases :rose:

[2015-11-28 06:59] #756 closed

[2015-11-29 11:35] nexcode opened #757 "Automatic installation github.com/atom-community/linter"
After installation I deleted *github.com/atom-community/linter* package
But, after restarting the editor it has again install!
Maybe you should **make a checkbox in the settings**?

[2015-11-29 15:52] PaulBGD commented on #552
I have a very fast computer with an SSD, and it takes 1500ms to load the package.

[2015-11-29 18:28] GabiGrin opened #758 "initial generated tsconfig - add buildOnSave and compileOnSave with their defaults"
Usually I build typescript using a custom build. Each time I generate a tsconfig.json file on a new project, I forget to add the build options, and also forget the [exact syntax](https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#i-dont-want-atom-typescript-compiling-my-js) :)
I'd like to add the defaults to tsconfig so me including others can clearly see it and switch to false

[2015-11-29 22:37] basarat commented on #757
We feel that linter is critical to a good experience :rose: You need to use both or none, sorry about that, you have the right to disagree and I definitely understand your point of view.

[2015-11-29 22:37] #757 closed

[2015-11-29 23:39] david-byng opened #760 "ts worker restarting. Don't know why it stopped with code: null"
After editing typescript files for a while, the message
[code]
is output to the console. Autocomplete then stops working, and items begin stacking up in pending requests. Eventually error messages start being thrown:
[code]

This usually happens when I stop typing while the code is invalid and wait for an autocomplete suggestion (eg: `let foo: Foo = bar; if (baz[foo.^]` - where `^` is the caret, a

[2015-11-30 00:32] basarat commented on #760
*** set a breakpoint in malloc_error_break to debug

Already reported https://github.com/TypeStrong/atom-typescript/issues/728 . Also reported to the Atom team : https://github.com/atom/atom/issues/9663 :rose:

[2015-11-30 00:32] #760 closed

[2015-11-30 00:37] basarat commented on #755
no. Can you share your tsconfig.json :rose:

[2015-11-30 15:48] mjohnsonengr commented on #706
Hi,

I think this is related so I'll attach a screenshot; the parentheses around typing information in this case is in a method parameter.

![image](https://cloud.githubusercontent.com/assets/7274059/11476241/e15aa322-973e-11e5-83ba-4640fbfdacc6.png)

[2015-11-30 22:30] #758 closed

[2015-12-01 05:37] adamduren opened #761 "Errors In Open Files only updates when the tab is active"
My "Errors In Open Files" only updates when I switch to the tab with an error. For example. If I remove a parameter from a base class method and the child calls the super. The child file only shows that it has an error when it is made the active tab instead of when I remove the parameter from the base class.

Any ideas?

[2015-12-01 13:05] c0gnize commented on #731
Same issue observed on Windows 10, atom 1.2.4.
Editor fully hangs after opening any big ts file (regardless of tsconfig), for example [react.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/a809e347c94f642cdffae40c42b1ea45f84ad9ad/react/react.d.ts).
But it happens only when i use atom-typescript and editorconfig packages together.
May be this is a bug of atom, i don't know.

[2015-12-01 15:17] lazutkin commented on #722
Same problem. Today I need restart Atom in order to get workable autocompletion

[2015-12-01 18:59] unional commented on #731
I speculate this is the issue:

`atom-typescript` has pending actions leak when the content is changed before the actions are performed.

1. `editorconfig` will make changes, to any files that opens, and fire multiple change events.
2. When the file is opened, `atom-typescript` will queue pending actions, as well as for each change.
3. I notice some pending actions are stucked as I work on the pro

[2015-12-01 19:01] glen-84 opened #762 "Add "allowSyntheticDefaultImports" compiler option"
See https://github.com/Microsoft/TypeScript/pull/5577

`ntypescript` will also need to be updated.

[2015-12-01 22:37] basarat commented on #731
Thanks for narrowing it down. @blakeembrey already pointed out to me that the fact that we don't batch edits to the backend can lead to huge number of pending requests e.g. when formatting like your sample and then the backend crashes for some reason.

Batching is something that needs to be implemented in our workerLib ... keeping it open till I have an idea of how to implement it best :rose:

[2015-12-01 22:38] basarat commented on #722
@lazutkin can you share your tsconfig.json :)

[2015-12-02 00:58] unional commented on #731
Batching would be nice, but I think the problem stem from not handling case that the edit is no longer relevant:
![image](https://cloud.githubusercontent.com/assets/3254987/11519148/a0d38e2c-984c-11e5-9cd7-21544bfb2563.png)

This is one instance that the request count stuck there and never goes down.

[2015-12-02 03:40] basarat commented on #762
A recent PR that adds options to tsconfig.json : https://github.com/TypeStrong/atom-typescript/pull/725

General guidance is available here : https://github.com/TypeStrong/atom-typescript/blob/cb7f23e26d03e28bd21e65ff5be92cf9581b2a4c/lib/main/tsconfig/tsconfig.ts#L12-L16 :rose:

[2015-12-02 05:06] basarat commented on #761
This is by design. We *query* the errors *only for the current file* when:

* the file contents change
* the active tab changes

This works fine in most cases and results in less inconsistency... at least you never end up wondering if there is an error or not because some background magic is happening. It integrates well with *edit as you go* behavior (and low overhead) which is desirable with gen

[2015-12-02 05:06] #761 closed

[2015-12-02 11:54] lazutkin commented on #722
Sure!

[code]

[2015-12-02 16:08] adamduren commented on #761
@basarat Thank you for the explanation.

[2015-12-02 22:38] basarat commented on #722
@lazutkin like I mentioned https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#for-really-large-projects-atom-typescript-gets-slow the `filesGlob` should be `"!node_modules/**",` instead of `"!node_modules/**/*.ts",` Same for other excludes :rose: That should fix it for you :rocket:

Also since stacklance hasn't responded with their tsconfig closing the issue :rose:

[2015-12-02 22:38] #722 closed

[2015-12-03 05:22] aminroosta commented on #315
:+

[2015-12-03 08:40] lazutkin commented on #722
Ok, thanks!

[2015-12-03 11:01] pinoyyid opened #764 "compileOnSave ignored when tsconfig is in a parent directory"
First - awesome job Bas!!

To reproduce:-
 1 generate a tsconfig.json in the folder as the .ts files
 2 add compileOnSave: false
 3 note that saving a foo.ts file does not build a foo.js, ie correct behaviour
 4 move the tsconfig.json up one directory
 5 adjust file paths in tsconfig
 6 save the same foo.ts file. Observe that foo.js is now being created

[2015-12-03 11:09] pinoyyid commented on #764
hmm, looks like user error. Closing

[2015-12-03 11:09] #764 closed

[2015-12-03 11:39] intellix commented on #552
3278ms for me here on a MBP

[2015-12-03 19:05] ryanwischkaemper commented on #753
@basarat I just saw this post, and I'm kind of surprised it's here. I'm very certain I did not create this issue on my own. I do have the Zenhub Chrome extension installed though...maybe it was a misclick or something. Feel free to close this issue as I did not intend to open it.

[2015-12-03 20:27] basarat commented on #753
I thought you worked for Zenhub 🌹 :)

[2015-12-03 20:27] #753 closed

[2015-12-03 23:34] #762 closed

[2015-12-04 09:50] tomitrescak opened #765 "TS emit failed with latest release"
The build works as expected, but when compilation on save is emited following error is triggered:

<img width="1197" alt="screen shot 2015-12-04 at 10 48 20" src="https://cloud.githubusercontent.com/assets/2682705/11586637/caa02ccc-9a74-11e5-8c61-2556cfc2875a.png">

[2015-12-04 10:20] basarat commented on #765
Sorry @tomitrescak. I tried a quick test and it works fine.

![asdfasdf](https://cloud.githubusercontent.com/assets/874898/11587347/bf1778ee-9acc-11e5-9e8d-ba1fa78951b3.gif)

Can you share your tsconfig.json ... and are you using `extenalTranspiler`? (I'm personally not and don't even have it setup) :rose:

[2015-12-04 10:26] basarat commented on #765
Got it. Happens if the file is a `.d.ts` file ... aka doesn't have a valid js status

[2015-12-04 10:35] basarat commented on #765
Released: https://github.com/TypeStrong/atom-typescript/releases/tag/v7.14.0 have a nice weekend :rose:

[2015-12-04 11:06] tomitrescak commented on #765
I admire your speeeeeeeeeeed :8ball: ;)

[2015-12-04 11:30] tomitrescak opened #766 "TSX navigate to definition"
This may be a duplicate, but I could not find it between issues.
It is a feature request, to have the possibility to use "CMD+R" just like in ".ts" files to navigate to definition / symbol.

Thanks! Keep up the great work!

[2015-12-04 11:39] tomitrescak commented on #728
I can confirm that with Atom 1.3.0 beta all is OK.

[2015-12-05 01:34] basarat commented on #766
released https://github.com/TypeStrong/atom-typescript/releases/tag/v7.14.1 :rose:

[2015-12-05 01:34] #766 closed

[2015-12-05 02:53] laurelnaiad commented on #765
I suspect it's possible that the failures with d.ts files might be similar to the issue I'm chasing in #755. @tomitrescak (and @basarat ) when you were experiencing (and reproducing) this bug, were you compiling into your source directory? Or targeting a build directory distinct from your source directory? #755 popped up for me when I was looking at other babel-related code, as well. I will respon

[2015-12-05 09:56] unional opened #767 "Support dot notation in jsx"
[code]

`display.bind` is aurelia-like syntax, JSX (thus TSX) does not seems to object that notation.

[2015-12-05 15:18] tomitrescak commented on #765
Hi, 7.14.1 is still failing Emit ;( Last one that works is 7.12.0 ;(

[code]

[2015-12-05 15:20] tomitrescak commented on #766
Awesome! Works! :tulip:

[2015-12-05 19:34] laurelnaiad commented on #755
On my current codebase, I'm not longer getting this problem, I think. I have several local changes in place, a couple of which may be helping out with the particular issue I raised here. Let me try this out for a few days, and if it seems like the improvement I hope it is, I'll package them up as a single patch. I'll look to post a branch to my fork some time today if it's holding up, so you can s

[2015-12-05 20:29] dsifford opened #768 "Hover type information doesn't seem to be working"
Hello,

I recently installed this plugin and it's fantastic. The only issue I am having is I can not seem to get the hover type info to work at all.

I disabled all my other plugins and tried again and it still doesn't work.

Any suggestions? Anything I can do/provide for you (debug logs/etc). Happy to help figure this out.

Thanks

[2015-12-05 22:52] kepler0 opened #769 "JavaScript Autocomplete?"
Could this package provide Autocomplete Suggestions for JavaScript files, much like Visual Studio Code seems to be doing?

[2015-12-06 08:16] unional opened #771 "TSX: Incorrect Tag Matching"
![image](https://cloud.githubusercontent.com/assets/3254987/11612444/7c2da138-9bae-11e5-94d4-a0439284c1dc.png)

See the end tag `A` is matched with the self-closing `A` inside.

[2015-12-06 19:38] doliver3 commented on #467
1. Why does the js get outdated
2. Why is the error displayed in red as if it is a programmer's error. It is not a programmers error if I understand right. It is an indication that the tool is not keeping up with the compilation it needs to do so the styling should not be a red x nor should it imply as it does now the that the programmer has an issue to fix.

[2015-12-06 20:50] jon49 commented on #728
I'm getting this issue on XUbuntu. I'm using 1.1.0. I'll see if I can figure out how to upgrade to 1.3.0.

[2015-12-06 20:52] doliver3 opened #772 "Option to disable the 'quick fix' lightbulb"
Could you provide an option disable the 'quick fix' light bulb?

It is very distracting appearing randomly next to most lines.

It is extremely rare it has any commands of use. In addition, it should not require looking up the documentation on atom-typescript to figure out what it does. If it is visible, clicking on it should display the dropdown of quick fix options.

[2015-12-06 21:30] jon49 commented on #728
Don't seem to be having any issues with 1.3.0 beta

[2015-12-06 23:10] basarat commented on #765
@tomitrescak I believe the stack trace would now be different. Can you share that please :rose:

[2015-12-06 23:13] adidahiya commented on #728
Atom 1.30 beta fixed this for me as well

[2015-12-07 13:00] yoav-zibin commented on #224
Any updates on this?
I need to be able to use both atom-typescript and tsc (the regular compiler),
and I can't get them to produce the same results because of the line ending difference :)
I wish to have just newlines:
        "newLineCharacter": "\n",
but if I look at the output I see atom-typescript adds "^M" :
var langCodeToName = {};^M

[2015-12-07 13:44] yoav-zibin commented on #224
I think newLineCharacter  was the old way of setting it in the formatCodeOptions

    "formatCodeOptions": {
        "newLineCharacter": "\r\n",

I tried newLine compiler option:
    "compilerOptions": {
        "newLine": "CRLF"

http://json.schemastore.org/tsconfig
            "newLine": {
              "description": "Specifies the end of line sequence to be used when emitting files: 'CRLF' (do

[2015-12-07 13:53] yoav-zibin commented on #224
Ok, solved it by upgrading my tsc compiler to latest version, and now newLine: CRLF works,
and the two compilers produce the same output (they still have some minor discrepancies, but nothing some typecasts can't fix).
Still would be nice to support newLine in atom-typescript :)

[2015-12-08 01:21] #767 closed

[2015-12-08 01:23] basarat commented on #769
Duplicate of https://github.com/TypeStrong/atom-typescript/issues/315

Note: Its difficult to add complex features like this when this is not my main hobby project anymore, so probably will never be done.

[2015-12-08 01:24] basarat commented on #772
I feel like disabling the quick fix infrastructure to make this package simpler to maintain :-/

[2015-12-08 01:33] basarat commented on #771
We don't do anything special here. Matching done by atom. Might be us not tokenizing *self closing* tags correctly.

[2015-12-08 01:36] unional commented on #771
File on atom/atom?

[2015-12-08 01:39] basarat commented on #771
good idea :rose:

[2015-12-08 01:40] unional commented on #771
Confirmed the same issue with JSX using package `language-javascript-jsx`.

[2015-12-08 01:43] basarat commented on #771
Just checked HTML grammar. It works fine :

![image](https://cloud.githubusercontent.com/assets/874898/11645509/2b15fa64-9da9-11e5-8432-55e7462af49f.png)

Guess we / jsx doesn't do `end` on self closing. That's what they will probably point us to :rose:

[2015-12-08 01:48] unional commented on #771
So likely something need to change on this rule?

[code]

Sorry, not expert in regex. :P

[2015-12-08 01:57] unional commented on #771
Probably this is the issue:
![image](https://cloud.githubusercontent.com/assets/3254987/11645678/7935d3e8-9d0b-11e5-861a-d1465761e53c.png)

There is an extra `begin jsx` inside the end tag

And for tsx:
![image](https://cloud.githubusercontent.com/assets/3254987/11645730/cf2eabf8-9d0b-11e5-84ec-901936208388.png)
There is an extra `open tsx` at the beginning.

[2015-12-08 03:00] unional commented on #771
Seems like it is indeed `atom`:
https://github.com/atom/bracket-matcher/issues/115

[2015-12-08 03:06] kepler0 commented on #769
Thanks for answering! I'd love to contribute if you're open to more contributors. I'm just starting to get into TypeScript, it's pretty neat.

[2015-12-08 03:06] #769 closed

[2015-12-08 03:48] basarat commented on #769
Always!:rose: But not this feature. I feel that maintaining this is quickly going to get out of hand. Till TypeScript official supports `salsa` mode https://github.com/Microsoft/TypeScript/issues?q=is%3Aopen+is%3Aissue+label%3ASalsa

[2015-12-09 04:03] daniel-trinh commented on #726
+1

[2015-12-09 07:25] glen-84 commented on #772
I agree. I don't understand why it shows up with no suggestions.

[2015-12-09 07:41] glen-84 commented on #748
I have the same problem all the time. I also have the editorconfig plug-in installed.

To fix it I have to remove `C:\Users\{user}\.atom\storage\editor-1f7cc550e0164939d8f0c519486fe3e9166db101`, which is really annoying.

[2015-12-09 07:44] glen-84 commented on #731
Same. I can't open `node.d.ts` without Atom freezing. :disappointed:

[2015-12-09 12:25] jmc420 commented on #558
does file exclusion in the tsconfig working atom-typescript version  7.14.1? I have this file exclusion but it is still compiling my typings directory:

"filesGlob": [
      "./src/ts/**/*.ts",
      "!./node_modules/**/*.ts",
      "!./typings/**/*.ts"
  ],

when I run tsc on the command line, it works fine. Is there something wrong with the filesGlob above?

James

[2015-12-09 13:58] tomsdev commented on #351
Should this issue be closed since the PR has been merged?

[2015-12-09 19:54] blakeembrey commented on #558
This is the wrong issue for `filesGlob` issues. There's no known issues with `filesGlob` right now. I don't understand you're problem - can you open an issue and say what's wrong instead of just that it isn't. Then we can narrow the issue down. That `filesGlob` you posted though, it doesn't need those exclusions at all since you aren't including them to begin with. Also, `tsc` does not use `filesG

[2015-12-09 20:23] basarat commented on #351
🌹

[2015-12-09 20:23] #351 closed

[2015-12-10 00:53] unional opened #773 "Multi type function property: Cannot invoke an expression whose type lack a call signature"
Is this error from `atom-typescript`?

[code]

![image](https://cloud.githubusercontent.com/assets/3254987/11703558/0a9c6312-9e95-11e5-8551-6761df707460.png)

https://github.com/palantir/tslint/issues/862

[2015-12-10 00:58] blakeembrey commented on #773
Yes, but this is a TypeScript error. Since your signature says it might be a string or a RegExp, `match` is not always a function. Try wrapping it in a function check, and make sure that interface is correct.

[2015-12-10 01:11] unional commented on #773
I do want to let `match` be `string | RegExp | ((context: RouteContext) => any)`
I tried to wrap it in a function check, but the error persist. What function check do you recommend or define the interface differently?

For function check, I'm doing:
[code]

[2015-12-10 01:16] blakeembrey commented on #773
If the interface is correct, then don't change that. Did you write the Underscore/Lodash definition file? You could implement it using type guards if you're using TypeScript 1.6+.

Otherwise, you can always use a type assertion to make it work:

[code]

[2015-12-10 01:23] unional commented on #773
Seems like `(route.match as Function)` doesn't work. Need to be more specific `(route.match as ((context: RouteContext) => any))`.
Sounds like some covariance improvements needed on TypeScript?

[2015-12-10 01:32] blakeembrey commented on #773
It's probably correct, that was just a random throw out but the proper type would be better. The best solution here would be to fix the type guard in the lodash definition you're using.

I'll close this now, but feel free to continue the discussion.

[2015-12-10 01:32] #773 closed

[2015-12-10 01:32] unional commented on #773
Thanks!

[2015-12-10 05:13] #772 closed

[2015-12-10 05:14] basarat commented on #772
I've only disabled the lightbulb for now :rose:

[2015-12-10 05:16] basarat commented on #772
released https://github.com/TypeStrong/atom-typescript/releases/tag/v7.14.2 :rose:

[2015-12-10 05:21] basarat commented on #768
If you use multiple panes it might not work. Have a single pane and then reload atom :-/ Its hacky *not supported officially by atom APIs* code `¯\_(ツ)_/¯`

[2015-12-10 11:29] janjilek opened #774 "Error on click inside editor window"
Hello,
I receive this exception everytime when I click inside editor window. So this plugin is unusable for me right now :-(

**Atom Version**: 1.3.0
**System**: Mac OS X 10.10.4
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v7.14.2

### Stack Trace

Uncaught TypeError: editor.displayBuffer.getScrollTop is not a function

[code]

### Commands

[code]

#

[2015-12-10 12:28] jmc420 commented on #558
I found my issue and it was because the filesGlob was correctly picking up a file that I did not want included.

[2015-12-10 15:04] mjohnsonengr commented on #772
:+1: Thanks :grin:

[2015-12-10 15:09] tomitrescak commented on #765
Bad news ;( Stacktrace is empty .. no error in console. Only the TS failed to emit error.

[2015-12-10 15:29] dsifford commented on #768
@basarat Thanks for the reply.

While multiple panes does cause some issues, it is not what is causing my specific issue. It still happens even without multiple panes.

I'm running atom beta (which, I suppose could be the source of my issues) and also Windows 10 Pro Beta (fast build)

Let me know if theres any logs I can provide for you if you'd like.

[2015-12-10 20:29] hitchcockwill commented on #549
I'm experiencing this issue as well. I tried installing atom-typescript through the UI then removed it and tried installing through CLI. The CLI install resulted in: ```Installing atom-typescript to /Users/willhitchcock/.atom/packages ✓``` but not the ```AtomTS: Dependencies installed correctly. Enjoy TypeScript ♥``` readout mentioned above. I also tried opening atom with ```sudo atom ./```, no lu

[2015-12-10 20:31] mjohnsonengr opened #775 ""let" keyword incorrectly inferred from name "bullet""
I'll reference #675 so you don't have to, but I can't add the category:grammar tag.

This specifically seems to happen with the word "bullet" from which "let" is incorrectly grabbed which I assume is the reason certain amounts of syntax highlighting break after this in the document.

![image](https://cloud.githubusercontent.com/assets/7274059/11727623/13303cbc-9f42-11e5-8cc3-254daeaa492a.png)

[2015-12-11 00:08] basarat commented on #774
Please update to latest atom version and report back if it doesn't fix it :rose:

![image](https://cloud.githubusercontent.com/assets/874898/11732357/8c10dc8a-9ff7-11e5-850b-e83dc7e56c14.png)

[2015-12-11 00:08] #774 closed

[2015-12-11 00:10] basarat commented on #768
Probably. I personally don't track beta so marking as up for grabs for now :rose:

[2015-12-11 00:17] basarat commented on #765
@tomitrescak I don't have a repro :-/  Also you seem to be the only one suffering from this at the moment. I am open to suggestions :rose:

![working fine](https://cloud.githubusercontent.com/assets/874898/11732491/bf6f4516-9ff8-11e5-9604-8d668246635e.gif)

[2015-12-11 03:09] basarat commented on #549
Anyone have any stack trace (open dev tools https://github.com/TypeStrong/atom-typescript/blob/master/CONTRIBUTING.md#workflow) :rose:

[2015-12-11 14:12] hitchcockwill commented on #549
Just installed the development version and rebooted. I'm getting a few errors in the console:

[code]

and

[code]

[2015-12-12 03:00] Justin123ishere commented on #537
I was getting the same problem, but all I did was set "buildOnSave" from false to true, and restart the atom IDE. It was working fine with me without reinstalling.

[2015-12-12 08:59] tomitrescak commented on #765
@basarat I found the culprit, looks like a bug.
My setup is following:

1. In the root directory I have a tsconfig.json which is pasted below, that takes care of most project files and does not emit any source code
2. In package subdirectories I have several packages with their custom tsconfig.json which DO emit source into "dist" directory and their content is pasted below.

Removing all other ts

[2015-12-12 10:14] tomitrescak commented on #765
@basarat GOT IT!

The culprit is the "noEmit": true

With compilation set to some `outDir` no problems appear.
When I turn on the noEmit rule in any of my projects I receive the TS Emit Failed.

I can reproduce this issue in ALL my projects, please test it if you have time.

[2015-12-12 10:20] tomitrescak commented on #728
I think we can close this one as all seems to be well with Atom 1.3.+

[2015-12-12 10:20] #728 closed

[2015-12-12 10:34] tomitrescak commented on #696
Hi, for now you can use my workaround that updates project imports globally. Just install the "Macros" package and add following Macro:

[code]

To use it, just update the project root directory.
Also, I use " in import statements, if you use ' you need to update the regular expression.

[2015-12-12 11:53] achicu opened #776 "Add support for projects built with WebPack"
In WebPack the imports are resolved based on the aliases in the configuration file. The path system is different than the one in TypeScript.

Add a method to support external resolvers, like webpack.

[2015-12-12 12:12] debdattabasu opened #778 "Tsx errors on optional properties"
see https://github.com/Microsoft/TypeScript/issues/6029.

The error message says that 'key' and 'props' property must be given, but they are defined as optional on IntrinsicAttributes and IntrinsicClassicAttributes. This is a problem with latest typescript trunk version. version 1.7.3 compiles without issues. I am facing this issue in latest atom-typescript.

[2015-12-13 00:53] basarat commented on #765
Wouldn't `noEmit` explicitly disable any emit? So we shouldn't show the message but the rest is fine? Am I mistaken? :rose:

[2015-12-13 10:08] tomitrescak commented on #765
Yes, you are right. I'm not sure if on-the-fly compilation does the same as compilation on save, but the Emit Failed message should not be shown as it is a bit misleading since compilation is performed just fine.

[2015-12-13 13:23] j6lim commented on #778
FYI: downgrading atom-typescript to 7.9.0 worked for me

[2015-12-13 13:28] j6lim commented on #778
It seems that trunk versions of typescript break frequently. Please consider using the latest stable version for people using atom-typescript plugin in their mission critical tasks.

[2015-12-13 19:29] lazutkin opened #779 "Syntax Highlighting: for gurad functions with generic type"
A snippet below

<img width="526" alt="messages_ts_-__users_dimka_projects_api_medesk_md_-_atom" src="https://cloud.githubusercontent.com/assets/1035026/11768793/e58d3fa4-a1e8-11e5-9480-abf9f70aa627.png">

[2015-12-13 23:11] basarat opened #780 "With `noEmit: true` the `Compile failed but emit succeeded` message should not show"
Currently it does which is a bit misleading.

[2015-12-13 23:11] basarat commented on #765
@tomitrescak I've created a clearer issue report : https://github.com/TypeStrong/atom-typescript/issues/780 :rose:

[2015-12-13 23:11] #765 closed

[2015-12-13 23:30] basarat commented on #549
@hitchcockwill sorry for the late reply. That is by design. We are just erroring out on invalid projects. We show a message for this as well :

![image](https://cloud.githubusercontent.com/assets/874898/11770246/637f2828-a24d-11e5-9c82-9baebb15752b.png)

That if you click would guide you to the fix. Basically you have something like :

[code]

When you should have :
[code]

@hitchcockwill docs : h

[2015-12-14 14:19] mjohnsonengr commented on #645
Note the same issue occurs in for loops:
![image](https://cloud.githubusercontent.com/assets/7274059/11783177/f02e52a0-a232-11e5-90ab-270c613a1313.png)

[2015-12-14 16:11] hitchcockwill commented on #549
After making that change in the tsconfig file I started getting autocomplete suggestions as expected in my .ts files. They are pretty slow, but they do work.

[2015-12-14 22:37] basarat commented on #549
@hitchcockwill check that the tsconfig is not touching all files. See FAQ https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#for-really-large-projects-atom-typescript-gets-slow for details :rose:

We should probably be easily able to figure out the intent and understand that its a folder exclusion ourselves at some point :rose:

[2015-12-15 01:27] basarat commented on #776
Sorry. Will not be added. See https://github.com/TypeStrong/atom-typescript/pull/777#issuecomment-164612261 for details :rose:

[2015-12-15 01:27] #776 closed

[2015-12-15 01:30] basarat commented on #778
I can understand the motivation. But not tracking the latest results in *more bugs* when *we do go to latest* :rose:  @debdattabasu thanks for reporting :rose:

[2015-12-15 02:05] hitchcockwill commented on #549
Thanks @basarat I was having some other issues with the plugin and just discovered that I needed to configure my tsconfig. I've got it set up correctly now and everything seems to be working at lot better.

[2015-12-15 02:35] basarat commented on #549
Cool. Since no one else has reported back, closing this :rose:

[2015-12-15 02:35] #549 closed

[2015-12-15 13:23] alvarod-infocorp commented on #681
I have the same issue in some components files of my project. Here my `tsconfig.json`:

[code]

[2015-12-15 15:52] zimme opened #781 "Weird syntax highlighting"
Seems to be triggered by the `event` keyword?
![](https://i.imgur.com/Ydomgog.png)

[2015-12-15 18:25] priyatham-aps commented on #778
@basarat
I have started facing this issue a few days back when I updated my atom-typescript package. We are not facing this issue in our project build as we are using an earlier typescript version.

I am guessing atom-typescript package uses its own bundled typescript version and not the one I have installed within my project or even globally, which essentially breaks our usage of atom and this pa

[2015-12-15 19:32] basarat commented on #778
@priyatham-aps use the old version of the language service : https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#which-version-of-typescript-does-atom-typescript-use :rose:

[2015-12-15 19:58] basarat commented on #681
A path to a sample component file + screenshot please. I don't have a repro for *out of context* portion of this issue yet :rose:

[2015-12-15 20:48] laurelnaiad commented on #681
I don't know if this is helpful, but I've experienced strange behavior when messing with the upper/lowercasing of files. As best I can guess, some important piece of the system seems not to be case sensitive. Given Typescript's origins, this doesn't surprise me a ton. The problem seemed to survive restarts of Atom, which leads me to believe that it had something to do with a mismatch between gener

[2015-12-15 21:44] myitcv commented on #778
@basarat [tsuquyomi](https://github.com/Quramy/tsuquyomi) (the Vim equivalent) uses a [locally installed TypeScript version by default](https://github.com/Quramy/tsuquyomi#use-typescript-installed-locally). This seems a sensible default - is it possible to configure `atom-typescript` in this way?

[2015-12-15 23:36] basarat commented on #778
There is already a request to have this package support typescript version specified using tsconfig.json. If there is a consensus on that we might go that way.

[2015-12-16 07:49] basarat commented on #681
Very plausible. We use filePaths (made consistent `/` [some docs](https://github.com/TypeScriptBuilder/tsb/blob/master/docs/contributing/CONVENTIONS.md#file-paths)) all over the codebase. Would only throw an error though if atom UI's view of the filePath is different from *our* background view of the filePath....

[2015-12-16 08:49] myitcv commented on #778
@basarat why would the TypeScript version be specified in `tsconfig.json` given it's already specified in `package.json` (or equivalent)?

Is there any reason why `atom-typescript` wouldn't adopt the same logic as `tsuquyomi`?

[2015-12-16 10:21] cevek opened #782 "Auto import feature"
Webstorm have cool feature like auto import entities from indexed files

for example we are typing: `new Foo()` and WS prompt "import Foo from 'foo.ts'?" if we says yes, then it append to header `import {Foo} from './deep/folder/path/foo'`
![jhl ts - del - --dev-del 2015-12-16 13-20-51](https://cloud.githubusercontent.com/assets/3171573/11838406/e522fc78-a3f7-11e5-9229-3ee7658e1a4b.png)

[2015-12-16 19:26] blakeembrey opened #783 "Using `import` completion results in `import` removing prefixed whitespace"
Sometimes you want/need whitespace - E.g. writing an ambient module definition manually.

[2015-12-17 01:12] laurelnaiad commented on #681
@basarat, I am sitting on a reproducible (on my machine) instance of the '"someFile.ts" is not included in the Typescript compilation context' problem. It's so reproducible on this one file that I can't get rid of it. :)

My whole project compiles just fine via F6, and the files array and filesGlob are both accurate, but the message persists. I don't have time to debug it right now, but at this ra

[2015-12-17 02:04] basarat commented on #681
Only if `atom` saves the file in its memory / storage as `SomeFile.ts`. Log out what you see in the developer console `atom.workspace.getActiveTextEditor().getPath();` :rose:

If that is indeed the case, closing / opening the file should fix it _maybe_

[2015-12-17 07:21] basarat commented on #778
@myitcv I take my words back. I prefer `package.json` lookup :rose:

[2015-12-17 07:42] doliver3 opened #784 "autocomplete does not work"
Autocomplete does not work. I'm on Mac El Capitan.

I type the example lines in your example screen shot of autocomplete, and yet there is no dropdown for autocomplete for me.
var foo = 123;
var bar = foo.toString();

Also Command + Space which is what you say triggers auto-complete is the keyboard shortcut to launch the spotlight search on a Mac so that command is impossible to invoke with Comman

[2015-12-17 13:21] laurelnaiad commented on #681
```atom.workspace.getActiveTextEditor().getPath();```

returns the accurate, path to the file. Nothing I wouldn't expect.

Closing/opening the file has no effect. Renaming the file has no effect. Quitting/restarting atom has no effect. It just refuses to accept that the file is already in tsconfig.json's files array, even thorugh F6 works, the app works, etc.

[2015-12-17 14:22] SallyOne opened #785 "download so slowly!!!!!!"

[2015-12-17 18:33] blakeembrey commented on #785
I find that sometimes this is an issue with Atom (assuming you don't just have slow internet). Occasionally a package install will just take forever, when really it did install already. Try opening and closing Atom, let me know if it's still an issue?

[2015-12-17 19:08] GabrielCTroia opened #786 "Syntax Highlighting doesn't seem to work correctly"
There is a huge difference between Javascript's Syntax Highlighting and Typescript's.
I'm not yet convinced this is a problem with atom-typescript but I did test more than one theme and it renders the same.

Please see some screenshots using Dark One below:

![screen shot 2015-12-17 at 2 01 02 pm](https://cloud.githubusercontent.com/assets/2099521/11879015/ed80d2f8-a4c6-11e5-8a23-ac1c38c50d26.png)

[2015-12-18 00:36] basarat commented on #784
@doliver3 which version of atom?

[2015-12-18 00:37] basarat commented on #786
It very well is a problem with this package. https://github.com/TypeStrong/atom-typescript/issues/675 needs a hero :rose:

[2015-12-18 00:38] basarat commented on #781
Very likely. https://github.com/TypeStrong/atom-typescript/issues/675 needs a hero :rose:

[2015-12-18 00:38] basarat commented on #779
Cheers :beer: https://github.com/TypeStrong/atom-typescript/issues/675 needs a hero :rose:

[2015-12-18 00:40] basarat commented on #782
Cool. Some guidance : https://github.com/TypeStrong/atom-typescript/blob/master/docs/quickfix.md

:warning: Its hard stuff that needs close attention that I find difficult for people that aren't me ... so instead of marking up for grabs marking as wishlist :rose:

[2015-12-18 00:45] basarat commented on #783
# Guidance

This code : https://github.com/TypeStrong/atom-typescript/blob/9a5c29ffe11ab0e5944bad4a24d9e17b83cb5717/lib/main/atom/autoCompleteProvider.ts#L201-L240 should preserve whitespace :rose:

@blakeembrey Label as up for grabs if want it open for someone else :rose:

[2015-12-18 07:23] doliver3 commented on #784
1.3.2

[2015-12-18 07:37] doliver3 commented on #772
I just tried out the updated version, and the lightbulb is disabled.
Thanks for the quick turnaround handling this!

[2015-12-18 19:23] basarat commented on #784
Any errors in the atom Dev console?

[2015-12-19 06:40] DaltonNotetech opened #788 "Syntax Highlighting"
class Cl extends A implements Inter {
	a: string = "";
	f() {
		this.a = "";
	}
}

Here all the words in "A implements Inter" is od same color. Please fix it. I tried may themes....

[2015-12-20 01:06] apptoix opened #789 "Quick Fix Improvements"
Quick Fix is a real time saver, but with some improvements will fly high.

1 - The text color of the list is too dark, it's really hard to read. [screen shot on OSX with light theme]

<img width="403" alt="screen shot 2015-12-20 at 08 46 54" src="https://cloud.githubusercontent.com/assets/7297282/11915918/dbb75560-a6f6-11e5-8d4e-90c1f67dcfe4.png">

2 - Support of Add var? to interface.
Many times

[2015-12-20 05:40] basarat commented on #788
Thanks. https://github.com/TypeStrong/atom-typescript/issues/675 needs a hero :rose:

[2015-12-20 15:47] myitcv commented on #778
@basarat  :+1:

I think the algorithm need only be as simple as iteratively searching for  `node_modules/typescript/lib/typescriptServices.js` in the directory containing the open file, all the way up to `/`. No need to parse `package.json`

[2015-12-20 22:27] doliver3 opened #790 "Feature Request: Go to Implementation"
Hi,

Your 'Go to Declaration' feature when pressing F12 is awesome!

I'd like to request a 'Go to Implementation' feature as well. When you 'Go to Declaration' as currently implemented you often arrive at the typescript .d.ts file which has the function signature but not the actual implementation. It would be great if there were a different key combination that would go to the implementation or if

[2015-12-21 08:27] cevek commented on #782
Great!
But why `import foo = require('../foo')` instead of `import {foo} from '../foo'`?

[2015-12-21 22:23] basarat commented on #782
`import foo =` is not the same as `import {foo}`. it is more like `import * as foo` :rose:

[2015-12-21 22:32] basarat commented on #790
It might not be of much use in general projects because of TypeScript's type system being structural. e.g. The TypeScript source code has types declared in `types.ts` with constructors being just *functions* that return objects that conform to the interface. E.g. see Node creation : https://basarat.gitbooks.io/typescript/content/docs/compiler/parser-functions.html#node-creation in the typescript s

[2015-12-22 07:46] jschwarty commented on #782
I have a PR (https://github.com/TypeStrong/atom-typescript/pull/791) submitted that adds a quick fix option for an "import from" statement.

[2015-12-22 21:01] doliver3 commented on #790
Ok, I've opened this related request to the Typescript team: Microsoft/TypeScript#6209

I just tried Find References again in various combinations but it never does what this request is asking for which is to show the implementation of the type. It does show all places that the type is used but doesn't show the implementation of that type.

There is a implements keyword in Typescript itself for im

[2015-12-22 23:08] basarat commented on #790
Sorry. I misread the question. But your request on Microsoft/TypeScript is still the right way to go :rose:

[2015-12-23 01:19] alexwall opened #792 "Stop opening all refactored files"
is it possible **not** to open all refactored files. Just refactor and save the files.

The problem is, when I use an common function in many files e.g. customLog() and want to rename it to something different like logInfo(), typescript/atom opens all the refactored files.
I loose my (overview of my) workspace and the system slows down, because of opening all this files.

[2015-12-23 09:13] basarat commented on #792
I definitely understand, and I too feel frustrated by this sometimes. However this is unidiomatic as far as various IDEs go. So rejecting for now :rose:

[2015-12-23 09:13] #792 closed

[2015-12-23 19:33] laurelnaiad commented on #755
I would like to revive this issue, because it turns out it's still an issue.

I've pushed https://github.com/laurelnaiad/at-dts-prob, a repo that demonstrates the d.ts problem, having just tested it against atom-typescript master.

@basarat, would you please take a look and let me know what you think? The readme in that repo explains how to reproduce the problem, as well as where the problem seems

[2015-12-23 19:38] laurelnaiad commented on #755
Hmm... maybe I should have the project ignore its own d.ts files....

[code]

seems to fix it. This might be developer error on my part?

[2015-12-23 21:14] dsifford opened #793 "Typescript package takes higher precedence than keymap.cson"
Hello,

I'm trying to overwrite `ctrl-alt-l`, but no matter how hard I try, this package takes precedence.

What's peculiar is, I'll get it to work during a session, then I'll exit and reopen and it no longer works.

I've tried using `!unset`, matching the Typescript-defined definition exactly, and that does not work either. I am out of ideas.

I'd appreciate any help you might be able to offer. T

[2015-12-23 23:10] basarat commented on #793
I've traced back the current *high specifity* to us trying to win over *newline* : https://github.com/TypeStrong/atom-typescript/commit/0ee5ff7b40a5e3e307165752a7d94cc7759ffd6b (probably on a Mac since I used a PC and it worked fine without).

@dsifford Please answer: Are you registering the command on `atom-workspace`? if not, you should :rose:

[2015-12-23 23:15] dsifford commented on #793
@basarat Correct. It's a very odd issue to trace. After trying to get it to occur again, I realized that it doesn't happen with any sort of regularity. I opened and closed atom a few times and all times it seemed to be working fine. Earlier this afternoon (without any changes to its current state) it was a different story.

I'll keep an eye on my patterns and report back if I am ever able to figur

[2015-12-23 23:39] basarat commented on #793
Cool. Closing for now. Feel free to discuss further :rose:

[2015-12-23 23:39] #793 closed

[2015-12-24 02:33] ctaggart commented on #541
I was hoping to see the AST for `TypeScript/lib/typescriptServices.d.ts`, but it is always blank for me. I copied the `tsconfig.json` from elsewhere and modified it to be:
[code]

![image](https://cloud.githubusercontent.com/assets/80104/11988385/95ee76f8-a9a3-11e5-8e26-4f57bb7b7f59.png)

[2015-12-24 02:34] JKillian commented on #541
@ctaggart That's a very long file which might be causing things to not work. I'd try reducing it to about 20 lines and seeing if you can get things working and then working up from there.

[2015-12-24 03:00] basarat commented on #541
@ctaggart as Jason said it will only work for small files around 20 lines. You can generally an understanding of the AST from code samples that small and extrapolate mentally to whatever you truly want to do with the AST.

It was written mostly as a quick hack for me to see *the typescript view of code* quickly :rose:

[2015-12-24 03:09] ctaggart commented on #541
Thanks @JKillian & @basarat. It is working fine with a smaller file. Yes, it is very useful!
![image](https://cloud.githubusercontent.com/assets/80104/11988695/a94c940a-a9a8-11e5-94f8-e73499eaf15c.png)

[2015-12-24 03:33] basarat commented on #541
@ctaggart also note that here is a difference between AST (The forEachChild visitor) / Full-AST (node.getChildren). Both are viewable via different atom commands :rose:

[2015-12-24 03:49] basarat commented on #755
Definitely not. If this is the *correct* fix than most likely a developer error on *my part* that needs to be fixed. Sadly I am going to mostly away till 8th January and will not be able to provide much support :rose:

[2015-12-24 04:08] laurelnaiad commented on #755
No worries @basarat. Hopefully you'll be doing fun/relaxing things till then!  I don't know that my "have the project ignore its own d.ts files" maneuver is correct, *per se,* but it keeps the emits from beginning to fail. :)

[2015-12-24 04:10] basarat commented on #755
FWIW, if one calls the language service endpoint without passing it a file the language service emits *all project files* so we can have *much faster builds*. But how it interacts with babel might be a problem. Note to self : explore in future :rose:

[2015-12-27 19:57] dsifford opened #794 "Friendly heads-up: Depreciation cop showing 6 new depreciations as of 12/27/15"
See screenshot below:

![image](https://cloud.githubusercontent.com/assets/5240018/12011777/19301fb8-acaa-11e5-9851-627b28592586.png)

[2015-12-28 08:18] basarat commented on #794
doesn't show for me for some reason. But the calls definitely exist, so up for grabs :rose:

![image](https://cloud.githubusercontent.com/assets/874898/12015906/b952627e-ad97-11e5-9491-6451779d9ac8.png)

[2015-12-28 10:31] kolis commented on #198
+1
The TS package is the largest contributor to my package loading time, as reported by the TimeCop command.

I have a total of 105 packages, loaded in 675ms, of which atom-typescript consumes 584ms

[2015-12-28 23:07] mr-moon opened #795 "Unable to import native node modules like http, crypto"
[code]
Results in
![image](https://cloud.githubusercontent.com/assets/933164/12026960/5df7c1e0-adc8-11e5-8b1a-650d534a86b7.png)

config.json is rather simple:
[code]

Could not find any more info on this. What did I miss?

[2015-12-29 01:42] laurelnaiad commented on #795
I use tsd (http://definitelytyped.org/tsd/) to easily get references to d.ts files, so my tsconfig for a node project would include:

[code]

having entered

[code]

and ensured that my typings directory is included in my filesGlob.

[code]

[2015-12-29 13:18] kbh1245 opened #796 "Uncaught TypeError: editor.displayBuffer.getScrollTop is not a function"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v7.6.2
### Stack Trace

Uncaught TypeError: editor.displayBuffer.getScrollTop is not a function

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-12-29 13:21] kbh1245 opened #797 "Error"
[launcher] Process exited with error code 1

C:\Users\pandurang\AppData\Roaming\npm\node_modules\protractor\node_modules\sele
nium-webdriver\lib\goog\async\nexttick.js:41
  goog.global.setTimeout(function() { throw exception; }, 0);
                                      ^
 Error while waiting for Protractor to sync with the page: "window.angular is un
defined.  This could be either because this is

[2015-12-29 14:59] mr-moon commented on #795
@laurelnaiad thanks. That nailed it. I wish it was documented.

[2015-12-29 14:59] #795 closed

[2015-12-29 15:09] laurelnaiad commented on #795
It can be confusing. Perhaps like you, I started learning Typescript in atom-typescript, and it's not always clear where Typescript proper (i.e. the tsc compiler) leaves off and atom-typescript begins. Throw in the fact that Typescript grew up in the Visual Studio world, and it gets weirder (see the whole subject of /// references).....

In this case, the d.ts business is a pure typescript-ism, bu

[2015-12-30 00:52] unional commented on #731
One way to easily hang the system:
* Open this file (create a new file locally or get that file): https://github.com/aurelia/event-aggregator/blob/master/test/event-aggregator.spec.js
* [ctrl-D] to select all `ea`
* Try to rename it

Typing each character add about 110 pending requests, when there is more then 240 (i.e. typing more then 3 characters in a short time) hangs the system.

[2015-12-30 16:44] stepancar commented on #2
@basarat 'Organize Imports" (remove unused import lines, add missing unambiguous ones)'
is it available now?

[2015-12-31 08:22] littleStudent commented on #448
Is anyone working on this? would love to see this feature added to atom-typescript.
Never did atom package development, would be a lot work for me to get into this stuff.

[2016-01-01 00:58] mmorton commented on #681
I am running into the same issue with a project I've recently started introducing typescript into.  In fact, it's the very first "mixed" project I've done.  All of the other projects have been typescript from the very start and have had no issues.

In any case, one of the files that raises the error, `./src/components/Tag.tsx`, does exist in the `files` array in the `tsconfig.json` file.  If I rem

[2016-01-01 03:08] mmorton commented on #681
Some more strangeness, if I create a new file `./src/components/tag.ts`, the not in context issue for `./src/components/Tag.tsx` disappears.  As mentioned previously, the file was originally copied into the project as `./src/components/tag.tsx`.

I can then delete the `./src/components/tag.ts` file and the problem does not return *until* I restart Atom.

[2016-01-01 05:50] basarat commented on #2
No, I've been distracted :rose:

[2016-01-01 09:11] mmorton commented on #681
I have found my issue.  I did some digging and tracked down the point at which atom-typescript's notion of my project files went wrong to here: https://github.com/TypeStrong/atom-typescript/blob/master/lib/main/tsconfig/tsconfig.ts#L461.  Upon realizing what that code was for, I went through files carefully and found a couple import statements for the files in question that were not changed to the

[2016-01-01 16:54] saminiemi commented on #221
:+1:

[2016-01-01 17:14] laurelnaiad commented on #681
It's great to have a such a simple reproduction documented -- thanks, @mmorton.

I'm able to reproduce it with that recipe on OSX (which is case-**sensitive**, as Unix cousin -- so on Mac and Linux, the `One.ts` will appear to be a different file from `one.ts`).

I don't understand what you mean by the rest of your report. You say:

What files did you go through where you found such import stateme

[2016-01-01 17:16] laurelnaiad commented on #681
BTW, @basarat I'm not clear on how you were able to determine that this is fundamentally an atom issue. Can you explain? That might help with tracking this down.

[2016-01-01 17:46] laurelnaiad commented on #681
One thing I noticed: I opened the test project which I created as per @mmorton in Atom **Beta** and the same problem is there... so if something has been written to disk, it might be somewhere that both instances of (Atom and Atom Beta) are seeing.

Also: the solution discussed here (remove from atom storage) doesn't solve it: https://discuss.atom.io/t/atom-is-loading-old-version-of-a-file-even-af

[2016-01-01 22:04] sclausen commented on #221
Yeah can't wait for #221

[2016-01-02 20:56] basarat commented on #681
@laurelnaiad based on the repro its not an atom issue. I was wrong :rose:

@laurelnaiad for all intent and purposes they are *exactly the same*. NTypeScript was started just as a nightly typescript release (before there was an official nightly), but it also does other *little* things (like a better definition file that *exposes* all the compiler private stuff ... which we need) which do not modify

[2016-01-02 20:59] basarat commented on #448
Nope :rose:

[2016-01-02 21:22] basarat commented on #797
Sorry, this isn't launcher. Perhaps the error report redirected here wrongly? Feel free to discuss if I am wrong :rose:

[2016-01-02 21:22] #797 closed

[2016-01-03 01:34] LivesleyWA opened #799 "syntax highlighting fails after union expression enclosed in a parentheses"
Example below. Compiles OK but syntax highlighting fails after the invokes attribute declaration - it actually fails when any union expression is enclosed in a parenthesis.

This is only a problem when specifying heterogeneous arrays since in all other cases the parentheses are not required.

[code]

[2016-01-03 06:27] dchacke commented on #221
Me neither. #798 is merged, but version 7.15.0 doesn't seem to include it yet...

[2016-01-03 06:35] basarat commented on #221
@dchacke / @sclausen for angular its released with : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.16.0 :rose:

[2016-01-03 06:57] dchacke commented on #221
Cool, this is great, thank you!

[2016-01-03 07:07] dchacke opened #800 "Add HTML autocomplete to backticks"
Following up on https://github.com/TypeStrong/atom-typescript/issues/221 (shout out to @jbarket for [implementing](https://github.com/TypeStrong/atom-typescript/pull/798) this!), it would be great to also add support for HTML element autocompletion. Perhaps this is only relevant for use with Angular, or there could be an option to toggle this feature.

Currently, it has autocomplete options but pr

[2016-01-03 07:10] dchacke commented on #221
@basarat This is a great start. Posted a potential idea for improvement in #800.

[2016-01-03 07:17] dchacke commented on #221
Also, just heads up but it seems like normal strings aren't highlighted anymore at all:

<img width="465" alt="string not highlighted" src="https://cloud.githubusercontent.com/assets/2866749/12077692/f8dbb126-b1a6-11e5-810a-0600a34e945a.png">

[2016-01-03 17:07] robbatt opened #801 "Error on install in fresh atom installation v1.3.2 on Windows"
I'm on Windows 10. I got several other errors on install of atom-typescript, so finally wiped the whole atom installation clean and did a fresh install. This still gave me following error:

[code]

[2016-01-03 21:10] jpolo opened #802 "Syntax highlighting broken when using function parameter"
Version 7.16.0

[code]

[2016-01-04 02:14] basarat commented on #801
Seems like babel installation from https://github.com/TypeStrong/atom-typescript/blob/466aab51daf582cd92140246ef1ba3ba46cbfaff/package.json#L49 is failing.

Most likey a bug in `npm install` run by *apm*. Would love it if you report on github/atom and link back here :rose:

[2016-01-04 02:14] basarat commented on #802
Thanks. https://github.com/TypeStrong/atom-typescript/issues/675 needs a hero :rose:

[2016-01-04 15:53] laurelnaiad commented on #784
@doliver3, you might try launching atom via sudo.

[code]

If my suspicions are correct, this will make autocomplete more functional more often for you. For me, sudo-ing it help autocomplete to work properly, although it still eventually stops, at which point reloadiing the atom window is necessary to get it back again.

[2016-01-04 21:50] the-destro opened #803 "Applying the formatter multiple times corrupts the file"
I have noticed that if I do cmd+alt+l multiple times in a row on a file that it will start removing things and "damaging" the file making it unable to compile.

[2016-01-05 01:50] austin94 commented on #783
@blakeembrey I would be willing to take a stab at this one if you want to assignee the issue to be.  I've been using this tool for quite a while so I'm looking to give back!

[2016-01-05 05:23] basarat commented on #803
Surprisingly today was the first day this happened to me too. I'm not actively working on it so up for grabs.

# Workaround

Undo the changes that caused the corruption, save file, and try again :rose:

[2016-01-05 08:52] RevanScript opened #804 "syntax highlighting doesn't work for decorators"
It looks like this:

![Screen]
(https://i.gyazo.com/9d2f2d551f9b0e32b898197a28102547.png)

[2016-01-05 15:02] Emnalyeriar commented on #800
Emmet support with inline templates would be even more great

[2016-01-05 15:14] jbarket commented on #800
@Emnalyeriar, I actually have this setup in mine. One of the cool things about the Emmet package is that you can easily tell it other grammars to expand in. I have this in my keymap.cson:

'atom-text-editor[data-grammar="source ts"]:not([mini])':
    'tab': 'emmet:expand-abbreviation-with-tab'

It'd be nice to find a way to only make Emmet work inside of the template tags, but I'm not sure if that

[2016-01-05 19:24] blakeembrey commented on #783
@austin94 We can't assign issues to people outside the organisation (I know, it'd be cool for GitHub to maybe allow this) but it's all yours if you're willing to work on it! Thank you :+1:

[2016-01-05 19:47] austin94 commented on #783
@blakeembrey Just made pull request #805.  Let me know what you think.

[2016-01-05 19:51] blakeembrey opened #806 "Can import autocompletion not insert semicolon?"
I don't really use semi-colons, can we detect this on the line and if a semicolon is missing skip inserting it?

[2016-01-05 19:54] blakeembrey opened #807 "Import require completion regexp incomplete"
Noticed it while reviewing https://github.com/TypeStrong/atom-typescript/pull/805, but the regexp `\w+` isn't 100% complete for valid JavaScript identifiers. For instance, a `$` is allowed (also various UTF8 characters). Maybe there's something that exists for this, I know I've done the same RegExp in a number of other projects.

[2016-01-05 20:03] basarat commented on #783
Fixed with https://github.com/TypeStrong/atom-typescript/pull/805 :rose: Released https://github.com/TypeStrong/atom-typescript/releases/tag/v7.16.1

[2016-01-05 20:03] #783 closed

[2016-01-05 20:38] Emnalyeriar commented on #800
@jbarket Thanks I'll try this!

[2016-01-06 15:07] eugenyshchelkanov opened #808 "Suggestion: Quick Fix for return type errors"
A Quick Fix that will change return type of a method if error or if no return type is specified.
Example:

[code]

to

[code]

[2016-01-06 18:26] unional commented on #731
@basarat , I think this really need to be address first, before other features. Do you think the batching would be the solution? I can see what can I do to help. Right now I can't use the plugin for some of my projects as `atom-typescript` consistently freeze the system.

![image](https://cloud.githubusercontent.com/assets/3254987/12150643/d26276e0-b45f-11e5-94c8-8c9b5d3da739.png)

It seems like i

[2016-01-06 18:32] unional commented on #731
As for the batching, I can see it would help, as each typing adds an `editText` request. However also it takes about 2-3 seconds (in the project I'm working on) to process each request.

[2016-01-06 18:39] glen-84 commented on #731
Since this only happens when using atom-editorconfig, it would probably be resolved if atom-editorconfig didn't touch files on open (which it's not supposed to do).

See [here](https://github.com/editorconfig/editorconfig/issues/248#issuecomment-167981607). Feel free to submit that issue, as I am unable to.

[2016-01-06 18:40] unional commented on #731
Nope. It happens without `atom-editorconfig`.  I have it disabled for a long time so I can use `atom-typescript`

[2016-01-06 18:41] glen-84 commented on #731
Interesting. For me, when I disabled it and restarted Atom, the issue went away.

[2016-01-06 18:44] unional commented on #731
That's a different issue with `atom-editorconfig` and `atom-typescript` race against each other.  This one is performance related.

[2016-01-06 18:45] glen-84 commented on #731
My bad, I was getting mixed up with #748.

[2016-01-06 18:53] unional commented on #731
No problem. :) I was speculating this was related to #748 also, but it turns out to be not the case.

[2016-01-06 19:40] unional commented on #731
@basarat , caught an error:
In https://github.com/TypeStrong/atom-typescript/blob/master/lib/worker/lib/workerLib.ts#L186, and 196:

`_this.getProcess().send(...)` throws as `_this.getProcess()` returns null. It seems to be from a parent with no child.

Because it throws in 196 too, the original exception `cannot read property 'send' f null` is eaten.

[2016-01-06 23:16] basarat commented on #731
@unional if there is an error *sending to no child*, we don't care. This is because as soon as a child comes online :

* it will query the parent for any unsaved editors : https://github.com/TypeStrong/atom-typescript/blob/cdc8d9865a0abc8e6ca6bfb7d02e08dec675286e/lib/main/lang/projectCache.ts#L92-L109 * and then start fielding new queries

I may be wrong :rose:

[2016-01-06 23:30] unional commented on #731
In the incident I saw, the pending requests remain in queue and never get handled.
I think the **thread** is lost this `processResponse` is never get called so `delete this.currentListeners[parsed.messaged][parsed.id]` will not get called and they remains in queue forever.

I put a breakpoint in `processResponse` and it never get hit.

[2016-01-06 23:32] basarat commented on #731
Indeed. That is an issue. Feel free to create one

[2016-01-07 16:11] danielvanmil opened #809 "Support autocomplete for override method/function"
When in class A that extends class B I would like to override a method of class B by using auto completion. Possible?

Thanks.

[2016-01-08 02:22] basarat commented on #809
Would be great. However I would like the API endpoint to come from upstream. So created an issue : https://github.com/Microsoft/TypeScript/issues/6390 :rose: If that is done it would automatically show up here

[2016-01-08 02:22] #809 closed

[2016-01-08 03:06] basarat commented on #806
Now I don't feel so bad about my lack of using them sometimes (or maybe I should be cause that means I'm inconsistent). Up for grabs :rose:

# Implementer guidance

Recently work was done to make import autocomplete preserve whitespace. Similar approach should be taken here : https://github.com/TypeStrong/atom-typescript/pull/805 :rose:

[2016-01-08 03:30] blakeembrey commented on #806
FWIW, I love that you do this :+1: You leave fantastic comments for the next person to come along!

[2016-01-08 15:18] amb-it-ion commented on #782
I got a missing dependency "Cannot find name ", but get no quick fix suggestion. I am on version 7.16.1. Any advice?

Thanks for your work - this feature is much needed.

[2016-01-08 23:20] giladgray commented on #804
Looks even worse on the class itself. Doesn't get any scopes!

[2016-01-11 01:13] basarat commented on #782
@amb-it-ion can you share the code snippet. Might be the `canProvideFix` check is not valid for your code https://github.com/TypeStrong/atom-typescript/pull/791/files#diff-8fa30ff973791698c79754125ec84700R39

[2016-01-11 02:53] basarat commented on #804
Thanks. https://github.com/TypeStrong/atom-typescript/issues/675 needs a hero :rose:

[2016-01-11 06:45] tomitrescak commented on #765
@basarat I still get TS Emit failed when emit is set to false ;(

[2016-01-11 11:03] basvdijk commented on #253
:+1: for this feature. Collapsing like VS or Webstorm whould be really nice.

[2016-01-11 16:33] lordmat0 opened #810 "Auto-Format on save"
Hi there,

Just wondering if this was already included or if there is a way to do this? If not I'll give it a go to include it.

Thanks
Mat

[2016-01-11 17:37] laurelnaiad commented on #253
I use leny/atom-tree-ignore to do this (it doesn't do the fancy "code-behind") styling of the tree as Visual Studio, but it can be toggled on/off.

[2016-01-11 20:10] laurelnaiad opened #811 "*.tsconfig.json / multiple tsconfig.json files in same directory?"
Just a thought/feature request: I wish I could house multiple tsconfig files in the same directory. If they were sought as a glob of  `["tsconfig.json", "*.tsconfig.json"]` then it could be possible, no?

[2016-01-11 21:22] andreasgruenh opened #812 "Autocomplete for function expressions in imported class"
Example classes:

[code]

[code]

[code]

As described in comments, when describing functions as in Class2, autocomplete is not working.

[2016-01-11 22:01] blakeembrey commented on #811
The TypeScript compiler will be supporting multiple `tsconfig.json` files soon enough, so this is definitely important. I think it should be configured for each project, perhaps? It might be a good time to revisit how Atom TypeScript manages project configuration.

[2016-01-11 22:18] unional commented on #731
@basarat , I add a some code trying to batch editText. Please provide some input. :)
https://github.com/unional/atom-typescript/commit/fd477cad9f1dc19eb14c5eb22e3fbfad8807c02d

[2016-01-11 22:41] laurelnaiad commented on #811
I will try to track down what plans are on the table for multiple tsconfigs within the compiler itself. I haven't been tracking that.

My use case:

5 different tsconfig files in one repository: one is a browser app, one is the database code (we have V8 in our database tier, think of it like a thin middle tier above the database); one is e2e tests; one is a common library;  one is the build proces

[2016-01-11 23:26] basarat commented on #765
@tomitrescak the issue still exits : https://github.com/TypeStrong/atom-typescript/issues/780

I have difficulty wrapping my head around why one would even need `noEmit : true`? Surely *something must be doing the emit* and that thing is effectively *ignoring the noEmit* option. What is that thing? :rose:

[2016-01-11 23:36] laurelnaiad commented on #765
My entire build process uses gulp-typescript and gulp-babel... including building the build itself -- so that no particular editor is needed, and so that we can control the streams, etc. etc. It also transpiles itself.

I always run with `noEmit: true` now.

[2016-01-11 23:40] basarat commented on #765
Cool so `gulp-typescript` ignores `noEmit` (https://www.npmjs.com/package/gulp-typescript#options). If all you want is *just atom* to ignore emit perhaps use `compileOnSave: false` as a workaround till the issue is fixed :rose:

[2016-01-12 00:01] laurelnaiad commented on #765
Right -- difference being that the compile/buildOnSave settings prevent editor from assisting you in typechecking in-window.

I don't actually have an issue with noEmit anymore on my branch, so somewhere in there I think there's a fix (though maybe not an ideal one). I still need to deal with making that into a PR or PRs.

So, I don't need a workaround right now -- I was just chiming in with a rea

[2016-01-12 01:36] tomitrescak commented on #765
@basarat I am running Webpack with ts-loader which is responsible for loading typescript and creating sourcemaps. Thereofre I do not need emission. I need compile on save to have the possibility of typechecks and more.

[2016-01-12 01:46] basarat commented on #765
Typechecks are performed irrespective of `compileOnSave` (code https://github.com/TypeStrong/atom-typescript/blob/cdc8d9865a0abc8e6ca6bfb7d02e08dec675286e/lib/main/atom/onSaveHandler.ts#L31-L56). Correct me if I am wrong :rose:

[2016-01-12 01:49] basarat commented on #810
No included. If you want to add it please add under the `atom` key in tsconfig :rose: https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#atom

[2016-01-12 01:55] basarat commented on #811
## One Idea

The current automatic lookup of tsconfig (up the directory tree) (code in [`projectCache.ts`](https://github.com/TypeStrong/atom-typescript/blob/master/lib/main/lang/projectCache.ts)) can be migrated to something like a user controlled `activeProject` (sample https://github.com/alm-tools/alm/blob/master/docs/features/README.md#project-search code https://github.com/alm-tools/alm/blob/

[2016-01-12 02:37] #675 closed

[2016-01-12 03:01] basarat commented on #812
Tried a simple *single* file and it works:

![image](https://cloud.githubusercontent.com/assets/874898/12253609/e69e7fee-b934-11e5-9ca8-b32a688bdd48.png)

[code]

Are you sure its not working in multi files. Can you share the project :rose:

[2016-01-12 03:04] basarat commented on #724
Should work Released https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues :rose:

[2016-01-12 03:04] #724 closed

[2016-01-12 03:05] basarat commented on #581
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link me :rose:

[2016-01-12 03:05] #581 closed

[2016-01-12 03:05] basarat commented on #775
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link me :rose:

[2016-01-12 03:05] #775 closed

[2016-01-12 03:06] basarat commented on #786
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:06] #786 closed

[2016-01-12 03:06] basarat commented on #781
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:06] #781 closed

[2016-01-12 03:06] basarat commented on #779
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:06] #779 closed

[2016-01-12 03:06] basarat commented on #788
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:06] #788 closed

[2016-01-12 03:07] basarat commented on #802
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:07] #802 closed

[2016-01-12 03:07] basarat commented on #804
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:07] #804 closed

[2016-01-12 03:07] basarat commented on #707
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:07] #707 closed

[2016-01-12 03:07] basarat commented on #706
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:07] #706 closed

[2016-01-12 03:08] basarat commented on #680
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:08] #680 closed

[2016-01-12 03:08] basarat commented on #670
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

Thanks @blakeembrey :100:

[2016-01-12 03:08] #670 closed

[2016-01-12 03:08] basarat commented on #667
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:08] #667 closed

[2016-01-12 03:08] basarat commented on #645
Should work with release https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose: If not raise issue at https://github.com/Microsoft/TypeScript-TmLanguage/issues and link us :rose:

[2016-01-12 03:08] #645 closed

[2016-01-12 03:09] basarat commented on #675
Released https://github.com/TypeStrong/atom-typescript/releases/tag/v8.0.0 :rose:

[2016-01-12 05:10] ShMcK opened #814 "Not registering paths specified in System.js"
I'm unsure why Atom-TypeScript fails to register System.js file names resembling file paths. Other editors (Webstorm, Sublime) don't seem to share this same issue.

##### Example

Paths are loaded as:

    System.register("path/to/file", [], function() { ... });

The content is imported

    import {file} from 'path/to/file';

Resulting in the following error:

    Cannot find module 'path/to/file

[2016-01-12 05:12] basarat commented on #814
Probably because we default to `moduleResolution: node` as I prefer to have node modules resolved automatically. Set it to `classic` as a workaround :rose:

[2016-01-12 05:14] ShMcK commented on #814
Thanks! Problem solved.

[2016-01-12 05:14] #814 closed

[2016-01-12 06:57] DaltonNotetech commented on #788
https://github.com/Microsoft/TypeScript-TmLanguage/issues/46
Not Even fixed in atom-typescript 8.0.0

[2016-01-12 08:27] andreasgruenh commented on #812
I have commit a poc to a reposirtory:
https://github.com/andreasgruenh/ts-autocomplete

[2016-01-12 11:32] lordmat0 commented on #810
Okay I'll give it a go tonight :)

[2016-01-12 13:03] cfv1984 commented on #528
What I did to make this happen is simply create this structure:
[code]

video.ts looks like this:
[code]

[2016-01-12 21:21] lordmat0 commented on #655
I'll pick this up

[2016-01-12 23:06] mzelmanovich opened #817 "export not highlighted in syntax"
After 8.0.0 updated the syntax changed. Export used to be highlight but is no longer.

[2016-01-13 01:36] basarat commented on #528
That is *very old*. Please update to latest :rose: Comment if error still exits :rose:

[2016-01-13 01:36] #528 closed

[2016-01-13 06:06] Jonatthu commented on #533
VERSION 8
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.3.3
**System**: Unknown Windows Version
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v8.0.0

### Stack Trace

Failed to load the atom-typescript package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-13 06:17] Jonatthu commented on #817
![captura](https://cloud.githubusercontent.com/assets/3742176/12286575/3709fba8-b97a-11e5-9d8c-999411dc95c0.PNG)
Same issue here with version 8

[2016-01-13 12:20] cfv1984 commented on #528
Got it from doing an apm install atom-typescript.

[2016-01-13 19:05] mzelmanovich commented on #817
appears to be happening with class as well.

[2016-01-14 00:08] basarat commented on #817
Thanks for the image :rose: Please also provide a copy paste code sample

[2016-01-14 00:09] basarat commented on #655
Fix : https://github.com/TypeStrong/atom-typescript/pull/816

[2016-01-14 00:09] #655 closed

[2016-01-14 00:11] basarat commented on #810
Fix https://github.com/TypeStrong/atom-typescript/pull/815 :rose:

[2016-01-14 00:11] #810 closed