[2015-07-15 03:26] basarat commented on #465
Okay this is *weird*. Can you in the console type in `JSON.parse('{}')` Cause that's whats throwing the exception it seems

[2015-07-15 03:31] blakeembrey commented on #465
@basarat Just chiming in, but it could be the BOM - you might need to strip it out first.

[2015-07-15 03:41] basarat commented on #465
Thanks! (I feel like JSON.parse should be okay with that but worth checking) @ctaggart can you see what is mentioned in the status bar if you open the `tsconfig.json` file :

![image](https://cloud.githubusercontent.com/assets/874898/8690382/30036c20-2af7-11e5-93d1-0747e52025ec.png)

[2015-07-15 03:44] blakeembrey commented on #465
@basarat `JSON.parse` actually doesn't handle it (`JSON.parse('\ufeff{}')`). Also, `node -p "require.extensions['.json'].toString()"` will show that it also strips the BOM:

[code]

[2015-07-15 03:48] basarat commented on #465
@blakeembrey thanks! Will push a fix soon :rose:

[2015-07-15 03:51] ctaggart commented on #465
I've confirmed that it is the BOM. :+1:

[2015-07-15 03:55] #465 closed

[2015-07-15 03:56] basarat commented on #465
Thanks @blakeembrey! Fixed with `5.0.28`

[2015-07-15 03:57] basarat commented on #467
@fcoury Press `ctrl+s` to emit a `.js` file corresponding to the `.ts` file

[2015-07-15 04:01] basarat commented on #464
Good feature request. We do not have infrastructure for something like this at the moment.

TIP for potential implementer: For starters the "error reporting for current file" infrastructure *code locations* can be used to hook in "get semantic information for file"

[2015-07-15 04:18] ctaggart commented on #465
Should JSON files have the BOM or not? This fix strips it off. Visual Studio then detects the file as Codepage 1252 instead of UTF8.

![image](https://cloud.githubusercontent.com/assets/80104/8690796/e2e7beb6-2a6d-11e5-903c-938a227e326b.png)

[2015-07-15 04:27] blakeembrey commented on #465
@ctaggart It's valid to have it, but it's not required. The patch doesn't look like it's stripping it from the actual file, just from the string before parsing in memory - maybe something else has stripped it from the file? Either way, both encodings should parse the same since your JSON only contains ASCII.

[2015-07-15 05:04] basarat commented on #465
Not this fix specifically .. but we do rewrite the file if e.g. `files` needs to be updated. That said what we write is *correct raw JSON* so should be okay with other editors.

[2015-07-15 16:04] adidahiya opened #468 ""No project file found" error for .json files"
I'm seeing errors like this for .json and .js files in my project:

![image](https://cloud.githubusercontent.com/assets/723999/8702964/d7b70f08-2ae8-11e5-8ac9-ea6029f5cb42.png)

When I click on that error to go to the file that triggered it, Atom opens up many copies of the .json file:

![image](https://cloud.githubusercontent.com/assets/723999/8703077/6530183e-2ae9-11e5-9c0c-b5f714c7b0d2.png)

No

[2015-07-15 16:39] faisalnet5 commented on #467
I am also seeing the same warning message. Did try pressing <code>ctrl+s</code> to emit a <code>.js</code> file corresponding to the <code>.ts</code> file...but still no difference.

Any more clue plz?

[2015-07-16 00:05] basarat commented on #467
Did the `.js` file change when you saved it? Try deleting it and seeing if saving the .ts brings back the .js file.

Also what is you tsconfig.json. Thanks :rose:

[2015-07-16 00:36] basarat commented on #468
Is it after you *just opened atom* and it restored open windows?

We've seen this. The atom's file open api is *only called once* but sometimes it opens the file a dozen times (other tools that use the open api e.g linter suffer the same problem). We don't have a good repro so we haven't reported it to atom/atom yet.

[2015-07-16 11:55] johnnyreilly opened #469 "Clarify over TypeScript Compiler version used / compileOnSave"
Hi Folks,

First of all, thanks for your hard work with atom-typescript - it's amazing.

A little background on where I am.  I'm just working out the best way to plug atom-typescript into my a current work project. This project is presently is written in React / ES6 and uses Babel with Browserify to transpile to ES5.

So that everyone remains on board with the migration I need to tread delicately

[2015-07-16 14:50] faisalnet5 commented on #467
Hi Basaerat, thanks for ur reply. Yes..I did try all as u suggested. First of all when I am changing <code>.ts</code>, the <code>.js</code> is changing only when I am saving <code>.ts</code> and recompiling it through <code>tsc</code> compiler.

I also tried to delete <code>.js</code> entirely and generate a fresh one.

However in all cases that Warning message 'Js emit is outdated' is appearing.

[2015-07-16 15:19] nahuel opened #470 "add a "show documentation" shorcut"
It will be nice to press a key over a method/fun and get his complete documentation opened in another pane. For example, you press F1 with the cursor over `abs(222)` and https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/abs  is opened.

[2015-07-16 15:50] michAtEl opened #471 "version 5.0.29 not working"
Hi,

i recently updated to version 5.0.29. After the update, atom-typescript doesn't work any more.
When I enable atom-typescript I get the message "AtomTS: Dependencies installed correctly. Enjoy TypeScript"
Then I open a project and press F6 to compile but nothing happens. A tsconfig.json already exists and worked with the version of atom-typescript, that was installed before.

I already uninsta

[2015-07-16 16:17] faisalnet5 commented on #467
Basaerat, its me again....this morning I got two updates and one of them was from 'atom-typescript'. After installing update and restarting Atom, everything looks fine at my end.

Dont know whether there is any relationship or not ;)

[2015-07-16 16:33] masaeedu opened #472 "Map subfolders as a top level namespace in external module resolution?"
I'm using JSPM for package management, and I'm trying to find a way to get a good workflow for typescript files that utilize .d.ts files provided in libraries installed via JSPM. Basically what I want is for the editor to see `import { X, Y, Z } from 'somemodule/submodule'`, look at some configuration option in my `tsconfig.json`, and resolve `X`, `Y`, and `Z` to types defined in files at `path/to

[2015-07-16 16:46] masaeedu commented on #472
One rather ugly workaround that I am using right now is symlinking the appropriate folder to the folder containing tsconfig.json. Symlinking the `angular2@2.0.0-alpha.31` folder to the root of my project under the name `angular2` results in the scenario above working correctly.

[2015-07-17 00:52] basarat commented on #470
Sounds reasonable.

Tip for implementer : Basically one would need to call get definition and then if definition is in `lib.d.ts` and of a specific global `Math` or `String` or _others_ they would open the MDN reference.

[2015-07-17 00:58] basarat commented on #471
Sorry to hear this, can you repro on a new project?

* create a `.ts` file in a new folder (`c:\new\test.ts`)
* create a `tsconfig.json` with contents `{}` in the same folder.

Does atom-typescript work with this `.ts` file now?

[2015-07-17 01:01] basarat commented on #469
Yes. (https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#i-dont-want-atom-typescript-compiling-my-js)

No. Its ntypescript https://github.com/TypeStrong/atom-typescript/blob/master/package.json#L55  which is just a build of Microsoft/Master : https://github.com/TypeStrong/ntypescript

Faq would be a good place (https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.m

[2015-07-17 01:06] basarat commented on #472
Alternatively add `jspm_packages/npm/angular**/**/*.d.ts` to your `filesGlob`

[2015-07-17 01:24] basarat commented on #467
`""out": "C:/Users/AnyName/Desktop/Play/greeter.js"` we have poor `out` support, specifically compileOnSave doesn't work tracked here : https://github.com/TypeStrong/atom-typescript/issues/206

[2015-07-17 01:39] masaeedu commented on #472
@basarat If I don't have the `angular2` symlink, the top level module `angular2` can't be resolved, and hence none of the imports within the library itself work. The problem isn't that I'm missing files (I have no `files` or `filesGlob`, so all files are included by default), the problem is that the module `angular2/angular2` doesn't resolve to `some/subfolder/relative/to/tsconfig/angular2[.d].ts`

[2015-07-17 01:45] basarat commented on #472
Ah ... doesn't `angular2.d.ts` contain something like `declare module "angular2/angular2"`?

[2015-07-17 01:45] masaeedu commented on #472
That's the thing, it doesn't use absolute names. All the modules are defined with top level exports.

[2015-07-17 01:47] masaeedu commented on #472
After doing a bit more research, I found https://github.com/Microsoft/TypeScript/issues/2338, which seems like it is proposing something similar for TypeScript itself. It isn't clear whether this has already been implemented and where the mappings are supposed to go, but it looks promising.

[2015-07-17 02:37] adidahiya commented on #468
Yeah, this only seems to happen when restoring open windows.

[2015-07-17 03:18] basarat commented on #468
Cool. Then we have a potential *race condition* based bug. Marking it up for grabs for investigation by any hero. Code is in `atomts.ts` < needs simplification at some point

[2015-07-17 03:19] basarat commented on #472
Nope. I'm watching that issue too.

Closing as it needs to be fixed in the compiler :rose:

[2015-07-17 03:19] #472 closed

[2015-07-17 04:52] nycdotnet commented on #469
I've actually got a related question.  Even in ntypescript/TypeScript 1.5, there will still be some ES6 stuff that doesn't transpile properly to ES5.  One particular thing I'm thinking of is using let to declare the iterator of a for loop.  If you reference the iterator in a function declared within the loop body, it's an error unless you're in ES6 mode because TypeScript can't (yet) transpile the

[2015-07-17 05:09] basarat commented on #469
Its actually somewhat trivial to do this. But I'm very biased in adding the transpilation features to TypeScript (and they will happen anyways). The ts source code is pretty fun to read (and I'm in the process of documenting during commutes http://basarat.gitbooks.io/typescript/content/docs/compiler/overview.html) ;)

I also plan to streamline TypeScript's workflows for using TypeScript as a first

[2015-07-17 05:29] johnnyreilly commented on #469
Cool - thanks for the response. I'll try and raise a docs PR soon.

The version thing is interesting. Atom will always be using the latest and greatest TS whereas TSIFY will be using (for now 1.5-beta). That's probably fine as long as I restrict myself to using lowest common denominator features (ie what TSIFY is using).

I had a first go using Babel/browserify/TSIFY and atom-typescript in concert

[2015-07-17 12:55] nripendra opened #473 "Few questions."
How to bundle the generated js? Is that something atom-typescript can do?

Is there a way to make atom-typescript detect node.js modules?
I'm using reactjs, but it gives me error **'cannot find module react'** on line
[code]

I can see something like lightbulb when I click on error, does it work like light bulb functionality in visualstudio? If so how to invoke?

[2015-07-17 14:45] michAtEl commented on #471
I tried your suggestions but atom typescript did not work.

Then I had a look at the developer Console:
... Error: cannot find Atom package linter ...

I installed the Atom packate linter and Typescript works fine!
I just wonder why linter has not been installed by atom automatically. I suppose, there is a dependency System in Atom?

Thanks for your support
Michael

[2015-07-17 15:06] cosinekitty commented on #446
Is anyone looking into this?  I'm still finding Atom unusable for working on TypeScript... :( It's too slow. I type a few characters, then I have to wait for it to catch up with me. I'm switching back to WebStorm 10 for now. It's a shame because Atom is very nice in many other ways, but responsiveness is a critical requirement for an IDE.

Is there anything further I can do to help diagnose or fix

[2015-07-17 17:50] vaughnroyko commented on #471
Getting this same issue. It does seem to be Linter related as @michAtEl suggests. Unlike @michAtEl though, I already have the linter installed and working. Here's what my console says though when I load up a .ts file:

![image](https://cloud.githubusercontent.com/assets/2846662/8753565/9b67e830-2c71-11e5-932a-36291ec51926.png)

[2015-07-17 19:18] nycdotnet commented on #473
Atom-typescript leaves bundling to external build tools.

The issue you're having with react is likely because you don't have the definition file downloaded.  TypeScript needs definition files to work with regular JS libraries that aren't in TypeScript.  Check out http://definitelytyped.org to see how to do that.

[2015-07-17 22:19] Cu3PO42 commented on #446
I've been trying to figure this out. However I don't get the same issue, also my time is extremely limited right now. The order of CPU consuming tasks is roughly the same for me, however it's a lot faster and more responsive overall. Since I can't reproduce this properly, I don't really know where the problem lies either.

I doubt your PC is just too slow to handle Atom, since WebStorm seems to wo

[2015-07-17 22:31] basarat commented on #471
We have custom code to do this. That code needs a bit of cleanup. I'll do that soon. Thanks :rose:

[2015-07-17 22:35] cosinekitty commented on #446
Thank you, Cu3PO42!  I will take a whack at it over the weekend, even though I have never worked on Atom code before.  Will update here if I discover anything interesting.

[2015-07-17 22:41] basarat commented on #473
`alt+enter` : https://github.com/TypeStrong/atom-typescript/blob/master/docs/quickfix.md However a quickfix for `'cannot find module react'` does not exist so you need to download the definitions from DT manually. Recommend `tsd install react react-jsx -soa`

[2015-07-17 23:13] basarat commented on #446
Can't reproduce it either.

* Are you working off the *local* file system or network?
* What other plugins do you have?
* Have you tried uninstalling and reinstalling atom with 0 plugins ... is atom slow on its own?
* Just install atom-typescript ... now open a ts file ... did atom-typescript make the editing experience slow?

My screen grab:

![meh](https://cloud.githubusercontent.com/assets/8748

[2015-07-18 01:15] cosinekitty commented on #446
Hi basarat,

I completely uninstalled Atom, deleted my ~/.atom folder, reinstalled Atom 1.0.2, and re-adjusted all my settings the way I like.  Now everything is very fast!  I don't know what got screwed up, but it is working fine now.  Thanks for taking a look, and I'm sorry for the distraction...

- Don

[2015-07-18 01:15] #446 closed

[2015-07-18 02:38] basarat commented on #446
Never an issue. Thanks for your patience. BTW nice book : http://cosinekitty.com/raytrace/contents.html respect :bow:

[2015-07-19 05:09] nripendra commented on #473
Thank you guys for awesome reply, now I'm able to get react to work without that nasty error :)

So, what I'm thinking right now is, the way atom-typescript currently works messes up my source folder, can it at least be configured to generate all d.ts and .js file in some preconfigured location?

The problem I'm facing is: Let's I have say a react component named Login.tsx, for each such component

[2015-07-19 11:56] basarat commented on #473
Use `outDir` option in your `tsconfig.json`'s `compilerOptions` :rose:

[2015-07-19 13:33] nripendra commented on #473
Thanks! worked like charm :)

[2015-07-20 01:23] #473 closed

[2015-07-20 14:59] yoav-zibin opened #477 "Uncaught Error: Could not resolve 'linter' to a package path"
I just opened Atom after installing typescript (I think the issue is that there isn't any package path, i.e., no project was opened)

**Atom Version**: 0.165.0
**System**: linux 3.13.0-57-generic
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v4.5.0

### Stack Trace

Uncaught Error: Could not resolve 'linter' to a package path

[code]

### Commands

[cod

[2015-07-21 00:09] basarat commented on #477
That's a REALLY old atom / atomts version. Please upgrade both to latest 🌹

[2015-07-21 00:09] #477 closed

[2015-07-21 03:26] basarat opened #478 "Project Info"
- Which tsconfig.json
- Files
- Line counts `ts.countLines`

[2015-07-21 16:20] nycdotnet opened #479 "Error opening a TypeScript file that is intentionally not included in the glob"
I'm working on grunt-ts today.  I've set up the tsconfig.json with this filesGlob:

[code]

If I open one of the TypeScript files in the tasks-internal folder (which is intentionally NOT included in the glob), I get this big red error:

[code]

I'm assuming this has something to do with the language service not being aware of this file - which makes sense and is intentional - but I don't think I s

[2015-07-21 20:48] eliorcohen opened #480 "autocomplete - no indication for optional properties"
Hi guys,

i have created a basic interface with 3 properties, one of them is optional.

[code]

when i'm trying to create a new instance that implement the interface, i'm using the autocomplete as my guideline, but i have no indication which property is mandatory or optional..

![screen shot 2015-07-21 at 11 37 18 pm](https://cloud.githubusercontent.com/assets/7816765/8811885/9d5ab968-3001-11e5-85

[2015-07-21 23:45] basarat commented on #479
Duplicate of https://github.com/TypeStrong/atom-typescript/issues/368

[2015-07-22 02:50] basarat opened #481 "String `") {"` breaks subsequent tokens"
E.g.

[code]

Look like:

![image](https://cloud.githubusercontent.com/assets/874898/8816931/2bfff98a-3070-11e5-97d4-de101ac60186.png)

[2015-07-22 07:00] nycdotnet commented on #479
Indeed.  My apologies.  Thanks.

[2015-07-22 07:00] #479 closed

[2015-07-22 07:57] pleerock opened #482 "Add support for "go to declaration" by ctrl/cmd + click"
This is definatelly must-have feature, to be honest the only inconvinece I have with atom and atom-typescript plugin. This feature is used by millions of developers on almost every IDE that exists. Please add this feature.

Looks like there is an issue https://github.com/atom/symbols-view/issues/18 maybe someone can contribute this feature directly to atom

[2015-07-22 08:23] basarat commented on #482
Would be done using : https://github.com/TypeStrong/atom-typescript/issues/448

[2015-07-22 18:12] pixelshaded commented on #181
We use 2 spaces per tab as well and it's been painful when using version control. I have to convert it back to 2 spaces before I commit so there isn't a bunch of noise related to the file. Not everyone is using atom.

[2015-07-22 18:17] mickeyvip opened #484 "Output generated twice (while the correct on is empty) when using --out"
Hello.

I have `tsc` version `1.5.3`.

Running:
[code]
generates:
[code]

while the `./src/javascripts/app.js` which **should not** be generated has the correct content, while `./public/javascripts/app.js` which I expect to be the correct one, is empty.

When using `sourceMaps` option, there is almost the same happening: the incorrect `./src/javascripts/app.js.map` has the correct content, while `

[2015-07-22 19:02] basarat commented on #481
/cc @Cu3PO42 perhaps rule ordering is significant?

[2015-07-22 19:04] basarat commented on #484
Do not combine `-m` and `--out`. The TypeScript compiler doesn't support it :rose: . Use `-m` only and let an external module loader generate the `--out` if you want to :rose:

[2015-07-22 19:04] #484 closed

[2015-07-22 23:06] manishtpatel opened #485 "Support Overload View for autocomplete"
Right now, it does not show overload methods, it is highly unlikely that default method autocomplete is what you want and there is no way of seeing overloaded methods. Any way we can support to see all overaloaded methods? may be by pressing down/up arrow when autocomplete is displayed.

Or any other way supported by autocomplete plugin would be fine.

[2015-07-23 03:18] #439 closed

[2015-07-23 04:23] #368 closed

[2015-07-23 05:50] alexmsmartins commented on #439
I am sorry it took so long for me to answer.
By new, I only meant I did not close Atom after starting to edit it. But I did save it.

It is a pity you cannot reproduce it. I do not know how to help you do it.

[2015-07-23 07:04] #374 closed

[2015-07-23 07:06] basarat commented on #374
shot

![image](https://cloud.githubusercontent.com/assets/874898/8844870/2e7ca5da-315d-11e5-9718-f9a8095edf18.png)

[2015-07-23 07:40] basarat commented on #439
I just published a release with this fix. If you update atom typescript it should be fixed.

[2015-07-23 14:56] eekboom commented on #357
Yes, please!
Somebody just changed
`"removeComments": false`
to
`"removeComments": true`
and broke minification of our angular app.
I really want to write
`"removeComments": false, // Needed to make @ngInject comment work for ng-annotate`

[2015-07-23 15:43] vjau commented on #469
What's the difference between "compiOnSave" : false, and the compiler "noEmit" option ?

[2015-07-23 17:39] pixelshaded commented on #181
I've no idea at the moment how to get tab length out of the global settings, but if you want to change what atom-typescript is using, go to:

C:\Users\<username>\.atom\packages\atom-typescript\dist\main\tsconfig\tsconfig.js and on line 416 you can change the tab length used by JSON.stringify.

[2015-07-23 18:08] pixelshaded commented on #181
Normally you'd do atom.config.get('tabLength') but the tsconfig.js is run inside a web worker that doesn't have access to the atom global =/

[2015-07-23 22:17] graphnode opened #486 "Spaces in apm path breaks atom-typescript pre-install."
I have a space in my apm path and that breaks the installation:

    Window load time: 1856ms
    C:\Users\Diogo Gomes\.atom\packages\atom-typescript\node_modules\atom-package-dependencies\index.js:26 Error: cannot find Atom package linter
    C:\Users\Diogo Gomes\.atom\packages\atom-typescript\node_modules\atom-package-dependencies\index.js:49 linter not installed. Attempting installation now.

[2015-07-23 22:59] basarat commented on #469
`"compiOnSave" : false,` is IDE only (and in fact atm atomts only). `compiler "noEmit" option` disables it for *all* tools (including atomts although we might show an error message like *no emit was done* instead of thinking that this is exactly what the user ordered)

[2015-07-23 22:59] basarat opened #488 "Make Debugging easier"
Provide a command to toggle `debugger` statements :wink:

[2015-07-23 23:17] graphnode commented on #486
Added a pull request with my personal fix if you are feeling lazy. No idea if this should be fixed in this repository or on [travs/atom-package-dependencies](https://github.com/travs/atom-package-dependencies) since "hacks" have been mentioned.

I will leave the decision in the maintainers hands. :bow:

[2015-07-24 00:05] #488 closed

[2015-07-24 00:12] basarat commented on #488
![](https://raw.githubusercontent.com/TypeStrong/atom-typescript-examples/master/screens/toggleBreakpoint.gif)

[2015-07-24 00:19] #486 closed

[2015-07-24 00:20] basarat commented on #486
Thanks :rose: merged manually actually into https://github.com/basarat/atom-package-dependencies

[2015-07-24 00:21] basarat commented on #486
released as part of `v5.1.1`. Thanks for fixing this :100:

[2015-07-24 13:33] Cu3PO42 commented on #481
I'll definitely look into this later today. Seems very weird to me, though.

[2015-07-24 14:01] Cu3PO42 commented on #481
@basarat I actually can't reproduce this.

![screen shot 2015-07-24 at 16 00 41](https://cloud.githubusercontent.com/assets/5256300/8876018/34a6d186-321d-11e5-805c-bbde92622ad1.png)

[2015-07-24 19:17] basarat commented on #481
Try the "exact" code I posted. The code you posted is very different.

[2015-07-24 19:23] LivesleyWA opened #489 "Failed to load Typescript Package - Cannot read property 'React' of undefined"
1. Install version 5.2
2. Start Atom
3. Error message shown on startup

I have removed and reinstalled - no change

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.4
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v5.2.0

### Stack Trace

Failed to load the atom-typescript package

[code]

### Commands

[code]

### Config

[code]

### Installed Package

[2015-07-24 19:43] LivesleyWA commented on #489
Ignore this. It appears to be because I am using Typescript 1.5 beta. If I remove the reference to /Users/xxx/source/xxx/node_modules/typescript/bin/typescriptServices.js in atom-typescript configuration the problem disappears.

I'll leave this issue just in case anyone else encounters the same.

[2015-07-25 02:05] nycdotnet opened #490 "Source Maps may emit after JS from Language Service"
The Babel externalTranspiler code currently relies on the `.js.map` being emitted before the corresponding `.js` file in the results from `getEmitOutput(fileName)`.  According to @mhegazy , we can't rely that this sequencing will always be the case, so we'll probably just need to do some sorting on the result before processing.

Code in question: https://github.com/TypeStrong/atom-typescript/blob/

[2015-07-25 09:52] Cu3PO42 commented on #481
I thought you were referring to the `){` at the end of the function definition for write and just added more tokens to confirm that wasn't broken. Sorry for that misunderstanding.

![screen shot 2015-07-25 at 11 49 50](https://cloud.githubusercontent.com/assets/5256300/8888936/58498e70-32c3-11e5-8568-d266293342ff.png)

I can reproduce this now, however this is also broken in the transpired JavaScr

[2015-07-25 23:31] basarat commented on #481
I half expected that :rose: :)

[2015-07-26 00:06] basarat commented on #489
I'll close it as its a user configuration error, and will still be searchable by words of the error :rose:

[2015-07-26 00:06] #489 closed

[2015-07-26 02:13] basarat opened #492 "Multiple tsconfig support for a single file"
It is not uncommon for a single file to be used by multiple `tsconfig.json` files.

Two code organizations are common here:
- Sibling client and server folders
- Parent server with a child client folder

There should be a user option to select _which context the user wants to work in_ at the moment.

This is going to require significant rework but its about time I did that :rose:

[2015-07-26 02:15] basarat commented on #248
Will be delt with : https://github.com/TypeStrong/atom-typescript/issues/492 :rose:

[2015-07-26 02:15] #248 closed

[2015-07-26 02:16] basarat commented on #92
This issue is too old and thus closing. Some portions of the concerns here will be delt with #492 :rose:

[2015-07-26 02:16] #92 closed

[2015-07-26 02:17] basarat commented on #26
Will be delt with : https://github.com/TypeStrong/atom-typescript/issues/492 :rose:

[2015-07-26 02:17] #26 closed

[2015-07-26 04:29] basarat opened #493 "List current tsconfig in use in status bar"
As a step towards : https://github.com/TypeStrong/atom-typescript/issues/492

[2015-07-26 11:23] #481 closed

[2015-07-26 11:24] Cu3PO42 commented on #481
Right, the issue on the JavaScript grammar is still there, but I "manually" fixed it for TS files.

[2015-07-26 14:46] 50Wliu commented on #481
I just fixed this in `language-javascript` so it should be out in the next Atom release.

[2015-07-26 18:04] LivesleyWA commented on #489
This isn't a user configuration error, it's an issue with Atom and Typescript 1.5 beta. The configuration was working fine until I upgraded the version of Atom Typescript. Not sure when 1.5 is to going to be released but it's worth checking before it is.

[2015-07-27 01:51] basarat commented on #493
after my next push :
![image](https://cloud.githubusercontent.com/assets/874898/8897289/d62a97ec-3455-11e5-8415-dad958dab005.png)

[2015-07-27 01:54] #493 closed

[2015-07-27 02:15] basarat commented on #458
Seems to be working better now.

Closing as its relevant for tracking in Microsoft/TypeScript and not just this plugin :rose:

[2015-07-27 02:21] basarat commented on #471
Closing as haven't found a repro for this and the people facing this have resolved it themselves.

[2015-07-27 02:21] #471 closed

[2015-07-27 02:22] basarat commented on #469
closing issue to keep queue smaller. Feel free to continue any discussion here if you want :rose:

[2015-07-27 02:22] #469 closed

[2015-07-27 02:23] basarat commented on #480
Sample:

[code]

[2015-07-27 04:14] basarat opened #495 "tsconfig : postbuild"
`scripts:postbuild` support similar to `project.json` : https://github.com/aspnet/Home/wiki/Project.json-file#scripts

Will work on if it is indeed needed and I can't work around it. Sort of needed for : https://github.com/TypeStrong/ntypescript/issues/10

[2015-07-27 05:54] kyle-so-sexy opened #496 "1.Snippets dialog unexpected interaction, 2. Double file path url"
Not exactly sure where to ask this, not particularly sure if this is an issue too.

1. Snippets do not work way it is supposed to be used, with atom-typescript plugin. Description: snippets do not pop-up, while I type them. Instead I have to ctrl+shift+s and that retrieves me a dialog box for snippets, where I again have to type the snippet I want, or am trying to remember.

2. Opening files using

[2015-07-27 07:20] #495 closed

[2015-07-27 09:38] basarat commented on #496
Screen:

![asdf](https://cloud.githubusercontent.com/assets/874898/8902788/d1593a34-3496-11e5-8d15-fa293ca392f5.gif)

Is this not the behavior you are getting? Or did you expect something else.

Worth mentioning : https://github.com/atom/autocomplete-snippets/issues/46 :rose:

[2015-07-27 09:41] basarat opened #497 "`buildOnSave` tsconfig option"
Closes https://github.com/TypeStrong/atom-typescript/issues/206

[2015-07-27 09:53] #206 closed

[2015-07-27 09:53] #497 closed

[2015-07-27 09:55] basarat commented on #206
Since `--out` is really a `build`. Please use option `buildOnSave` : https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#buildonsave :rose:

[2015-07-27 13:07] kyle-so-sexy commented on #496
That is the behavior, for "default package snippets" (not sure if I'm using the correct wordings) but not for snippets in the snippet.cson, what I have found from following your link is https://github.com/TypeStrong/atom-typescript/issues/433 which would be the most accurate, in that a snippet "works", but it does not display and I must manually press escape then, tab. While that is great, it work

[2015-07-27 13:49] nycdotnet commented on #495
Would you be open to allowing the output from a `postBuild` script to find its way back into the UI?  I am imagining this would be great for bundling and minification scripts, among others.

[2015-07-27 19:58] lazutkin opened #498 "Question: How to save file without compiling it"
I need an option that allows just to save a file without compiling it. It is required when using `gulp#watch` with pipeline like `gulp-changed -> ts -> babel -> js`. In that case when I save a file, `atom-typescript` compiles it according `tsconfig` settings and completes it before then `gulp-changed` initiate its check for outdated deps and as result I have `js` files produced by `atom-typescript

[2015-07-27 22:53] basarat commented on #495
Yes please. Create an issue for tracking ;) 🌹

TIP: Note case "postbuild" ie small b.

[2015-07-27 23:33] basarat commented on #496
Short version duplicate of : https://github.com/atom/autocomplete-snippets/issues/46

Does not display in general is the bug https://github.com/atom/autocomplete-snippets/issues/46 We have workaround that allows you to use snippets that are shipped as a part of atom-typescript but even in that it only displays if you type in the complete prefix. There is no desire to improve this as really issue `

[2015-07-27 23:33] #496 closed

[2015-07-28 00:06] basarat commented on #498
See FAQ https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#i-dont-want-atom-typescript-compiling-my-js Thanks for using this package :rose:

[2015-07-28 01:56] basarat opened #499 "Grammar: Splitting a ternary operator with a type assertion on multiple lines causes subsequent tokens to be classified as support.class.ts"
Sample:
[code]
Screenshot:

![image](https://cloud.githubusercontent.com/assets/874898/8921912/6c321dcc-351f-11e5-9030-1ec639a9dc6e.png)

BAD screenshot just for amusement:
![image](https://cloud.githubusercontent.com/assets/874898/8921915/8142b898-351f-11e5-93f0-d97e405ccb47.png)

# Workaround
Don't split the ternary operator on multiple lines or don't use a type assertion

/cc @Cu3PO42 (the gram

[2015-07-28 03:43] basarat opened #500 "Link faq from contributing"
Because its linked when making an issue

![image](https://cloud.githubusercontent.com/assets/874898/8923039/95b292ee-352e-11e5-846b-d7d18c2a173e.png)

[2015-07-28 03:56] #500 closed

[2015-07-28 08:10] taejin-kim opened #501 "The different symbols flag"
hi
I'm Taejin Kim.

I found another problem symbols flag value.
Optional flag symbol values of variables defined in the typescriptServices.d.ts is 536 870 912, but the symbol.getFlags () is 536 870 916.

thank you for reading;

[2015-07-28 08:57] Cu3PO42 commented on #499
Oh boy. I'll look into it. From what I know about my own rules, though, it strikes me as very odd.

[2015-07-28 11:56] cmc19 opened #502 "Cannot read property 'kind' of undefined"
Building my project fails with the following message dumped to the console:

`\dist\worker\lib\workerLib.js:89`

[code]

Line 88 of `workerLib.js` logs the following object:

[code]

[2015-07-29 01:25] impinball opened #503 "Updating this plugin is generally pretty slow..."
It usually takes roughly 30 seconds to a minute to update on my laptop. The TypeScript compiler can usually compile itself in about the same period of time. Is there any way to speed up the update?

[2015-07-29 01:29] basarat commented on #502
@cmc19 More info please:

* what's the `.ts` source code.
* what's the `target` setting in tsconfig.json

Thanks :rose:

[2015-07-29 01:31] basarat commented on #503
Its because of the stuff that needs to download from `package.json` usually an updated release on ntypescript. That said most other packages (including e.g. linter) take about 30 seconds as well.

Get a faster internet connection `¯\_(ツ)_/¯` Open for suggestion :rose:

[2015-07-29 01:32] basarat commented on #501
Sorry. Confused. Perhaps more context? :rose:

[2015-07-29 05:17] impinball commented on #503
1. It usually takes closer to a minute. Linter itself takes about a third of the time to update for me than this. I've seen this take up to 2 minutes to update a couple of times.
2. I don't really have a lot of control over my internet connection. I blame Comcrap on this one (there aren't a lot of alternatives).

[2015-07-29 05:18] impinball commented on #503
@basarat

I honestly don't know what all goes on when this updates, though. IMHO, this is probably something better resolved by Atom than this.

[2015-07-29 05:18] #503 closed

[2015-07-29 09:34] lazutkin commented on #498
Thanks! It works!! But how about an option like `Shift + F6` to get project compiled but without emitting any js code (like emitting it into `/dev/null`)?

[2015-07-29 09:37] basarat commented on #498
Plausible, call it `TypeCheck complete project`. Open for grabs.

[2015-07-29 09:37] #498 closed

[2015-07-29 09:38] basarat opened #504 "TypeCheck complete project"
Shortcut `shift+f6`

Basically check entire project but don't emit .js

desire shown here : https://github.com/TypeStrong/atom-typescript/issues/498#issuecomment-125896107 by @lazutkin

[2015-07-29 09:50] lazutkin commented on #485
:+1: also asked in #309

[2015-07-29 14:32] cmc19 commented on #502
The target was not set. I changed it to ES5, however that did not change the error.

I don't know what ts file is causing this error. This project contains about 20 of them.

[2015-07-29 14:54] nycdotnet commented on #502
Your issue almost sounds like a TypeScript compiler error (meaning a bug in the compiler).  Can you compile your code from the command-line referencing the tsconfig.json file?

[2015-07-29 16:52] cmc19 commented on #502
Yep; The command line TSC produces the correct output.

[2015-07-29 23:27] basarat commented on #502
Agree that it feels like a TypeScript bug (in that we have an `undefined` added as an AST node)

Try it with ntypescript : https://github.com/TypeStrong/ntypescript using `ntsc` (this is newer than the command line version you might have)

`console.error(filePath)` here : https://github.com/TypeStrong/atom-typescript/blob/84d378ebc6fcab3ed391a29d2c878ab92c7de686/lib/main/lang/modules/building.ts#L

[2015-07-29 23:32] basarat commented on #485
Agreed, basically show overloads at the first level of autocomplete (I misunderstood that intent in 309)

[2015-07-30 10:38] vjau opened #505 "Disapearing tsconfig.json"
Hi,
i have a project with multiples tsconfig.json (one in each folder, because of scope issues).
The problem is that the tsconfig.json don't show up anymore in the files "tree".
I have tried to reproduce with a small project, but i can't.
What could i do ?
![tsconfig](https://cloud.githubusercontent.com/assets/5278429/8981330/ba89ee98-36b7-11e5-9bb7-0b722bdc7b9e.png)

Thank you.

[2015-07-30 14:01] aleksey-bykov opened #506 "Visual Studio color scheme"
Is there an option to pick a color scheme of Visual Studio?

[2015-07-30 19:19] Cu3PO42 commented on #506
Color schemes are handled by the Atom editor itself. To my knowledge there are quite a few Visual Studio like color schemes. Open your settings, go to install, select themes and search for "Visual Studio".

If you intend to convert any existing theme over, you can do that for Sublime Text and TextMate themes. I'm not aware of such an option for Visual Studio themes.

[2015-07-30 20:15] markogresak opened #507 "Block comment: use // instead of /* */"
I am setting up my atom typescript workflow again after formatting my computer and I can't figure out how to make `cmd + /` perform a block comment by adding `//` before each of line instead of creating an actual block comment.

What happens:
Initial state:
[code]
Comment block (`cmd + /`) action:
[code]
What I would like to do:
[code]

I'm used to this from other grammars with this style of comme

[2015-07-30 23:38] basarat commented on #507
Probably broke post this : https://github.com/TypeStrong/atom-typescript/pull/418

Note the `.js` files behave that way in atom i.e. we get multiple `//`.

@isuda has raised the same issue privately with me. Marking as a bug :rose:

[2015-07-30 23:51] basarat commented on #506
Checkout : https://atom.io/themes/search?utf8=%E2%9C%93&q=visual

Interestingly found this by @nycdotnet :rose:  https://atom.io/themes/redmond-syntax

![image](https://cloud.githubusercontent.com/assets/874898/8997853/b189815c-3769-11e5-9e47-f77a99a155f9.png)

[2015-07-30 23:51] #506 closed

[2015-07-30 23:56] basarat commented on #505
We have done absolutely *nothing* to the tree view, so not an issue to report to us :rose:

TIP: Make sure you haven't asked atom to hide it :

![image](https://cloud.githubusercontent.com/assets/874898/8997906/3a806796-376a-11e5-854f-e65fb0610e35.png)

You can report it to https://github.com/atom/tree-view/issues if you still have problems :rose:

[2015-07-30 23:56] #505 closed

[2015-07-31 04:40] markogresak commented on #507
Sorry for two referenced messages, I later amended commit message and github still recorded it as 2.

[2015-07-31 10:04] markogresak commented on #507
Since #508 was pulled, this is resolved.

[2015-07-31 10:04] #507 closed

[2015-07-31 10:19] scottwio opened #509 "Using atom typescript with plain js files"
Would it be possible to use atom typescipt on plain old .js files. I have seen this working in Visual Studio Code and love it. Sometimes I work on projects where devs are not comfortable using .ts .and I miss the autocomplete magic the ts compiler brings. Visual Studio Code gives you auto complete on standard js files as well as integrating .d.ts files into that auto completion so you get a bit of

[2015-07-31 11:20] basarat commented on #509
Duplicate of https://github.com/TypeStrong/atom-typescript/issues/315

I definitely understand the motivation as [migrating can be painful](http://basarat.gitbooks.io/typescript/content/docs/types/migrating.html). My personal plan is add something that allows you to use the `.ts` files like JavaScript  and discussing that here https://github.com/Microsoft/TypeScript/issues/4094

[2015-07-31 11:45] scottwio commented on #315
For me this is more about being able to use some of typescripts abilities without having to change the workflow of everyone on the team. For a lot of people even changing the file extension is to much as they are js purists aka don't like the idea of typescript. This way you can work along side another js dev without effecting them at all.

I wonder how Visual Studio Code has implemented the featu

[2015-07-31 11:46] scottwio commented on #509
For me this is more about being able to use some of typescripts abilities without having to change the workflow of everyone on the team. For a lot of people even changing the file extension is to much as they are js purists aka don't like the idea of typescript. This way you can work along side another js dev without effecting them at all.

I wonder how Visual Studio Code has implemented the featu

[2015-07-31 12:51] nycdotnet commented on #506
That's mah theme!!

If you like, be sure to install both redmond-ui and redmond-syntax for the full VS "Blue" experience.

[2015-07-31 13:06] aleksey-bykov commented on #506
luving it :heart: :heart: :heart:

[2015-07-31 18:20] Chofoteddy opened #510 "Proposal: Add option "Auto build" in Settings"
I think it would be great to have an option like this:

![captura de pantalla de 2015-07-31 13 12 37](https://cloud.githubusercontent.com/assets/1615875/9014141/200bc7c2-3786-11e5-9d73-4a3c61790eeb.png)

Where you can choose where in the typescript file to build and choose whether you want these to be built or not.

[2015-08-01 00:14] basarat commented on #510
Already exists as an option on tsconfig.json : https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#buildonsave

Should add it to FAQ. Will do that soon :rose: leaving open till then

[2015-08-01 00:15] basarat opened #511 "Creating a tsconfig.json file externally does not clear the error we report for no tsconfig.json found"

[2015-08-03 01:32] drumtj opened #512 "Uncaught TypeError: Cannot read property '0' of undefined"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.0.3
**System**: Unknown Windows Version
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v5.2.4
### Stack Trace

Uncaught TypeError: Cannot read property '0' of undefined

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-08-03 01:58] basarat commented on #512
Basically you tried to run the `rView` command?

[2015-08-03 12:46] stepancar opened #513 "Uncaught SyntaxError: Failed to execute 'querySelectorAll' on 'Element': 'path.link[data-target=-..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.3
**System**: Unknown Windows Version
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v5.2.4

### Stack Trace

Uncaught SyntaxError: Failed to execute 'querySelectorAll' on 'Element': 'path.link[data-target=------------TypeScriptCommon-autoGenerated-GeneratedApiServicesAndClasses-d-ts

[2015-08-03 16:51] stepancar opened #514 "import autocomplete should provide relative path started with ./"
Hello, @basarat !
When i write `import * as myModule from ''"` i have autocomplete wich provide relative path to module - for example   '../../MyFolder/myModule'.
i think it should be './../../MyFolder/myModule'
What do you think about it?

[2015-08-03 17:00] stepancar commented on #513
@basarat, do you want any additional information?
Thank you!

[2015-08-04 03:34] basarat commented on #513
Yes please. Quick test : Dependency view worked fine on the project I am working on

![image](https://cloud.githubusercontent.com/assets/874898/9052662/8069a0d8-3aad-11e5-9ed3-c3ffdf4347a6.png)

Can we have a repro :rose:

[2015-08-04 03:35] basarat commented on #514
Are you seeing a runtime error because of this? Should work fine, don't see the point of adding `./` needlessly ;) :rose:

[2015-08-04 09:06] stepancar commented on #514
I haven't any runtime errors . But i see that most webpack loaders uses relative paths which starts with './' maybe you know why?
I catch problem which force me rewrite all relative paths with './' when i used [ts-loader] (https://github.com/jbrantly/ts-loader/issues/29) for example.
Maybe you know why tsc supports relative paths '../../dir/dir2' and './../../dir/dir2'? Any historical reasons?
Tha

[2015-08-04 09:30] stepancar commented on #513
I'm sorry. I cant provide you my repo:(
But i observed my project and think that problem is the i have ts project which relates to another ts project in another dir. I catch this error only when i hover mouse pinter to node which represents module from another project. You can see that exception in selector which contains long relative paths.

if you want - i'll create any open repo
Thank you!

[2015-08-04 22:41] aleksey-bykov opened #516 "Is there a way to have a stable version?"
Every  time I open atom (with typescript) I see all different sorts of problems that were not there when I closed it. It's getting old and annoying. Where is that option that prevents bleeding edge updates from being installed?

[2015-08-04 22:41] aleksey-bykov commented on #516
![image](https://cloud.githubusercontent.com/assets/937933/9074528/73c35c4a-3ad8-11e5-82a9-9c2f2c97162a.png)

https://github.com/TypeStrong/atom-typescript/issues/211

[2015-08-04 23:41] basarat commented on #514
Its easy to prefix `./` to all paths to ensure its relative ... e.g. `./foo` , `./../foo` instead of `./foo`, `../foo`. Don't see the reason for deleting our code if its doing something better.

It just does a path.resolve ... if it work it works.

:rose:

[2015-08-04 23:41] #514 closed

[2015-08-05 04:22] basarat commented on #516
I definitely feel your pain. This is the reason why I moved away from (a technologically better) custom grammar to just plain old CSON (as its documented and stable)

In this case the issue you are pointing to (#211) *both instances were user errors*:

* First (closed without reason) https://github.com/TypeStrong/atom-typescript/issues/211#issuecomment-87378526
* And then (using custom typescriptS

[2015-08-05 04:22] #516 closed

[2015-08-05 15:23] moreginger opened #517 "compilerOptions validation for target does not accept capitalized targets"
`tsc --help` says to use "ES3", "ES5" or "ES6" for the target value, but it doesn't care about the case.

OTOH atom-typescript tsconfig validator asserts that the values must be exactly "es3", "es5" or "es6". This is confusing.

There's an obvious trivial tweak to tsconfig.js but it would probably be better to alter the code to ignore case (so that e.g. "Es6" is also accepted as per tsc).

[2015-08-05 16:12] benogle opened #518 "Failed to load the atom-typescript package"
_From @xandervdm on August 5, 2015 0:19_

[Enter steps to reproduce below:]

1. Just opened Atom to load an Ember project folder...

**Atom Version**: 1.0.4
**System**: Microsoft Windows 7 Ultimate 64bit
**Thrown From**: Atom Core

### Stack Trace

Failed to load the atom-typescript package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

_Copied from original iss

[2015-08-05 19:18] aleksey-bykov commented on #516
this is what happens:

![image](https://cloud.githubusercontent.com/assets/937933/9095339/b7ceadb6-3b84-11e5-953b-a3fd112109e3.png)

the file at `C:\Users\Bykov\.atom\packages\atom-typescript\dist\main\tsconfig\tsconfig.js` has:

[code]

now this file is a static part which is shipped with a atom-typescript package and assigned a version number, am I correct so far?

then you guys say: https://git

[2015-08-06 00:37] basarat commented on #516
We ship with an *exact* version of `ntypescript` ... not the latest (see [package.json](https://github.com/TypeStrong/atom-typescript/blob/424ffb949d5da4bb2cbd83867d084732c59fc255/package.json#L56) for version) ... So if atom-typescript doesn't update ... neither does ntypescript.

I guarantee you that if you reinstall atom-typescript right now `apm uninstall atom-typescript` / `apm install atom-t

[2015-08-06 02:22] basarat commented on #517
This is consistent with what was discussed with the TypeScript team here : https://github.com/Microsoft/TypeScript/issues/1933

[I Quote](https://github.com/Microsoft/TypeScript/issues/1933#issuecomment-72982784):

If you use `tsconfig.json` using `-p` with the typescript compiler what happens? Does it *actually work*?

[2015-08-06 08:35] yuitakano opened #519 "Failed to load the atom-typescript package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.4
**System**: Unknown Windows Version
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v5.2.4

### Stack Trace

Failed to load the atom-typescript package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-06 09:08] moreginger commented on #517
Yes, `tsc -p ...` (1.5.3) works whatever the case; for this option at least. I assume they changed the behavior since [this comment](https://github.com/Microsoft/TypeScript/issues/1933#issuecomment-72988825)?

Also see https://github.com/Microsoft/TypeScript/wiki/Compiler-Options. If case is to be enforced, it would be better to enforce the same one (but no doubt that would cause a lot of aggro fo

[2015-08-06 10:49] ericmdantas commented on #519
I couldn't install it either.

[2015-08-06 12:39] jarnovanmunster commented on #519
Same here

[2015-08-06 13:07] cluda commented on #519
+1

[2015-08-06 13:19] edurdevic commented on #519
+1

[2015-08-06 13:39] samjohn commented on #519
+1

[2015-08-06 13:41] wmalgadey commented on #519
+1

[2015-08-06 13:54] cstefan commented on #519
Easy to fix:
Just navigate  to where the atom-typescript package is installed and install the missing module.
npm install --save-dev jsdom

Restart atom and all is well :)

[2015-08-06 14:10] wmalgadey commented on #519
worked for me!

[2015-08-06 14:24] akalcik commented on #519
@cstefan  How to find out where the *atom-typescript* package is installed?

[2015-08-06 14:28] wmalgadey commented on #519
@akalcik on which system did you install atom?

in windows go to

`%appdata%`

there you find `.atom` and in there a directory called `packages` there is the plugin installed

[2015-08-06 14:43] akalcik commented on #519
@wmalgadey Good question, sorry. Yes I'm on Windows. The `%appdata%` points to the `Roaming` profile, there isn't `package` folder under the `atom` folder. I went to `Local` folder under the `AppData`. There are only three files `atom-1.0.4-delta.nupkg`,`atom-1.0.4-full.nupkg` and `RELEASES`. If I install the *jsdom* here, new folder is created, but I get the error again.

![image](https://cloud.g

[2015-08-06 19:53] mpseidel commented on #519
+1

@akalcik I found it here:

C:\Users\[user]\.atom\packages\atom-typescript

thanks @cstefan. worked for me

[2015-08-07 01:12] aleksey-bykov commented on #516
just did:

[code]

didn't help

still see the same screen

![image](https://cloud.githubusercontent.com/assets/937933/9126776/db8eea94-3c7f-11e5-8053-bed25d23cde6.png)

[2015-08-07 01:50] basarat commented on #519
FWIW we don't have any calls to `require('jsdom')` so some package that we are depending on uses it ... but doesn't have it in in `package.json`.

Investigating

[2015-08-07 01:59] basarat commented on #519
I've tracked it back to this line : https://github.com/reactjs/react-magic/blob/d85cf2665282b9b9d71f0ad4637d01deef448f37/src/htmltojsx.js#L148 But it doesn't actually have a depdency on it : https://github.com/reactjs/react-magic/blob/d85cf2665282b9b9d71f0ad4637d01deef448f37/package.json#L10

As a workaround I'll take an explicit dependency on it for now

[2015-08-07 02:05] #519 closed

[2015-08-07 02:08] basarat commented on #519
This commit broke it : https://github.com/reactjs/react-magic/tree/064c1f20e9fe15d4ae65ed6091975aee3c02ce56

[2015-08-07 02:09] basarat commented on #519
Published with `5.2.6` :rose:

[2015-08-07 02:17] basarat commented on #518
@benogle seems like a compile cache issue in atom. Basically something has gone south for this user's compile cache for this file : https://github.com/TypeStrong/atom-typescript/blob/master/styles/documentationview.less

@xandervdm can you delete `C:\Users\xander\.atom\compile-cache\` please :rose:

[2015-08-07 02:17] #518 closed

[2015-08-07 02:23] ericmdantas commented on #519
Thanks for the quick fix, @basarat!

[2015-08-07 03:12] Daniel15 commented on #519
Sorry about that! In HTMLtoJSX I got a pull request to switch from `jsdom` to `jsdom-no-contextify`, but it looks like the `require` statement wasn't updated. Everything still worked since I still had the old `jsdom` in my `node_modules` (I guess npm doesn't clean up unused modules). I'll fix this right now.

As an aside, I'd suggest adjusting your dependencies so you depend on particular versions

[2015-08-07 03:21] Daniel15 commented on #519
Pushed 0.2.4 of HTMLtoJSX to fix this. Thanks for reporting it!

[2015-08-07 04:56] basarat commented on #517
You are right.

![image](https://cloud.githubusercontent.com/assets/874898/9128958/520983d4-3d14-11e5-9c60-9ae296cf9812.png)

The objective of sensitivity was to support the users for errors they might run into elsewhere ... not enforce our personal opinions :rose: Marked as a bug

[2015-08-07 14:56] corporatepiyush commented on #217
I am getting the same error. on TS 1.5.3 version.

Object {method: "getProjectFileDetails", message: "No Project Found", stack: "Error: No Project Found↵    at Object.getProjectSy… at Pipe.channel.onread (child_process.js:334:11)", details: Object}details: Objectmessage: "No Project Found"method: "getProjectFileDetails"stack: "Error: No Project Found↵    at Object.getProjectSync (C:\Users\pkatariy

[2015-08-07 14:58] corporatepiyush commented on #217
i am getting the same error on TS 1.5.3. whenever i try to create new .ts file in empty folder. i get following error.

![image](https://cloud.githubusercontent.com/assets/2270136/9138660/ce0cc878-3d42-11e5-86e3-59141bbc0ef4.png)

[2015-08-07 18:18] thr0w opened #520 "Goto correct definition reference import path"
In above sample, if a point the mouse over `something` in `var a=something()` don't show the JSDoc.

I think it's happens because atom-typescript points to import clause. Trying with F12, in first press goes to import clause, in second press goes to correct definition in file2.

I suggest skip import clause and go directly to definition in file2.

[code]

[code]

[2015-08-07 19:35] #499 closed

[2015-08-08 12:58] stepancar commented on #513
Hello, @basarat !
I created [simple example](https://www.dropbox.com/s/jg4hrrgq4wez98v/dependencyViewCrashExample.zip?dl=0) which reproduce this issue.
unpack this zip then open  topDir/testProject/ folder in atom. navigate to app.tsx open typescript dependency view. Then mouse pointer hover to one from elements.
Thank you!

[2015-08-08 15:18] s-panferov opened #521 "There must be a way to provide Babel options"
Hello! Thanks for the awesome project.

I found the feature https://github.com/TypeStrong/atom-typescript/pull/475 with optional babel support very useful. But it seems incomplete to me, because there must be a way to specify Babel's options. Existed solutions like https://babeljs.io/docs/usage/babelrc/ don't work (or I'm doing something wrong).

[2015-08-08 15:27] s-panferov commented on #521
Maybe we can offer the second extended form of the `externalTranspiler` option?

[code]

Or maybe there is a way to make `.babelrc` work?

[2015-08-09 08:31] s-panferov opened #522 "Can't build atom-typescript"
Hello. I want to make a PR with some fixes of Babel integration, but I can't build atom-typescript locally.

My steps:

1. Clone the master
2. npm i
3. grunt

The output:

[code]

[2015-08-10 00:54] basarat opened #524 "For `compileOnSave: false` don't show the js emit status message"
As reported by @stijnvn :rose:

[2015-08-10 01:03] basarat commented on #522
Yeah, grunt has been broken for a while as it doesn't reference the ntypescript's ts definitions. Use atom-typescript to build atom-typescript at the moment :rose:

Marking as a bug up-for-grabs

[2015-08-10 01:10] basarat commented on #521
I like the simplicity of this :rose:

Closed by https://github.com/TypeStrong/atom-typescript/pull/523

[2015-08-10 01:12] basarat commented on #520
Really a language service feature request. Should go to Microsoft/TypeScript :rose:

[2015-08-10 01:12] #520 closed

[2015-08-10 01:13] basarat commented on #520
For reference, the function we use is `getQuickInfoAtPosition` : https://github.com/TypeStrong/atom-typescript/blob/c8140a26451f65ef5d399cb5a4ea81a350c7a578/lib/main/lang/projectService.ts#L82

[2015-08-10 01:54] #517 closed

[2015-08-10 01:55] basarat commented on #517
`v5.2.8` :rose:

[2015-08-10 02:23] #513 closed

[2015-08-10 02:24] basarat commented on #513
`5.2.9`
@stepancar thanks for the repro :rose: !

[2015-08-10 09:51] #521 closed

[2015-08-10 14:36] stepancar opened #525 "padding removed when uses autocomple in jsx"
Hello, @basarat!
I catch simple issue with autocomple in tsx.
you can see pictures.
start type div then space, then ctrl+space then press enter
![screenshot_9](https://cloud.githubusercontent.com/assets/2854910/9173955/fff6c178-3f85-11e5-81dc-525c0c255150.png)
you get <divref instead <div ref
![screenshot_2](https://cloud.githubusercontent.com/assets/2854910/9173960/0597cea6-3f86-11e5-9d04-75cfa80

[2015-08-11 02:35] basarat commented on #525
Basically https://github.com/atom/autocomplete-plus/ is eaching whitespace. See following example:

![eatwhitespace](https://cloud.githubusercontent.com/assets/874898/9188926/55e9fdc6-4025-11e5-944a-f6a26ef095bf.gif)

Suggest raising here : https://github.com/atom/autocomplete-plus/issues

[2015-08-11 09:47] thomasjo commented on #525
I'm unable to verify this claim. Not able to reproduce any whitespace "eating" in safe mode. This seems like a grammar issue, but I might be wrong.

[2015-08-11 09:52] stepancar commented on #514
@basarat, Hello!
I created [issue](https://github.com/jbrantly/ts-loader/issues/29) for ts-loader which supports only relative paths which started with ./ or ../
results of investigation is that its typescript issue and in the future all relative path's should started with ./ and ../ (see @jbrantly comment)
I think that atom typescript should provide autocomplete for import with ./ and ../ now, be

[2015-08-12 14:04] elmariofredo commented on #377
:+1:

[2015-08-12 23:46] basarat commented on #377
People have expressed desire to still have `filesGlob` so I'll wait on this for a while

[2015-08-13 16:18] nycdotnet commented on #377
It seemed that the only reason the TypeScript team went with exclude is that they didn't want to take a dependency on a glob matcher library.  It would be a shame to lose this great functionality.  I hope filesGlob doesn't have to go away when exclude support is implemented.

[2015-08-13 16:25] Cu3PO42 commented on #377
I strongly agree with everyone who likes `filesGlob`. Even though `excludes` gives you some of the power, you may want to exclude all TS files in a certain folder and not list them manually. This might be the case if you have copies of a dependency which is subject to change.

[2015-08-13 20:41] stepancar opened #526 "conflict node.d.ts and /node_modules/ntypescript"
Hello @basarat.
I have issue:
conflict beetween ntypesctript.d.ts and node.d.ts.
i dont now why ntypescript exists in compile context.
attached [repo](https://www.dropbox.com/s/ufyfb1fm2h8hnds/bugWithNode.zip?dl=0)
, which reproduce this issue only in atom typescript. if you try compile you will NOT catch error, but if you'll press F6 in atom-typescript u'll catch it.
![nodentypescriptbug](https:/

[2015-08-13 21:47] stepancar commented on #526
I know about package.json atom-typescript feature
![screenshot_3](https://cloud.githubusercontent.com/assets/2854910/9262453/a8b15884-421d-11e5-89c7-63c705d868b2.png)
but i think, if we disable node_modules in tsconfig.json it not should appears in compile sources
What do you think about it?

[2015-08-13 22:21] rroman81 commented on #519
+1

[2015-08-13 23:39] basarat commented on #526
no typescript.definition should *still appear*. Just not *all the sources* :+1:

[2015-08-13 23:42] #526 closed

[2015-08-13 23:43] basarat commented on #526
Thanks for raising this. I should have done more scrutiny when this came up :rose: https://github.com/TypeStrong/ntypescript/issues/12

[2015-08-13 23:44] basarat commented on #519
@rroman81 this is fixed. Are you still getting this error?

[2015-08-13 23:45] basarat commented on #377
Updated issue accordingly :rose: `filesGlob` will stay

[2015-08-14 00:43] basarat commented on #525
Actually not happening in atom-typescript anymore either :rose: Someone fixed something :dancer:
![whitespace2](https://cloud.githubusercontent.com/assets/874898/9265054/353b423a-4271-11e5-94ca-6b1823ef9e7f.gif)

[2015-08-14 00:44] basarat commented on #514
This is what we already do. We provide relative paths with `./` if the file is located right next to it.

[2015-08-14 05:17] kyoh86 opened #527 "A compiler option, "newLine" got error."
[code]
I think, "newLine" is a valid option...
http://json.schemastore.org/tsconfig

[2015-08-14 08:39] stepancar commented on #525
@basarat, try autocomplete in tsx. its still working not correct.
Thank you!

[2015-08-14 10:02] Cu3PO42 commented on #377
I'm very glad to hear that :+1:

[2015-08-14 19:56] snowcxt opened #528 "Uncaught TypeError: Cannot read property '1' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.7
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [atom-typescript](https://github.com/TypeStrong/atom-typescript) package, v5.3.0

### Stack Trace

Uncaught TypeError: Cannot read property '1' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-16 11:55] yotamN opened #529 "autocomplete doesn't work"
I've got a clean install of the TypeScript package, haven't touch the settings yet and the autocomplete doesn't work, I opened the console and saw this:
[code]
What am I doing wrong?

[2015-08-16 12:19] #529 closed

[2015-08-16 12:19] yotamN commented on #529
Change directory and worked, doesn't know what happened

[2015-08-17 00:37] #527 closed

[2015-08-17 00:37] basarat commented on #527
fixed with `5.4.0` :rose:

[2015-08-17 00:38] basarat commented on #528
A repro file + steps would be highly appreciated :rose:

[2015-08-17 09:01] s-panferov opened #530 "Go to declaration with Ctrl/Cmd + click"
Hello! In our company several people migrated from WebStorm to Atom+AtomTypescript, and everything is amazing except one thing. There is a cool thing in WebStorm when you can press ctrl/cmd button, hover an item in the code and make a click:

![kxgbp6f7hc](https://cloud.githubusercontent.com/assets/198327/9301411/ea8bfdf2-44d6-11e5-8c19-4e13dc24aa66.gif)

It is much faster and simpler than current

[2015-08-17 17:22] blakeembrey commented on #530
Related: https://github.com/TypeStrong/atom-typescript/issues/482 and https://github.com/TypeStrong/atom-typescript/issues/448

[2015-08-17 20:51] Cu3PO42 commented on #530
Also relevant: #520

[2015-08-18 00:29] basarat commented on #530
As mentioned. I'll just link the issues to your queries:

If anyone wants to work on this use https://github.com/TypeStrong/atom-typescript/issues/448 as a reference.

If anyone wants to work on this you can work on either the our code base : https://github.com/TypeStrong/atom-typescript/issues/520 or upstream at Microsoft/TypeScript

:rose:

[2015-08-18 00:29] #530 closed

[2015-08-18 09:37] stepancar opened #531 "js files emits if "noEmit" option setted to true"
Hello, @basarat.
in my tsconfig:
[code]
but when i build project in atom-typescript (F6) or save i see that compiled js appears.
if just compile project with ntsc - .js not appears.
What i do wrong?
Thank you!

[2015-08-18 09:59] basarat commented on #531
Don't build :) We should probably respect `noEmit`. Code is in [building.ts](https://github.com/TypeStrong/atom-typescript/blob/5c9fe2772df610f4e8463550d12ff9b2f13ba879/lib/main/lang/modules/building.ts) basically it should just do all the checks but not write the emitted file to disk :rose:

[2015-08-18 15:07] steelbrain opened #532 "Unpublish from npm"
This package is published to [`npm`][1]. I believe this to be an accident.

[1]:https://www.npmjs.com/package/atom-typescript

[2015-08-18 20:26] aggieben commented on #519
I am on Atom 1.0.7, atom-typescript 5.4.0, and I still experience this error.

[2015-08-18 20:49] Daniel15 commented on #519
@aggieben  That's a different issue. This issue is about "Cannot find module 'jsdom'", whereas your screenshot shows "Cannot find module 'React'". You should open a separate issue :)

[2015-08-18 20:54] aggieben opened #533 "Failed to load the atom-typescript package: cannot read property 'React' of undefined"
[code]

![image](https://cloud.githubusercontent.com/assets/1321/9341866/06c69350-45be-11e5-853b-bd7d1a35c5c4.png)

[2015-08-18 23:37] basarat commented on #532
Nope. Although the readme for npm is a quite confusing.

It was to provide users with this bin command `atbuild` : https://github.com/TypeStrong/atom-typescript/blob/5c9fe2772df610f4e8463550d12ff9b2f13ba879/package.json#L6

[2015-08-18 23:37] #532 closed

[2015-08-19 02:08] Ptival opened #534 "TypeScript pane resizes over the text I am typing"
I cannot test with the most recent version of atom-typescript, but in the version I am using, the following annoying thing happens.

Open a new file, and write the following at the bottom **after more newlines than you screen can vertically fit**:

[code]

Now, the TypeScript error message should be "Type expected. ;".

Now type a character after the field, as if you were filling its type.

The er

[2015-08-19 03:18] ziahamza opened #535 "Automatic removal of valid entries in tsconfig.json"
Hello.
In our codebase, we have a lot of different typescript packages in a flat folder structure. In each of the tsconfig.json, we include types from the other packages as follows:

"files": [ "../{types from different packages}", "./{local type definitions}

it compiles, and run perfectly fine with the typescript compiler. But atom-typescript removes any reference to files outside of the root ty

[2015-08-19 06:29] basarat commented on #535
I suspect you guys also have a `filesGlob` option in the tsconfig.json?

[2015-08-19 06:30] basarat commented on #534
Sorry didn't see this issue. Already closed by : https://github.com/TypeStrong/atom-typescript/commit/86d8d69f55a8ad26ee47ab19c404e08a1b0ba510 :rose:

[2015-08-19 06:30] #534 closed

[2015-08-19 06:33] basarat commented on #533
Some people seem to get it ... others don't. Can you do me a favor and paste here the contents of `C:\Users\Benjamin\.atom\package\atom-typescript\package.json` as well as `C:\Users\Benjamin\.atom\package\atom-typescript\node_modules\ntypescript\package.json`.

Hope you don't have a *custom compiler* configured?

[2015-08-19 07:07] ziahamza commented on #535
Yes. We do use the file globs option to auto include all local ts files except node modules.

[2015-08-19 07:08] ziahamza commented on #535
But I guess auto include should not cause atom typescript to remove any paths that don't follow the file globs unless explicitly excluded?

[2015-08-19 07:38] basarat commented on #535
We expand it based on the file system. Feel free to add `../**/etc` to filesGlob to get it add files external to the current folder :rose:

[2015-08-19 07:38] #535 closed

[2015-08-19 11:35] priyatham-aps opened #536 "tsx files not being recognized without the use of "files" option in tsconfig.json"
That.

Getting the following error:

We do have ```rootDir``` option enabled in ```tsconfig.json``` and ```.ts``` files are being recognized just fine.

Could you let me know if this is a bug or if I am missing something?

Thanks.

[2015-08-19 15:01] nycdotnet commented on #536
Do you have a filesGlob element set up?  If so, what does it say?

[2015-08-19 15:15] priyatham-aps commented on #536
It works fine when ```filesGlob``` is used as it ultimately does generate ```files``` option.

But I would expect the plugin to work even without it. ```.ts``` files seem to have no problem without that option, so why would ```.tsx``` files need it? Also, ```tsc``` does not need it to be present in ```tsconfig.json```.

[2015-08-19 20:17] austincummings commented on #413
:+1:

[2015-08-20 04:35] basarat commented on #536
Make sure that `files` contains the `.tsx` file. If you don't want to write `files` yourself please expand the `filesGlob` to add `./**/*.tsx` :rose:

Our old default filesGlob in tsconfig.json files created by us didn't contain `.tsx` because tsx wasn't a thing back then.

If you have any confusion feel free to share your tsconfig.json and we can guide you more.

[2015-08-20 04:35] #536 closed

[2015-08-20 04:45] basarat commented on #536
Sorry. This was a bug. Thanks for reporting. My bad, should have read it better. Fixed with `v5.4.2` :rose:

[2015-08-20 07:38] priyatham-aps commented on #536
Great! It's working now. Thanks.

[2015-08-20 08:20] AndrewSav opened #537 "No definition found when ts code is in a subfolder"
Hi there!
So I tried to installing atom and atom-typescript to see how it compares with Visual Studio / WebStorm for nodejs web projects. What I immediately noticed is that I'm getting `Atom Ts: No definition found`.

"What the heck does this mean?" though I. Well after searching the issues here, it became apparent that this is because of missing `tsconfig.json`. (Could the error message be improv

[2015-08-20 13:37] ciuncan commented on #93
hi @basarat, I think this issue persists with 5.4.2.

This plugin was working brilliantly until I tried adding gulp build workflow. It started showing thousands of error and still counting up, also blocks and fills some process queue (either atom's or atom-typescript's, not sure). Errors are about duplicate definitions shown at the `lib.d.ts` etc. files in `node_modules/gulp-tsc/`, which I guess c

[2015-08-20 22:10] basarat commented on #93
@ciuncan if yo can provide the repo I'd be happy to debug it deeply. Also feel free to create a new issue specific to you problem 🌹

[2015-08-20 23:14] ciuncan commented on #93
@basarat Thank you for your concern. This is a bit embarrassing but tried re-adding "gulp-tsc" back (prior to that, I have switched backed to atom-typescript compilation via tsconfig.json) but I couldn't reproduce the problem. So good news is it now works fine. I did a clean atom reinstall including `$HOME/.atom` maybe it did the trick.

If such a thing occurs again, I'd be coming back with concre

[2015-08-20 23:44] basarat commented on #93
no worries :rose:

[2015-08-21 08:01] basarat commented on #537
That is for if you pres `f12` aka `goto definition`. The message seems right for that.

Not true.

It looks at all folder above the current open `.ts` file. This is the way `tsc` is designed to work as well :rose:

Feel free to discuss any other issues here, we'd be hapy to help :rose:

[2015-08-21 08:01] #537 closed

[2015-08-21 12:25] AndrewSav commented on #537
That's weird. In the bottom pane there is following text:

    No Build. Press ( F12 ) to start a build for an active TypeScript file's project.

This message suggests that F12 is for starting a build not for going to definition. Note that if I press F6 nothing happens at all. F12 builds the typescript. What am I missing?

So it looks like it's broken. It does not build with `tsconfig.json` in the

[2015-08-21 12:31] AndrewSav commented on #537
Thank you for this. It must have been artifact from very old Atom installation. I removed it completely and reinstalled from scratch, after that all started working as expected.

[2015-08-22 16:27] ryanhovland opened #538 "Installing “atom-typescript@5.5.0” failed"
Latest update fails to install. Anyone have any ideas? Thanks!

Output:

[code]

[2015-08-22 17:43] aguzubiaga opened #539 "Namespaced decorators "/*" argument are understood like multiline comment start"
When you decorate with a namespaced decorator something and you set a parameter that contains "/*" atom starts multiline syntax highlighting:

![screenshot from 2015-08-22 14-43-02](https://cloud.githubusercontent.com/assets/1724813/9425152/1d1e0d6a-48dc-11e5-97b2-ba8c96cd2b00.png)

But that doesn't happend with unnamespaced decorators:
![screenshot from 2015-08-22 14-45-46](https://cloud.githubus

[2015-08-22 20:27] ryanhovland commented on #538
I was able to install it by using apm in terminal. Installation in Atom fails though.

[2015-08-23 00:56] ScottHamper opened #540 "Compiler option "listFiles" unsupported in tsconfig.json"
Hey All,

atom-typescript currently displays an error when a tsconfig.json file uses the "listFiles" compiler option. It looks like this option is missing from `/lib/main/tsconfig/tsconfig.ts`

[2015-08-23 01:06] basarat commented on #540
Verified bug : http://json.schemastore.org/tsconfig :rose: Up for grabs

[2015-08-23 01:18] ScottHamper commented on #540
Hey Basarat,

I'd be happy to create a pull request for this, since it looks like there's only two lines of code that need to be added. I'm not really looking to set up a complete dev environment for atom-typescript in order to fix the issue, though. Would it be reasonable for me to fork/branch/fix/pull-request "blindly"?

Otherwise I will wait patiently, :)

Thanks!

[2015-08-23 02:03] basarat commented on #540
Sadly I really wish I had tests setup in place, so better to wait ... it is indeed two lines though

[2015-08-23 02:12] ScottHamper commented on #540
Ok, no prob!

[2015-08-23 03:32] basarat commented on #538
We don't depend on this package as far as I know so might be a bug in atom

[2015-08-23 03:38] #538 closed

[2015-08-25 00:14] JKillian opened #541 "AST Viewer Often Doesn't Work"
Often when I run the "Ast" or "Ast Full" command on a typescript file, the Ast tab pops up but is essentially blank (see screenshot below). In fact, I only have been able to get it to show up correctly on one occasion.

<img width="1133" alt="screen shot 2015-08-24 at 8 11 09 pm" src="https://cloud.githubusercontent.com/assets/1400151/9455761/a432231a-4a9c-11e5-84f3-08aca3b61f9a.png">

Unfortunate

[2015-08-25 00:30] JKillian commented on #541
This might be a performance issue actually. I came back about 10 minutes later and I see an AST now :smiley: I'll look into it more.

[2015-08-25 01:39] basarat commented on #541
Its be finiky for me two. The following *does __always__ work* :

*Only open ONE AST view*

Its got to do with D3 interacting with Atom :panda_face: :rose:

[2015-08-25 01:40] basarat commented on #541
That said ... I mostly only need one ast view open at a time anyways for a quick review :). Then I take a screenshot if I need to look at it longer

[2015-08-25 03:06] JKillian commented on #541
Interesting, I've also noticed that when I run the command, it opens up two AST tabs. When it works, one shows the whole AST and the other shows a cut-off version of the AST. As finicky as it is, it's a really neat feature when it works!

[2015-08-25 12:52] Cu3PO42 commented on #539
I'll look into this later.

[2015-08-25 21:22] Tharkun86 opened #542 "Quick Fix overlay toggled in wrong file"
Hi,

the Quick Fix overlay does only on the first file it is triggered. When triggered on a second file, the menu  will still appear in the first file it was triggered on and behave strangely (like staying open until a option is chosen or it is triggered again in the first file).

I looked a bit into the code and will have a pull request ready for this shortly.

[2015-08-26 06:56] basarat commented on #542
Awesome, thanks! :rose:

[2015-08-26 06:56] #542 closed

[2015-08-26 06:57] basarat commented on #542
comes out with `5.5.1`

[2015-08-26 09:15] Cu3PO42 commented on #539
While the problem itself is fixed, I am stuck on what I am inclined to say is an Atom bug:

![screen shot 2015-08-26 at 11 10 50](https://cloud.githubusercontent.com/assets/5256300/9489765/bd241a16-4be3-11e5-844a-67a8fbaf9d42.png)

As you can see, starting with the opening bracket the highlighting is shifted to the right by one character.

[2015-08-26 19:34] nycdotnet commented on #539
any chance there is a BOM in the file?

[2015-08-26 22:36] Cu3PO42 commented on #539
There is not. However, this issue also only ever affects a single line at a time. It's all fine on the next line again. I intend to test on a few different Atom versions, still.

[2015-08-26 23:49] aguzubiaga commented on #539
In my case it affect every line after the argument, however the typescript compiler and the linter works fine in those lines.
I am using atom 1.0.4.

[2015-08-27 09:57] Cu3PO42 commented on #539
Yes, the original problem was that the grammar doesn't accept dots in decorator names, however after fixing this every decorator appears to be broken (not just the namespaces ones), hence why I did not merge it yet.

[2015-08-28 13:15] christyharagan opened #544 "dts.generator breaks multi-package import"
Before the latest version (6.0.0) the following worked (where we're generating the declarations, including the package level declarations):

[code]

Now, if B and C expose symbols from A, then D had to also include a dependency on A itself, but it all worked.

Now, however, we get duplicate symbol warnings (because the generated typings for B and C now reference the typings file for A, and expose

[2015-08-28 13:31] domesticmouse commented on #533
I'm seeing this too. Firstly, the `.../atom-typescript/package.json` file:

[code]

And the `.../ntypescript/package.json` file:

[code]

[2015-08-28 19:39] dcsan opened #545 "pass through LF compiler option"
for the tsc option:

[code]

I added this to my tsconfig.json:

[code]

however i still see lots of this on each commit of generated files:

[code]

do these compiler options have to be explicitly passed through to tsc?

I added `"foo": "bar"` within atom, and got no errors, but running `tsc` at the command line did give:

    error TS5023: Unknown compiler option 'foo'.

so I assume they are NOT

[2015-08-29 03:13] basarat commented on #545
Possible bug. Relevant code : https://github.com/TypeStrong/atom-typescript/blob/9a7680146e6b6ece5edaba3aebeeb9baa7b8a8cd/lib/main/tsconfig/tsconfig.ts#L266

up for grabs

[2015-08-29 03:22] basarat commented on #544
The main motivation for dts-generator was that the user doesn't need to have `definition` `true` for it to work. Also its less susceptible to setting the correct *relative paths*.

But I hoped that it would work as is ... nevertheless took the caution of upgrading a major version.

I'll try right now with having a `node.d.ts` in both projects and update today for a way forward

[2015-08-29 03:30] basarat commented on #544
I'm sorry I can't even use atom right now because of https://github.com/atom/atom/issues/8551 Will try again tomorrow

[2015-08-29 10:00] christyharagan commented on #544
Hey Basarat :)

Thanks for the response. Yup, I have been (loosely) following the new module resolution in typescript, and noticed that (woohoo) typescript knows how to follow node_modules, which is awesome.

So you are right, really, the problem comes with explicit typings files, a la definitely typed - node.d.ts being the obvious one.

Thanks - as always - for your support on this (and a great p

[2015-08-29 13:06] eldertfrancke opened #547 "atom-typescript emits ASCII text with CRLF line terminators"
Atom-typescript on Linux emits ASCII text with CRLF line terminators.
Command line execution of a javascript file with a shebang results in the following error:
`: No such file or directory`

The following command fixes the error
`dos2unix [file.js]`

[2015-08-29 13:19] Cu3PO42 commented on #547
As far as I know, that's simply the TypeScript default.

Related: #545

[2015-08-30 18:41] vintem opened #548 "Error when using decorator metadata"
I'm playing with TS and Aurelia, so I'm trying to use a decorator.

I have a class as follows:

[code]

And the result javascript file is:

[code]

As you can see, the method call to __metadata is missing a second parameter. If I pass the keyword Object as a second parameter, the code works.

My tsconfig.json file:

[code]

Am I doing something wrong? Or this is really a bug?

[2015-08-30 18:55] samuelneff opened #549 "atom-typescript installed but no autocomplete, no format code, only get the typescript status bar"
I installed atom-typescript and when I open a TS file I do get the TypeScript status bar on the bottom that says "Error In Open Files" and "Last Build Output" and such.

I don't get any autocomplete though. Nothing pops up at all as I type. Nothing pops up when I hover over variables, go to declaration doesn't work, pretty much nothing works except for the status bar.

The status bar does update a

[2015-08-30 19:22] vintem commented on #548
I guess this an error on the compiler, I'm having the same result when compiling manually .

[2015-08-30 21:24] gregerolsson commented on #525
A quick test without analyzing any repercussions (might break things) solved it for me.

autocomplete-plus selects to the left from the cursor, `replacementPrefix.length` characters when the suggestion is inserted. I tried using an empty string here and the problem went away:
https://github.com/TypeStrong/atom-typescript/blob/master/lib/main/atom/autoCompleteProvider.ts#L218

Again; might break ot

[2015-08-30 23:27] basarat commented on #533
You ntypescript version matches what atom-typescript requires ... so I guess the install ran successfully. Don't know what's causing this though

[2015-08-30 23:42] basarat commented on #544
@christyharagan I just added `node` typing to both projects https://github.com/basarat/ts-npm-module and https://github.com/basarat/ts-npm-module-consume and they still build without error (this is because the generated `.d.ts` does not reference node.d.ts)

Would it be possible to get a working sample with the issue, would help expedite a workaround ... I am sure the issue is there ...

[2015-08-30 23:45] basarat commented on #525
@gregerolsson You mean `' '` or `''`?

[2015-08-31 02:10] basarat commented on #549
Did you get the message : `AtomTS: Dependencies installed correctly. Enjoy TypeScript ♥`

Ref : https://github.com/TypeStrong/atom-typescript#installation :rose:

[2015-08-31 02:14] basarat commented on #548
:+1: :rose: https://github.com/Microsoft/TypeScript/issues

[2015-08-31 02:14] #548 closed

[2015-08-31 07:30] gregerolsson commented on #525
@basarat A zero-length string (`''`). As far as I can tell, autocomplete-plus uses the length of that string to select left from the cursor position when a suggestion is selected by the user:

https://github.com/atom/autocomplete-plus/blob/master/lib/autocomplete-manager.coffee#L378

I'll do some more code-tracing today to see if the `options.prefix` string sent by autocomplete-plus, and sent back

[2015-08-31 10:55] yotamN opened #550 "Multiple type information on hover"
First of all, great package, thanks for everyone who contribute for this package.

Now something I didn't understand is how to view all the hover type information, I can see the first when I hover but the arrows or tab will just act on my code and won't change the hover, that way I can only see the first declartion, am I missing something or is this a missing feature?

[2015-08-31 23:15] basarat commented on #550
Missing feature 🌹

Up for grabs

[2015-09-01 01:04] unional opened #551 "Add option to ignore missing tsconfig"
I'm using systemjs with typescript as the transpiler.  In this configuration there is not need to have a tsconfig file.  But atom-typescript would keep complain about it

[2015-09-01 01:24] nycdotnet commented on #551
Without a tsconfig.json file, how would atom-typescript know that it should use systemjs versus amd, commonjs, etc?  How about other compilation settings like noImplicitAny?

[2015-09-01 02:13] unional commented on #551
In systemjs it has its own `config.js` file.  The file name can change and is specified in the `package.json`. Inside the `config.js` file, there is a typescriptOptions object which can specify further settings.

[2015-09-01 02:16] unional commented on #551
e.g., in the `package.json`:
[code]
The `directories` specify the config file is `src/client/config.js`, you can also specify a different file name using `config` property.

Inside the `config.js`:
[code]
which specify specific paths will use typescript.  It is all configurable.

[2015-09-01 03:27] blakeembrey commented on #551
This is unrelated to the issue at hand, except that I would also like to ignore the missing `tsconfig.json` sometimes - sometimes I'm just hacking on a quick script and using `ts-node` (https://github.com/blakeembrey/typescript-node). Most of the options are all defaulted anyway, and if defaults should need to be configurable they could live in the plugin settings.

[2015-09-01 05:00] unional commented on #551
@blakeembrey , definitely no need to create another issue.  It just another scenario that has the same cause (error on missing tsconfig) and need same solution (add option to ignore it).

The question is, besides adding an option to ignore it, is there an alternative solution?  IMO the option is suffice.

[2015-09-02 09:45] basarat commented on #551
We have a command `create tsconfig.json file` to decrease the barrier.

That said we support lose files *only if the current file is a `.d.ts` file*. For `.ts` files I really wish people to use tsconfig.json.

I don't want to maintain a lose mode that does any transpilation (non issue for a .d.ts)

[2015-09-02 11:48] fmarsoni commented on #544
Hi
I tried to use this feature but the generated .d.ts file references node.d.ts
Using 6.0.0

[2015-09-02 20:33] gabriel opened #552 "Package load is slow (~800ms)"
Via Timecop:

![2015-09-02 at 1 32 pm](https://cloud.githubusercontent.com/assets/2669/9643485/29b4228c-5177-11e5-8eab-f632a7ae8440.png)

[2015-09-03 01:17] basarat commented on #544
Please try version `6.0.1` with *native* support used from Latest TypeScript

 https://github.com/TypeStrong/atom-typescript/blob/02555cdf7aff657d223d3e69d364b7c4c5b9e8d5/README.md#npm-module-support

Raise concerns if issues still exist :rose:

[2015-09-03 01:17] #544 closed

[2015-09-03 03:43] DanielJoyce commented on #413
Also the errors shown are usually erroneous or out of date, especially if you type fast. Right now its just about useless. It even shows the text in error backs sometime, and emits multiple spurious errors

I see text like this all the time

";" expected
rav <== 'var' backwards
";" expected
wen   <== 'new' backwards
...

[2015-09-03 03:58] basarat commented on #413
our panel or the linter panel?

[2015-09-03 04:06] DanielJoyce commented on #413
The atom-typescript panel, but it seems 6.0.1 fixed it

AFAIK the plugin isn't using the atom linter panel yet, unless a config setting has been added

[2015-09-03 04:24] basarat commented on #413
We integrate with the atom `linter` as well. We have *both* at the moment....hence I asked the question. Thanks for the clarification :rose:

[2015-09-03 04:32] DanielJoyce commented on #413
Then how do you turn the other on? Didn't see it in settings...

On Wed, Sep 2, 2015 at 9:24 PM Basarat Ali Syed <notifications@github.com>
wrote:

--
Daniel Joyce

The meek shall inherit the Earth, for the brave will be among the stars.

[2015-09-03 04:45] basarat commented on #413
Here are both the panels: they should both be showing

![image](https://cloud.githubusercontent.com/assets/874898/9650732/74b106aa-524a-11e5-98a6-8cb3a5dda09b.png)

[2015-09-03 06:06] tomitrescak opened #553 "Linter error incorrect"
I see that no one reported following error, how TS errors are reported in Linter.

![screen shot 2015-09-03 at 16 04 53](https://cloud.githubusercontent.com/assets/2682705/9651557/b3cac0c8-5255-11e5-9751-781fae2aea25.png)

[2015-09-03 09:39] Cu3PO42 commented on #553
I encountered this at one point, too, however I have not yet found a reliable way to reproduce it.

[2015-09-03 14:17] vjau opened #554 "Importing modules Vs importing definitions"
Hi everyone, there is something i don't get.
I'm trying to create a react / tsx project in atom typescript.
In a file, i'm using the React module to create a class with usual React.createClass() function.
The framework i'm using (Meteor) provides me with the React module in the global scope, so i don't need to import anything.
But for the typescript compiler to be happy, i add
[code]
on the first

[2015-09-03 16:36] Cu3PO42 commented on #554
You can use reference comments to only include type definitions.

    /// <reference path="path/to/type/definition.d.ts"/>

[2015-09-03 16:39] vjau commented on #554
@Cu3PO42 i know, but i thought that import/export and tsconfig.json finally solved the ///<reference inclusion burden ?

[2015-09-03 17:52] nycdotnet commented on #553
I get it from time to time as well.  I'll try to look into it.

[2015-09-03 18:17] nycdotnet commented on #553
I've found that "not assignable" errors tend to cause this.  I have a feeling that it's related to the error being multiline.  Take a look at the dev tools:

![lintererror-multiline](https://cloud.githubusercontent.com/assets/3755379/9666843/815c5aca-5246-11e5-8fe5-09d5ba695f5a.png)

[2015-09-03 18:53] nycdotnet commented on #553
I've identified the issue.  I'll submit a PR later.

[2015-09-03 19:05] nycdotnet commented on #553
This is a minimal repro:

[code]

I've fixed the issue and published atom-typescript 6.0.2.  Please let me know if that fixes the issue for you too - and if so, please close the issue.  Thanks for the report.

[2015-09-03 19:14] nycdotnet commented on #552
It's a long term goal to make package loading faster for atom-typescript, but it's unlikely to happen for a while.  The main problem is that atom-typescript runs the TypeScript language service in an external process which takes a while to spawn.

I suspect Bas would be willing to take a pull request to defer spawning that process until the first .ts or .tsx file is opened, if you're willing to pu

[2015-09-03 23:47] basarat commented on #552
We already do that. Ref https://github.com/TypeStrong/atom-typescript/blob/c644fefe78b1add0e298d8baf4382d1887dfcb45/lib/main/atomts.ts#L316

But we have a *lot of files* and a *lot of them `import` external npm modules*. These all need to be made *lazy*. Up for grabs :rose:

[2015-09-03 23:49] basarat commented on #554
import * as React from "react";
is still generated

You have compiler target set to `--target es6`. Please target `es5` for any *codegen* transform to happen on ES6 import. If you still have concerns about this raise to Microsoft/TypeScript or feel free to ask further questions here :rose:

[2015-09-03 23:49] #554 closed

[2015-09-04 08:35] jonsamwell commented on #537
I'm also getting this error 'No Definition Found'.  It seems to compile the *.ts files fine until I add the 'out' options to the tsconfig.json then it stops compiling the ts files on save.  If I press F12 from with a ts file I then get the 'No Definition Found' error.

Here is a simplified version of the project:

root
  models
    modelOne.ts
    modelTwo.ts
 module.name.ts
tsconfig.json

[2015-09-04 08:50] jonsamwell commented on #537
Sorry for wasting your time it is working now adding the 'buildOnSave' options then uninstalling and reinstalling atom it is working as expected.  Seems odd I had to uninstall though?

[2015-09-04 08:51] basarat commented on #537
You are not on windows are you? https://github.com/TypeStrong/atom-typescript/issues/195

[2015-09-04 08:59] jonsamwell commented on #537
Yeah, that looks like the issue

[2015-09-04 15:24] mlynch opened #555 "AtomTS notification shows on each Atom window instance launch"
Every time I launch a new Atom window, the AtomTS notification shows:

![screenshot 2015-09-04 10 22 49](https://cloud.githubusercontent.com/assets/11214/9687424/0838bcac-52ef-11e5-9a4c-c599a19a4d90.png)

Can this be hidden or just run once after a new AtomTS install? Also, it happens even if the project has nothing to do with TypeScript (a backend app with Python, for example).

Edit: This is v 4

[2015-09-04 15:28] mlynch commented on #555
Sorry for the trouble, the new version fixes this, I should have checked first!

[2015-09-04 15:28] #555 closed

[2015-09-04 17:18] nycdotnet commented on #195
@basarat Do you think something like https://www.npmjs.com/package/ps-node would help us know if there were multiple copies of atom running?  If so, do you know if there is a way to block or defer an update of a package until certain conditions are true?  I would be willing to look implement this as I constantly have several instances of Atom open.

[2015-09-04 18:10] nycdotnet commented on #553
I believe this is resolved.  If you see it happen again, please re-open this ticket. Thanks!

[2015-09-04 18:10] #553 closed

[2015-09-05 09:52] basarat commented on #195
Nope. And I suspect the atom team would be unwilling for packages to take such control. Best if someone fixes atom ... to call disable package on all open instances https://github.com/atom/atom/issues/6032

I just opened the bug and saw it says *needs reproduction* perhaps they are waiting on that. Pretty easy to do ... one just needs to create a package that has a log message on package deactivat

[2015-09-06 12:25] Ablu opened #556 "Evergrowing number of pending requests"
Hello,

My number of pending request goes up without end, rendering most functionality of the plugin useless :(

I already asked about this on gitter:
https://gitter.im/TypeStrong/atom-typescript?at=55eb508a24228c321f1ae23d

My increasing pending request number: https://dl.dropboxusercontent.com/u/45541625/2015-09-05-222751_74x37_scrot.png

My installed version of the plugin: `6.0.2`
Atom: `1.0.9`

[2015-09-06 15:11] xiaofeihe opened #557 "ERR install . atom 1.0.11 ,ubuntu 14.04"
npm WARN excluding symbolic link node_modules/.bin/mkdirp -> ../mkdirp/bin/cmd.js
npm WARN excluding symbolic link node_modules/atom-space-pen-views/node_modules/grim/node_modules/coffeestack/node_modules/.bin/cake -> ../coffee-script/bin/cake
npm WARN excluding symbolic link node_modules/atom-space-pen-views/node_modules/grim/node_modules/coffeestack/node_modules/.bin/coffee -> ../coffee-script/b

[2015-09-06 20:46] blakeembrey opened #558 "Disable warning for TypeScript file not within `tsconfig.json`"
I would love to be able to write and run my tests using `typescript-node`, which works perfectly, except `atom-typescript` continues to warn my to check if it should be in the `files` array. This wouldn't be a big deal, except it then disable completion and linting for the rest of the file. Can we not consider any `tsconfig.json` in the current directory upward part of the configuration automatica

[2015-09-06 23:15] #557 closed

[2015-09-06 23:17] xiaofeihe commented on #557
in the China， Network is not good

[2015-09-06 23:31] basarat commented on #556
You probably have a `tsconfig.json` located *high up in the directory tree* globbing a *lot of files* ... which is slow

[2015-09-07 10:57] Bobris opened #560 "Support for TypeScript npm modules without declaractions"
Enhancement proposal:

I have simple npm module which contains "only" index.js (in commonjs) and index.ts - its source.
But its import cannot be found and typechecked by current atom-typescript because it requires index.d.ts and also definition of that in package.json. First it could be more clever and just change extension from main index.js. but if it cannot find index.d.ts just live with index.

[2015-09-07 14:34] Ablu commented on #556
This does not seem to be the case, I have no tsconfig.json in the part
folders. Also the tsconfig atom displays below the editor window is the
right one.

The number of ts files is moderate I think. I reference angular2 which
has a couple of .ts files, but nothing which should cause this lag I
think? I actually only have 2 .ts files. Anything else are angular .ts
files.

[code]

Visual Studio Code

[2015-09-07 23:24] basarat commented on #556
Consider `getProjectFileDetails` was hanging ... can you see if there are any errors in the dev tools console (https://github.com/TypeStrong/atom-typescript/blob/master/CONTRIBUTING.md#workflow)

[2015-09-08 01:45] basarat commented on #558
This tsloader expects a tsconfig.json : https://github.com/jbrantly/ts-loader#configuration

We can ... just remove `files` && `filesGlob` for the tsconfig and an *implict* glob is used that contains all the files. Let me know if that doesn't work out.

[2015-09-08 01:48] basarat commented on #560
Just add `declaration:true` to the tsconfig to get a `index.d.ts` and it should *just work*.

Should just work. Also you can use a `typings` field to point to an `index` field. Checkout a package that I just pushed : https://www.npmjs.com/package/onresize for an example

[2015-09-08 01:49] basarat commented on #560
Closing as it already work ... unless there is a bug ... in which case feel free to comment :rose:

[2015-09-08 01:49] #560 closed

[2015-09-08 05:41] blakeembrey commented on #558
@basarat Yes, they definitely work with `tsconfig.json` for references - but it's not needed for input files since they are defined by Webpack (I wrote one here also, https://github.com/blakeembrey/typescript-simple-loader). I was doing the implicit glob as a hack to work around it, but then I have issues with the compilation `outDir`. Using `rootDir` does not help there.

[2015-09-08 06:52] Bobris commented on #560
Yes, it is true that it works with declaration:true, but it means to have much more files which have basically duplicate information and when you have a lot of modules its add up, so it would be nice to support this also without d.ts files. Think of "Pure" TypeScript modules (just *.ts, no *.js, no *.d.ts).

Second part with customizable module resolver would allow as support both ways in mean tim

[2015-09-08 07:04] basarat commented on #560
Thaks for the verification. This is new stuff so always good to get more :eyes: :rose:

The issue with that is that a `.ts` file becomes a part of a *compile* context. and needs to be compiled ... which slow. The choice to only use `.d.ts` was made by the TypeScript team btw.

Reference : https://github.com/Microsoft/TypeScript/blob/971c7770314467964c536242becad2555ef9c758/src/compiler/program.ts#

[2015-09-08 07:05] basarat commented on #558
Not sure why one would want to disable a useful warning? Basically we are saying there is *no tsconfig file for this .ts file*?

[2015-09-08 08:43] GabiGrin opened #561 "Import file quickfix and es6 modules"
In our latest project we are using the es6 syntax for importing modules: `import {Bob} from './bob'`
When using the add module quick fix, it will only use the "require" notation. I saw that it's hard-coded in the code.

I've build a [naive plugin](https://atom.io/packages/typescript-modules-helper) that does it for me but I would like to suggest and possibly implement this feature in this plugin.

[2015-09-08 09:27] Bobris commented on #560
You are absolutely right that it should be solved upstream. I just tried you as very responsive person, thanks for all your work.

[2015-09-08 14:53] Ablu commented on #556
No. There are no errors in the dev tools. I also tried to change my tsconfig to include:
[code]
only.

I made a small screencast showing the problem: https://drive.google.com/file/d/0B8JQlPw3d8dCSjZRWHl3UzJoT1E/view?usp=sharing (please ignore the flickering on the lower left, that is my second screen being smaller than my primary one :))

[2015-09-08 16:22] s-panferov opened #562 "Resolve a library that fully written in TypeScript"
Hello!

In our company we have several libraries fully written in TypeScript and we want to use them as-is in other projects.

E.g. we have a library called `arui`, when we have a file `src/lib/assign.ts`

In another project I have a structure:

[code]

And inside `index.ts` I have an import declaration:

[code]

Result:
![listing ts - users panferov-s workspace alfa-listing - atom 2015-09-08 19-1

[2015-09-08 17:07] blakeembrey commented on #558
@basarat Sorry, that title isn't the best. It's more a side effect. I'm just brainstorming whether there could be a better way to read from `tsconfig.json` and have things still work assuming it's not explicitly listed in `files`.

[2015-09-08 23:01] psnider opened #563 "Holds onto obsolete type declarations"
Using:
- atom-typescript v6.0.2
- typescript v1.5.3

It seems that sometimes my edited declaration files are not considered by the plug-in.

In one case, I had renamed a field, yet wherever I used the new name, the plug-in showed an error
saying that the types were incompatible, and suggesting that I change the name back to the old one.
(BTW, I grepped my code base, and the old field name was no l

[2015-09-08 23:08] basarat commented on #560
Yeah, the main issue is a compiler refactoring to support *internal* vs. *external* `.ts` files. For all purposes `.d.ts` are already considered external so it was easy to *jank* into the current compiler code to support node_module .d.ts lookup :wink: :rose:

[2015-09-08 23:21] basarat commented on #556
Beyond filesGlob, we do some processing of `/// reference` tags + `node_modules/package.json` + `node_modules/typescript.main`

So try deleting node_modules for a bit? PS: Sorry about this

[2015-09-08 23:23] basarat commented on #558
Basically we are in the same situation as *not having a tsconfig* ... just that the tsconfig is *misconfigured*. And that isn't supported atm :rose:  Definitely want to keep the warning as its a configuration error .... but probably want to support lose .ts files at some point :rose:

[2015-09-09 09:01] gyzerok opened #564 "Work with .js and .jsx files"
How do I configure package to run on .js and .jsx files?

[2015-09-09 10:09] basarat commented on #564
Can't at the moment. We have an open issue for it: https://github.com/TypeStrong/atom-typescript/issues/315

[2015-09-09 10:10] basarat commented on #563
possible. Instead of completely exiting please use sync : https://github.com/TypeStrong/atom-typescript#sync

Did you do this *externally* ... i.e. outside atom / atom-typescript ?

[2015-09-09 10:13] basarat commented on #562
Does the tsconfig have a `declaration : true` in it? Is there a `arui/src/lib/assign.d.ts` present?

This is how the official node_modules support was implemented in typescript.

[2015-09-09 10:15] basarat commented on #561
Sure ... add a PR with a quickfix to use es6 notation if you want `import * as foo from "foo";`

[2015-09-09 10:52] s-panferov commented on #562
@basarat, no, there are no `.d.ts` file and no `declaration : true`, because the library is *fully* written in typescript and all client are written in typescript too I don't see any reason to compile it.

[2015-09-09 13:07] psnider commented on #563
I definitely edited the field from within atom, as I don't use any other editor for my TypeScript projects.

However, I did rename the problematic file at the command line, as I wanted to change the case of the name, and the Mac OS file system preserves but doesn't distinguish case. Perhaps this was the cause? The name went from Person.d.ts to P to person.d.ts

I often perform file system tasks at

[2015-09-09 17:21] Ablu commented on #556
Hm? I have no `node_modules/package.json` or `node_modules/typescript.main` file...

Also node_modules contains my dependencies (angular) and that contains the typescript definitions...

So if I remove `node_modules` I won't be able to compile due to missing references... right?

[2015-09-09 17:31] Raathigesh opened #565 "Autocomplete is taking time to appear when a new file is added"
When I add a new .ts file, autocomplete doesn't appear right away. It takes about a minute to appear back again. Even during the initial load I can observe this delay. The project is fairly large. Is this a known behavior or am I doing something wrong ?

[2015-09-09 23:12] basarat commented on #562
This isn't supported at the moment. Please see this comment : https://github.com/TypeStrong/atom-typescript/issues/560#issuecomment-138456739 :rose: Waiting for an upstream resolution :rose:

[2015-09-09 23:12] #562 closed

[2015-09-09 23:13] basarat commented on #556
Can I get a copy of the repo? This will help me debug faster. Thanks :rose:

[2015-09-10 04:16] basarat commented on #565
Probably expanding the file glob is taking a long time. Need to look at a better globing library at some point

[2015-09-10 04:17] basarat commented on #565
Note: I have a project with 300+ ts files with around 300 lines each ... its under a second for that :rose:

[2015-09-10 05:19] s-panferov commented on #562
@basarat thanks for the answer. Do you know if any related issue exists in TypeScript repo?

[2015-09-10 05:21] basarat commented on #562
Doesn't. If you create it please tag me in :rose:

[2015-09-10 07:22] Raathigesh commented on #565
I don't have that many files though. I will try to pin point the cause. Thank you for maintaining such as awesome project. Best typescript development experience I have used so far :100:

[2015-09-10 14:20] nycdotnet commented on #558
Blake - would it be better if it wasn't an error (in the linter list), but perhaps a "watermark" or something?  I'm not sure this would actually change the behavior, but it might "feel" better.

Bas - to support loose files, would we have to keep two language services in memory?  One with the real tsconfig and one for any loose .ts files?

[2015-09-10 16:23] nycdotnet opened #566 "Sort order of autocomplete snippet items"
Do we have any control over autocomplete sorting?  If so, I think that properties should be prioritized over autocompletes after a dot.

For example, in this screenshot I typed `.fi`.  When I hit tab, I would expect `.files` to autocomplete, but as you can see in the screenshot, the `fix` template is the default when I hit tab.

![sortorderinautocomplete](https://cloud.githubusercontent.com/assets

[2015-09-10 17:06] blakeembrey commented on #558
That could be interesting to see, maybe.

As for the actual behaviour, I'm also ok with treating it as if there is no `tsconfig` file too. I haven't played around with too many editors and the TypeScript plugins, are there any that work with defaults or resolve up instead of `tsconfig.files`? The `filesGlob` feature, I think, solves the explicit issue I have, it's just not transportable so I'm ok

[2015-09-10 18:25] Ablu commented on #556
See https://drive.google.com/open?id=0B8JQlPw3d8dCd0xZbERCMHRtdmM
I bundeled the node_modules and bower_components, Simply try to edit the `src/app.ts`

[2015-09-10 22:20] tmandry opened #567 "Bottom bar "jumps" every time cursor is moved"
I just installed this plugin for the first time and am having this issue (YouTube downscaled to 360p but I can send a higher-res version if needed):

https://www.youtube.com/watch?v=kNhsq2UQy3o

Only plugins enabled are TypeScript (6.0.5) and Linter (1.5.1). Atom is latest (1.0.11) and the problem persists across restarts.

There's also a light bulb that shows up by the line numbers on every singl

[2015-09-10 23:28] basarat commented on #558
@nycdotnet No a separate *project* per loose file. Like we currently do for loose `.d.ts` files

[2015-09-10 23:34] basarat commented on #558
@nycdotnet code : https://github.com/TypeStrong/atom-typescript/blob/e0e603e1e32c9baaa63bcdebfc07872bc267b1d2/lib/main/tsconfig/tsconfig.ts#L302-L326 :rose:

But it might be missing massive ergonomics for `.ts` files :)

[2015-09-10 23:50] basarat commented on #556
Thanks. I just sent an access request :rose: using my gmail account `basaratali` `gmail.com`. I don't have permissions to get that file till you grant it :)

[2015-09-11 03:29] snowcxt opened #568 "Failed to expand the glob for the project when I run mongodb in the project folder"
I have my local mongodb running (under temp/db folder) and open the Atom. Then I get error:

Failed to expand the glob for the project file
EBUSY: resource busy or locked, scandir: 'xxxxx\temp\db\mongod.lock'

BTW I've excluded the temp fold in the filesGlob:
`"!./temp/**/*"`

[2015-09-11 04:10] Ablu commented on #556
Uh... I thought it would be available for everybody... Sorry... Access
granted.
On Sep 11, 2015 01:50, "Basarat Ali Syed" <notifications@github.com> wrote:

[2015-09-11 04:25] basarat commented on #556
The `filesGlob` was wrong (misspelled). You had the following:

[code]

This meant we were looking at *all the .ts files* in the project (including node_modules and bower). Fix  and everything will work *much snappier*:

[code]

Sorry for not providing a better *detection* of this possible user error. :rose:

[2015-09-11 04:25] #556 closed

[2015-09-11 04:27] nycdotnet commented on #567
Lightbulb is a helper notification - hit alt+enter to see what it can do for you.  Its current behavior is intended (though we would be open to discussing improving it).

Regarding the jumping bottom bar - it looks like you're running in a portrait setup.  It may be Chrome doing some layout inconsistently as you work.  Any chance you can widen your window and see if it still happens (or significan

[2015-09-11 05:57] Ablu commented on #556
Haha. Thanks a lot. Will try how it works if i add a few more files as soon
I am home again.
On Sep 11, 2015 06:25, "Basarat Ali Syed" <notifications@github.com> wrote:

[2015-09-11 06:06] basarat commented on #567
@tmandry You have it at exactly an *evil* width. If you shrink it further it will stick to the *two line format* ... of you make it a bit bigger it will stick to the one line format.

Definitely a bug in our layout  .... open for grabs :rose:

About the light bulb .. what steve said + docs : https://github.com/TypeStrong/atom-typescript#quick-fix

[2015-09-11 06:09] basarat commented on #568
Yup. But out filesGlob library `glob-expand` still tries to *go into the folder*. Previous report : https://github.com/TypeStrong/atom-typescript/issues/332

Up for grabs :rose:

[2015-09-11 06:14] basarat commented on #566
Yes. Code is here : https://github.com/TypeStrong/atom-typescript/blob/e0e603e1e32c9baaa63bcdebfc07872bc267b1d2/lib/main/atom/autoCompleteProvider.ts#L228-L239 We put all *snippets* **before** code completions ... in hindsight probably a bad choice :) ...

Decent fix : just change `unshift` to `push` :rose:

[2015-09-11 21:30] Ablu commented on #556
Hm. How do I now get the compiler to recognize the angular module? I now use

[code]

as config file. But with that I get:
`Cannot find module 'angular2/angular2'`

If i remove the `!` before `./node_modules/**/*.ts` it works but is slow again. What does the `!` do? I am unable to find it in the documentation (https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#filesglob)

[2015-09-12 13:27] nycdotnet commented on #556
The ! means "not".  I'm assuming angular 2 ships with its own d.ts file.  You may wish to explicitly reference that in the filesGlob which should override the directory cancel.

[2015-09-12 19:34] Ablu commented on #556
Ah ok... I thought it would be some magic for setting reference but not
project files since so many people seem to use it even though the folder
would not be included in their config anyway... Thanks for clearing me
up. Everything works now!

On 09/12/2015 03:27 PM, Steve Ognibene wrote:

[2015-09-14 00:53] halhenke commented on #533
I'm getting a similar issue that Atom is telling me has already been reported and links here. But in this case its compaining about 'atom-package-dependencies' and not React:

[code]

[2015-09-14 01:13] basarat commented on #533
@halhenke This has been fixed in the latest (about a week ago?). Please update.

If issue persists please post the version number :rose:

[2015-09-14 03:57] #525 closed

[2015-09-14 18:21] christyharagan opened #570 "exported Enum resolution error"
Hey,

I *think* this is an atom-typescript error as I've tried compiling this from typescript@next directly, and it seems to compile fine.

The error relates to enums, and exports using the new typescript node resolution (with the typings property in the package.json).

The bug can be reproduced through the following scenario: (Sadly I can't attach a .zip, so ask me if you want the contents direct

[2015-09-14 22:02] matheo opened #571 "Typescript TS file fold generated files in the tree view"
Hi all
I wonder if it's possible to implement a folding option for TypeScript like [WebStorm's one](https://www.youtube.com/watch?v=Sl1Uk3zT5Fg&t=33) so transpiled files are somehow more navigable.
Thanks in advance!

[2015-09-14 22:10] tebanep commented on #571
Must have feature!

[2015-09-14 23:52] basarat commented on #570
Please. As creating three projects and then setting them up to fail can be a major time drain. You can upload them to a new random github repo :rose:

[2015-09-14 23:54] basarat commented on #571
Duplicate of : https://github.com/TypeStrong/atom-typescript/issues/253 see discussion there. Some people like the way it is. Will only be done if the `treeview` provides *native* support for it :rose:

[2015-09-15 03:45] #531 closed

[2015-09-15 04:59] omidkrad commented on #446
It's also unbearably slow for me. In a project with about 10 .ts files it takes more than 5 minutes from when I make a key stroke until I get the first signs of intellisense! This is on a very fast computer. I tried uninstalling atom and configurations and reinstalling to no avail. :disappointed:

[2015-09-15 05:07] basarat commented on #446
@omidkrad can you share your tsconfig + directory tree showing tsconfig.json and node_modules (if any)

[2015-09-15 05:15] omidkrad commented on #446
This is my tsconfig.json

[code]

node_modules is really large. It contains 587 folders. May that's why it's so slow?

Now I remember I might have use [`flatten-packages`](https://www.npmjs.com/package/flatten-packages) on this. Let me delete all modules and `npm install` again.

[2015-09-15 05:23] basarat commented on #446
@omidkrad alternatively move `tsconfig.json` to a some directory *inside* e.g `src`

[2015-09-15 05:27] tomitrescak commented on #566
:+1:

[2015-09-15 05:31] omidkrad commented on #446
`npm install` brought back all those 587 folders, but moving `tsconfig.json` worked!!! Now I feel I'm in a :rocket:!! :+1:

[2015-09-15 05:37] basarat commented on #332
Note: Workaround move tsconfig to some sub directory e.g. `src/tsconfig.json`

[2015-09-15 05:37] basarat commented on #446
I should probably add https://github.com/TypeStrong/atom-typescript/issues/332 to the faq https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md

[2015-09-15 05:42] johnnyreilly commented on #446
For what it's worth it's rocket fast for me @basarat! :tulip:

[2015-09-15 05:44] johnnyreilly commented on #446
(My tsconfigs are all in subdirectories)

[2015-09-15 06:00] tomitrescak opened #573 "Typescript compiler takes a long time after a new file is added"
Hi. First KUDOS to this amazing plugin. Microsoft has a long way to go to catchu up with you guys ;)

I have a small problem.
When I add a new file, the compilation vecomes stalled on follosing task "getProjectFileDetails" and spins processor to the max. This lasts about 1-2 minutes, then compilation runs as expected. This happes after I add any file to the project.

[2015-09-15 06:10] basarat commented on #573
Sound like a dupe of https://github.com/TypeStrong/atom-typescript/issues/332

Can you try the [workaround](https://github.com/TypeStrong/atom-typescript/issues/332#issuecomment-140287071)

[2015-09-15 06:15] tomitrescak commented on #573
Indeed. Thanks!

[2015-09-15 06:15] #573 closed

[2015-09-15 06:17] basarat commented on #573
We need a better globing library :)

[2015-09-15 09:12] christyharagan commented on #570
Hey Basarat,

Of course :) here you go:

https://github.com/christyharagan/typeScript-enum-export-bug

[2015-09-15 10:30] christyharagan commented on #570
Duh I'm an idiot. Realised this *is* a TypeScript bug, not an atom-typescript one. Closing this down, as I've raised Microsoft/TypeScript#4800

[2015-09-15 10:30] #570 closed

[2015-09-15 10:49] gyzerok opened #574 "How not to compile on save?"
I'm using webpack for bundling my code and would like to prevent atom-typescript to compile to .js on save. How do I do that?

In my case I do want use this package only for type checks and autocomplete.

[2015-09-15 14:12] #574 closed

[2015-09-15 21:51] snowcxt commented on #332
The workaround works for me. Thanks

[2015-09-15 23:16] ryanwischkaemper opened #575 "Compiler option "suppressExcessPropertyErrors" unsupported in tsconfig.json"
atom-typescript currently displays the following error when a tsconfig.json file uses the `suppressExcessPropertyErrors` [compiler option](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#strict-object-literal-assignment-checking).

**The project file contains invalid options. Unknown Option: suppressExcessPropertyErrors**

If I set atom-typescript to use the Typescript compiler for `

[2015-09-15 23:56] basarat commented on #570
No worries. Thanks for being a cutting edge and patient user as we keep experimenting :rose:

[2015-09-16 00:13] basarat commented on #574
For future search results : https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#i-dont-want-atom-typescript-compiling-my-js

:rose:

[2015-09-16 00:15] #575 closed

[2015-09-16 06:17] tomitrescak opened #577 "Import paths aliases"
I'm not sure if this has been handled in #132 but I have a request for possibility to use import path aliases. In webpack I can easily configure following alias:

[code]

From that moment on, I don't have to write painful paths like `../../../../component/view/me'

While application compiles well with webpack, typescript plugin is announcing errorrs as it does not recognise this config. Would you

[2015-09-16 06:22] omidkrad commented on #332
AFAIK tsconfig.json does not support globes. When you're talking about adding or removing globes from tsconfig.json where is that config file exactly?

[2015-09-16 06:31] basarat commented on #332
we're not adding / removing globs ... we are adding / removing files in the file system and maintaining that in the `files` property

[2015-09-16 06:36] basarat commented on #577
This is (was https://github.com/Microsoft/TypeScript/issues/2338#issuecomment-139561751) being tracked by this issue https://github.com/Microsoft/TypeScript/issues/2338 in typescript core.

Unless I have a better idea ... I'd wait for them to come up with a solution :rose:

[2015-09-16 06:39] tomitrescak commented on #577
Yup, I was reading through that thread, was hoping that you guys will be faster than MS, as you already are ;) Anyway, I'll close this so that it does not polute the list.

[2015-09-16 06:39] #577 closed

[2015-09-16 06:51] horiuchi opened #578 "Request: support `moduleResolution` compiler option in `tsconfig.json`"
via: https://github.com/Microsoft/TypeScript/wiki/Compiler%20Options

This option is available on TypeScript 1.6.

[2015-09-16 09:12] basarat commented on #578
Note workaround: if you compile with `module commonjs` it *automatically* switches to node resolution ;) :rose:

[2015-09-16 09:14] basarat commented on #578
Up for grabs

# Implementer's guide

Code is here : [tsconfig.ts](https://github.com/TypeStrong/atom-typescript/blob/de68e8e5d04eaad3d9c9b6b6a3ec5327de03c23d/lib/main/tsconfig/tsconfig.ts#L13-L18)

[2015-09-16 15:34] omidkrad commented on #332
You mean `files`/`exclude` in tsconfig.json is new behavior, and globes/`filesGlob` mentioned in the previous comments was the old way?

The thing is, even though moving tsconfig.json to src directory works but I prefer it to be on the root of my project. The structure of my project is like:

    project
        +-- src
            +-- .ts files
        +-- node_modules
        +-- jspm_packages

[2015-09-16 16:00] omidkrad commented on #332
Interesting. Looks like all TS tools (tsc, atom-typescript, gulp-typescript) are ignoring `files` and `exclude` properties in tsconfig.json. No matter what I set in there they load all files in the project!

I'm currently using tsc Version 1.6.0-dev.20150910

[2015-09-16 21:21] DiThi opened #579 "Can't find a way to disable autocomplete when not needed"
When I write anything like... "function(){" and then I press enter to go to the next line, the first item of the menu ("arguments" in this example) is added to the text instead of going to the next line, unless I remember to press esc every time.

It's very annoying. Can I change the default key of confirmation? Or can I disable autocomplete for some cases? Or enable it only when writing specific

[2015-09-16 23:25] basarat commented on #579
Up for grabs : https://github.com/TypeStrong/atom-typescript/blob/de68e8e5d04eaad3d9c9b6b6a3ec5327de03c23d/lib/main/atom/autoCompleteProvider.ts#L177-L181 :rose:

[2015-09-17 06:07] #578 closed

[2015-09-17 13:18] horiuchi commented on #578
:+1:

[2015-09-17 17:46] daniel-a-melo opened #581 "The keyword abstract is not colored correctly"
The keywork `abstract` introduced by TypeScript 1.6 is does not get the keyword color.

Atom 1.0.11 on Ubuntu Linux 12.04
atom-typescript 6.0.9

[2015-09-17 20:01] rscottfree opened #582 "Disable error hover message"
Is it possible to disable the error popup that shows beneath the cursor (1 line down) whenever I type something that is not valid like a partial function name? This is extremely annoying to get error popups as I'm typing the line--of course it's going to be an error, I'm not done typing!

I would like to either disable this altogether or have it only show when I hover over the error text. In gener

[2015-09-17 20:02] rscottfree commented on #129
Please, just show the red underline then, not a popup that covers up text -- what if I were reading that line while I typed? This popup is very distracting.

[2015-09-17 20:03] rscottfree commented on #582
Sorry, this is a duplicate of https://github.com/TypeStrong/atom-typescript/issues/129

[2015-09-17 20:03] #582 closed

[2015-09-17 23:16] basarat commented on #129
@rscottfree that's an issue for : https://github.com/atom-community/linter  :rose:

Since there aren't any actionable items here, we just use what linter gives us. I'm closing this issue.

[2015-09-17 23:16] #129 closed

[2015-09-18 01:38] basarat commented on #581
Up for grabs.

# Guidance

Code here : https://github.com/TypeStrong/atom-typescript/blob/master/grammars/typescript.cson Probably follow whats there for `public` / `private` etc :rose:

[2015-09-18 02:26] ranjitjhala opened #583 "`fsevents` dependency prevents installation"
Hi @basarat,

I just re-installed `atom` (on mac os) no other packages, and then tried to install `atom-typescript`.

I get this error:

[code]

In more detail

[code]

And here is the content of the  `npm-debug.log`:

https://gist.github.com/ranjitjhala/1259a624309004498adc

Please let me know if I can provide any other information.

Could it be that I have a "stale" `fsevents` on my machine?

Sh

[2015-09-18 03:17] jeffaustin81 opened #584 "Newest version atom does not support your package"
<img width="1172" alt="screen shot 2015-09-17 at 8 17 09 pm" src="https://cloud.githubusercontent.com/assets/10277396/9951263/1c8b6c4c-5d79-11e5-9baf-2517be696ebc.png">

[2015-09-18 03:30] ranjitjhala commented on #583
I recently upgraded to Yosemite, I notice this:

    https://github.com/strongloop/fsevents/issues/56

Could it be a related issue?

[2015-09-18 03:47] impinball commented on #365
@basarat Could you close this? The relevant bug is already linked.

[2015-09-18 04:02] basarat commented on #583
Going through the log : https://gist.github.com/ranjitjhala/1259a624309004498adc#file-atom-typescript-error-L5859-L5870 It seems that its falling over installing `grunt-ts` which depends on `chokidar` which depends on `fsevents`.

The concern is that we only have `grunt-ts` as a *dev* dependency ([code here](https://github.com/TypeStrong/atom-typescript/blob/cac10c088fcaeda8c27bb048635a8d981ebe334

[2015-09-18 04:04] basarat commented on #365
Thanks. Please follow : https://github.com/atom/settings-view/issues/348 for tracking :rose:

[2015-09-18 04:04] #365 closed

[2015-09-18 04:48] mizchi opened #586 "QuickFix importing uses `import ... = require()` in target ES6"
In ES6 modules, we can't use `import ~ require`. We have to use `import ~ from '...'`

[2015-09-18 05:22] basarat commented on #586
Up for grabs

# Docs

https://github.com/TypeStrong/atom-typescript/blob/master/CONTRIBUTING.md#quickfix

Please add a new quickfix. Something like `es6 import` :rose:

[2015-09-18 05:41] msurdi commented on #583
Same error here, just after installing an Atom update, I got a warning about atom-typescript requiring a rebuild. A few seconds after clicking "rebuild" I get the same error.

[2015-09-18 05:46] msurdi commented on #583
Looking at the Atom update changelog for 1.0.12:

    Atom now ships with Chrome 43 and io.js 2.3.1.

[2015-09-18 06:01] basarat commented on #583
@msurdi / @ranjitjhala can you follow dev machine workflow : https://github.com/TypeStrong/atom-typescript/blob/master/CONTRIBUTING.md#setup-dev-machine to rule out something atom specific crashing the whole workflow. Basically I am curious about *manual `npm install`* results :rose:

[2015-09-18 07:05] basarat commented on #584
duplicate of https://github.com/TypeStrong/atom-typescript/issues/583. Seems mac only bug.

[2015-09-18 07:05] basarat commented on #584
Feel free to chime in here : https://github.com/TypeStrong/atom-typescript/issues/583#issuecomment-141353810 :rose:

[2015-09-18 07:05] #584 closed

[2015-09-18 08:01] msurdi commented on #583
@basarat Following the dev setup instructions works fine. To me, it seems that Atom is using its own node version when doing the "rebuild" and not the system wide node I have on my computer. But I don't really now anything about the internals of Atom, so I'm just guessing.

[2015-09-18 08:09] msurdi commented on #583
So, even after manual installation, Atom still complains about the plugin needing a rebuild, and fails again.

[2015-09-18 11:58] ranjitjhala commented on #583
@basarat I can confirm what @msurdi says -- same thing happens on the dev workflow.

(In addition to the above) I tried installing from within atom -- i.e. by clicking on the install button _and_ by doing `apm install atom-typescript`. In both cases the install succeeds until I open a .ts file, in which case
the little bug appears on the bottom right, clicking which leads to the above (and the scr

[2015-09-18 12:49] Sprechen commented on #583
I have the same problem. It seems that with fsevent@1.0.0 this problem can be resolved (https://github.com/webpack/webpack/issues/1435)

[2015-09-18 13:15] sebilasse commented on #583
same here. Package stopped working after updating atom.

[2015-09-18 13:58] sebilasse commented on #583
@Sprechen
Hm - still the same

[2015-09-18 16:13] brandom commented on #583
I resolved this issue by navigating to .atom/packages/atom-typescript
`rm -rf node_modules`
`npm install`
and then rebuilding in atom.

[2015-09-18 17:25] ranjitjhala commented on #583
Hooray! I can confirm that @brandom 's method works for me too!

[2015-09-18 17:31] isuda commented on #583
It did not work for me. Instead, I got it working by doing the following:

in .atom/packages/atom-typescript:

[code]

[2015-09-18 17:43] sebilasse commented on #583
:+1: I have to vote for @isuda ;) strange issue.

[2015-09-18 17:47] rimig opened #587 "Plugin seems busted after Atom updated"
atom-typescript 6.0.10
atom 1.0.13

Plugin was working great this morning but just restarted atom (looks like it updated) and now it's failing to load. Atom says it contains native modules compiled for an earlier version of Atom.

I tried uninstalling and installing again both through apm and within Atom. No luck.

When I try rebuilding in the app it shows this:

[code]

I just started using Atom

[2015-09-18 17:51] sebilasse commented on #583
@isuda did rebuild also do `npm install` for you ?
I had to do `npm install` in the end... however :+1:

[2015-09-18 19:00] rimig commented on #587
I lost patience after going deep into debugging what node-gyp was doing. I reinstalled Atom and the plugin and things are working now.

[2015-09-18 19:00] #587 closed

[2015-09-18 19:02] psnider commented on #583
This is failing for me too, with:
- atom typescript v6.0.10
- atom 1.0.13
- OSX Yosemite 10.10.5

But I also tried making edits that break my build, and atom-typescript doesn't indicate there's any problems, while tsc shows them. **So atom-typescript is not working anymore.**

I've tried each of the suggestions here, but none have worked.
It seems that there is some difference between the way the

[2015-09-18 19:05] dcsan commented on #583
getting this too

![image](https://cloud.githubusercontent.com/assets/514002/9968484/99ca338a-5dfd-11e5-9c0b-ccd962668681.png)

[2015-09-18 19:15] FernandoFranco opened #588 "Packages Compilation Error"
Some installed packages could not be loaded because they contain native modules that were compiled for an earlier version of Atom.

/Applications/Atom.app/Contents/Resources/app/apm/node_modules/npm/bin/node-gyp-bin/node-gyp: line 3: node: command not found

npm ERR! Darwin 14.5.0
npm ERR! argv "/Applications/Atom.app/Contents/Resources/app/apm/bin/node" "/Applications/Atom.app/Contents/Resources/

[2015-09-18 19:57] sebilasse commented on #583
@psnider did you remove `grunt-ts` from package.json and did you remove all node_modules ?
For me it was not caused by babel but by fsevents in grunt-ts ...

[2015-09-18 20:36] psnider commented on #583
Got it!

@sebilasse And, yes, I had removed grunt-ts from the top level, and also had removed all of the node_modules.  Thanks.

I have node installed in /usr/local/bin, which is on my PATH.
However, I noticed in the log that **node-gyp couldn't find node**.

So I added ```echo "node-gyp: env=`env`" 1>&2``` to /Applications/Atom.app/Contents/Resources/app/apm/node_modules/npm/bin/node-gyp-bin/node

[2015-09-18 20:41] isuda commented on #583
@psnider: I also got this error. Launching atom from the command line, and then clicking "rebuild" fixed this for me.

[2015-09-18 21:12] rcchen commented on #588
Duplicate of #583

[2015-09-18 21:13] Sprechen commented on #583
@isuda: Also for me launching atom from command line and then clicking "rebuild" has worked!

[2015-09-18 21:47] sgal commented on #583
@isuda Thanks, that worked for me also! Very strange why though...

[2015-09-18 22:06] psnider commented on #583
It appears that Macs don't read your shell's configuration file when
launching an application by clicking an icon, such as from your Application
Dock or from Finder.
When you do start it from your shell's command line, I believe the
environment variables are set.

I have to find a solution to this that I like...

On Fri, Sep 18, 2015 at 9:47 PM, Sergey Galchenko <notifications@github.com>
wrote:

[2015-09-18 22:24] basarat commented on #583
I've just published `6.0.11` without grunt-ts as a quick workaround.

Will keep this issue till I document the dev setup in CONTRIBUTING or figure out an alternative workaround.

At least you guys will have this version to manually install on latest atom if I break something again by trying to reintroduce `grunt-ts` :rose: I'll make it a major version upgrade.

[2015-09-18 22:53] tryIO commented on #583
in my case the last build keep sending requests everytime I write some code! at the right of Typescript toolbar appears a Github spinning icon (???) and by clicking on it a notification pop up where I read messages such as:

 - getProjectFilesDetails
 - editText
 - errorsForFile
 - etc...

how to disable it? :\

[2015-09-19 05:22] basarat commented on #583
@tryIO these are requests send to a background process that is actually doing the heavy lifting of code analysis.

@tryIO Seems related to : https://github.com/TypeStrong/atom-typescript/issues/332 see workaround : https://github.com/TypeStrong/atom-typescript/issues/332#issuecomment-140287071

[2015-09-19 05:24] johnnyreilly opened #589 "Installing “atom-typescript@6.0.11” failed."
Hi Guys,

I'm getting this repeatedly when I try and install 6.0.11: :sob:

[code]

[2015-09-19 05:35] basarat commented on #589
new version of atom broke grunt / grunt-ts

Was reported on mac previously:  https://github.com/TypeStrong/atom-typescript/issues/583

Fixed with `6.0.12` :rose:

[2015-09-19 05:35] basarat commented on #588
Fixed with `6.0.12` :rose:

[2015-09-19 05:35] #588 closed

[2015-09-19 05:35] basarat commented on #583
Since a lot of people experienced this. I am marking this as closed with `6.0.12` :rose: (also had to remove `grunt` dependency for windows users)

[2015-09-19 05:35] #583 closed

[2015-09-19 05:36] johnnyreilly commented on #589
Now that's service!

I was just digging into this: https://github.com/bcoe/yargs/issues/78

I shall now try and reinstall...

[2015-09-19 17:30] robertknight opened #590 "Performance regression with project build in da663656 ..."
Pressing F6 to build [my project](https://github.com/robertknight/passcards) went from about 5 seconds to several minutes.

Adding logging to the `build()` function in `projectService.ts` shows that calls to `emitFile()` are taking ~1500-3000ms per file and my project has ~170 TS source files.

Via `git bisect` I've narrowed it down to either c797b2de7e693fa65f6bea241c6e3df013d06fd8 or da66365677b

[2015-09-19 17:35] robertknight commented on #590
Running `atom-typescript/node_modules/ntypescript/bin/tsc` directly takes ~3.5s and I get similar results with the current stable version of TypeScript, so the issue appears relate to the way the compiler is being invoked rather than an issue with the tool itself.

[2015-09-19 18:07] johnnyreilly commented on #589
6.0.12 doesnt appear to have published properly....

I'm geting this:

[code]

[2015-09-19 21:39] pdeva opened #591 "highlight html elements in .tsx files"
currently there is no highlighting for html elements inside .tsx files

[2015-09-20 05:15] johnnyreilly commented on #589
And when I switch to apm I get this:

[code]

[2015-09-20 09:05] johnnyreilly commented on #589
I've been trying to roll back to a version unaffected by this issue but it seems pretty consistent... any suggestions

[2015-09-20 15:42] johnnyreilly commented on #589
Tried uninstalling and reinstalling atom to no avail trying to install 6.0.12 inside atom now yields this:

[code]

[2015-09-20 18:29] ikeyan opened #592 "Shorthand methods are not colored properly in object literals"
![image](https://cloud.githubusercontent.com/assets/8082735/9982202/8fb5b87a-600e-11e5-9a28-cb2dd6690aab.png)

shorthand version:

[code]

[code]

traditional version:

[code]

[code]

[2015-09-20 20:01] booooh commented on #581
I looked at the file you linked here:
https://github.com/TypeStrong/atom-typescript/blob/master/grammars/typescript.cson

and there seems to be a typo (that's copy-pasted 4 times) - puclic instead of public.
See lines 168, 191, 217, 236

[2015-09-20 22:09] slikts opened #593 "exclude in tsconfig.json doesn't work"
Adding a directory to the exclude section in tsconfig.json doesn't stop atom-typescript from generating errors about .ts files not being included in the compilation context. The files are supposed to be excluded, so the errors are incorrect.

[2015-09-20 23:32] slikts opened #594 "atom-typescript specific settings shouldn't be in tsconfig.json"
It's really untidy to have atom-typescript specific settings mixed in with normal TS settings. It's not clear that they relate to atom-typescript to anyone unfamiliar with atom-typescript. It confused me when I started using atom-typescript, since I'm also new to TS. The norm is for tools to create their own config files, like tsd does with tsd.json. This makes it easy to manage the settings and p

[2015-09-21 00:01] basarat commented on #581
Fixed :rose:

[2015-09-21 00:05] basarat commented on #589
I am fairly unclear why that is happening to you. I just tried right now and it worked fine (I did do a publish right now so that might have *silently* fixed it).

![image](https://cloud.githubusercontent.com/assets/874898/9983663/485e6924-6048-11e5-8763-c802d88c0f5f.png)

Can you try again. Thanks for your patience :rose:  :)

[2015-09-21 00:10] blakeembrey opened #595 "Syntax highlighting fails with shebang"
I'm actually not sure where the best place to log this is, potentially it should be a change will Atom's language detection implementation. However, because of this line, https://github.com/atom/language-javascript/blob/master/grammars/javascript.cson#L13, any file with the shebang `#!/usr/bin/env node` will be detected as JavaScript instead of TypeScript - even when it's a `.ts` file.

[2015-09-21 01:03] basarat commented on #595
Verified. Indeed that happens now.

Workaround : Change the detected language by either clicking the following

![image](https://cloud.githubusercontent.com/assets/874898/9983919/47e40d70-6050-11e5-8df7-97df96f0de2d.png)

or using the `Grammar Selected : show` command.

[2015-09-21 01:05] basarat commented on #594
Agreed. However I'd rather it be under a key like `atom-typescript`. But I'm not looking forward to making that breaking change anytime soon.

[2015-09-21 01:08] basarat commented on #593
Up for grabs

# Implementor guidance

Source code needs to go here : [tsconfig.ts](https://github.com/TypeStrong/atom-typescript/blob/1f516fd2061fe2e6dcaea4fbc560024fdd35121d/lib/main/tsconfig/tsconfig.ts)

For guidance one can use the work done [here](https://github.com/TypeStrong/tsconfig/blob/be5007c5505f73810c6510ecbdc166bed4dfe036/src/tsconfig.ts) basically add the excludes to the pseudo file

[2015-09-21 01:14] basarat commented on #590
I'll have a look :rose:

[2015-09-21 01:32] basarat commented on #590
A normal call to `services.getEmitOutput(filePath);` takes under a `50ms` as shown below:

[code]

But in your code it is taking 1500ms! :

[code]

## How to test
Wrap [this line](https://github.com/TypeStrong/atom-typescript/blob/1f516fd2061fe2e6dcaea4fbc560024fdd35121d/lib/main/lang/modules/building.ts#L31) as follows:

[code]

Recommend raising this with Microsoft/TypeScript.

[2015-09-21 01:39] basarat commented on #590
Has to do with compiler options. The following definitely speeds is back to 3.5s mark:

[code]

[2015-09-21 01:42] basarat commented on #590
The culprit is `"noEmitOnError": true,`. Please raise with Microsoft/TypeScript or change the tsconfig to allow emit on error :rose:

[2015-09-21 01:42] #590 closed

[2015-09-21 03:27] robertknight commented on #590
Will do. Thanks @basarat !

[2015-09-21 05:41] johnnyreilly commented on #589
Gosh your font is hideous :smile:

Sorted now - I don't know why but uninstalling atom, wiping my .atom folder, reinstalling atom and reinstlaling the packages did the job.

Most strange! - Thanks for your help :rose:

[2015-09-21 05:41] #589 closed

[2015-09-21 05:54] basarat commented on #589
its the windows default :)

[2015-09-21 07:50] tomitrescak commented on #566
Hi I tried to change it where you proposed but no chnage. I guess I'll just wait for your official patch ;) Thanks.

[2015-09-21 08:18] tomitrescak opened #596 "Linter text not rendered correctly in multiline errors."
![screen shot 2015-09-21 at 18 16 52](https://cloud.githubusercontent.com/assets/2682705/9987656/1c04cd7e-608d-11e5-9510-cab7ddfa6b51.png)

[2015-09-21 08:19] saviilsy commented on #533
Getting the same error, only the module missing is "ntypescript".
Version is 6.0.13, and this is a clean install as atom-typescript is the only plugin (and .bin project atom-typescript seems to want) that has been installed.

[2015-09-21 08:49] mauron85 opened #597 "Rebuild failed on OSX probably after command line tools upgrade"
Hi, today Atom showed following message:
*Some installed packages could not be loaded because they contain native modules that were compiled for an earlier version of Atom.*

I clicked **REBUILD PACKAGES** but build failed. I think it has something to do with latest command line tools for OSX.

OSX: 10.10.5
Atom: 1.0.15
atom-typescript: 6.0.9
Command Line Tools (OSX 10.10) for XCode: 7.0 (Septembe

[2015-09-21 08:52] ralfbiedert commented on #597
Same problem here, although I get the message also for 6.0.8

<img width="1006" alt="screen shot 2015-09-21 at 10 51 29" src="https://cloud.githubusercontent.com/assets/301288/9988199/c1618300-604e-11e5-9cd9-add1b7eaa991.png">

[2015-09-21 08:57] ralfbiedert commented on #597
Update: Looks like I was able to fix it after manually updating to 6.0.13.

[2015-09-21 08:58] mauron85 commented on #597
Ok. Seem fixed in 6.0.13.

[2015-09-21 10:01] slikts commented on #594
Doesn't seem right to just close valid and unresolved issues…

[2015-09-21 10:15] slikts commented on #593
The error isn't affected by excluding the file. It's checks for `Project.prototype.includesSourceFile` and displays the error if it doesn't. The fix would be for `includesSourceFile` to check if the file isn't in an excluded directory, but a better fix would be just to remove the error. It's a feature that doesn't play nice with other things, such as using a test runner that supports TS.

[2015-09-21 10:55] slikts opened #598 "tsconfig.json is indented using hardcoded 4 spaces"
All my other .json files use different indentation settings, but tsconfig.json generated by atom-typescript is indented using [hardcoded 4 spaces](https://github.com/TypeStrong/atom-typescript/blob/c69c21f4ca1541e58e993034302fc9032b9cfe5b/lib/main/tsconfig/tsconfig.ts#L708). It should probably use `FormatCodeOptions.TabSize` instead.

[2015-09-21 11:06] slikts opened #599 "The TypeScript grammar Tab Length setting is ignored"
The Settings -> Packages -> atom-typescript -> Settings -> TypeScript Grammar -> Tab Length setting doesn't seem to do anything, so using the TypeScript formatter causes code to be indented by 4 spaces by default regardless of what the Tab Length setting says.

[2015-09-21 11:06] basarat commented on #590
From the linked issue, this is by design :rose:

[2015-09-21 12:06] slikts commented on #593
Also, there could be an option to suppress the error. Currently, there is no way to get rid of it other than adding every .ts file to the project. "Helpful" features like this that are implemented in an unintelligent way are quite annoying.

[2015-09-21 12:57] jcaramello commented on #533
Getting the same error

[2015-09-21 16:35] matheo commented on #545
Sadly I'm suddenly getting CRLF in my transpiled files and I don't know why.

I guess it started when I added some typings containing CRLF (borisyankov/DefinitelyTyped#5881) but now that I cleaned them, it keeps using CRLF.

I've tried setting the `compilerOptions.newLine` to "LF" with no luck either :(

[2015-09-21 18:57] rcchen commented on #583
For what it's worth, it looks like there was a bug on Atom's end for rebuilding native modules (see https://github.com/atom/atom/issues/8837) that is resolved in 1.0.15

[2015-09-21 23:38] basarat opened #600 "Restore `grunt` and `grunt-ts`"
See https://github.com/TypeStrong/atom-typescript/issues/583#issuecomment-142076328 and https://github.com/atom/atom/issues/8837 (the original reason why we had to remove it).

Also ask the atom team why `devDependencies` are installed

[2015-09-22 00:38] basarat commented on #594
Sure. It's open and up for grabs.

# Implementor's guide

* Move all the atom-typescript specific stuff under `atom` key in `tsconfig.json`.
* Update https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md
* Code needs to go here : https://github.com/TypeStrong/atom-typescript/blob/master/lib/main/tsconfig/tsconfig.ts
* Republish as a major version and document the breaking chan

[2015-09-22 00:41] basarat commented on #533
Seems like a bad install. Try reinstalling : https://github.com/TypeStrong/atom-typescript/blob/master/docs/faq.md#failed-to-update

[2015-09-22 00:43] basarat commented on #377
Up for grabs

# Implementor guidance

Source code needs to go here : [tsconfig.ts](https://github.com/TypeStrong/atom-typescript/blob/1f516fd2061fe2e6dcaea4fbc560024fdd35121d/lib/main/tsconfig/tsconfig.ts)

For guidance one can use the work done [here](https://github.com/TypeStrong/tsconfig/blob/be5007c5505f73810c6510ecbdc166bed4dfe036/src/tsconfig.ts). Basically add the excludes to the pseudo fil

[2015-09-22 00:47] basarat commented on #593
Sorry I thought you meant : https://github.com/TypeStrong/atom-typescript/issues/377

On second read this is a duplicate of : https://github.com/TypeStrong/atom-typescript/issues/558

@slikts the fact is that we don't support *lose .ts files*, i.e. files that don't have a tsconfig.json associated. So the error *could be replaced with another* but it would still be an error. Feel free to continue t

[2015-09-22 00:47] #593 closed

[2015-09-22 00:48] basarat commented on #599
Yes. Instead use `formatCodeOptions` which is the typescript way of specifying formatting

[2015-09-22 00:48] #599 closed

[2015-09-22 00:50] basarat commented on #598
That is for `ts` file. Probably we should *stop writing tsconfig.json files*. This can be done if `filesGlob` is moved into an `atom` section and we no longer maintain `files` for the user. There are tradeoffs here but its been working well the way it is.

[2015-09-22 00:50] #598 closed

[2015-09-22 00:51] basarat commented on #597
Basically an atom bug https://github.com/atom/atom/issues/8837 that's been fixed :rose:

[2015-09-22 00:51] #597 closed

[2015-09-22 00:53] basarat commented on #596
Also raised here : https://github.com/atom-community/linter/issues/893#issuecomment-141956253 Fix needs to go there :rose:

[2015-09-22 00:53] #596 closed

[2015-09-22 00:54] tomitrescak commented on #596
Yes, sorry, I have realised that it's actually Linter problem not yours and forgot to close the issue :/

[2015-09-22 05:57] saviilsy commented on #533
@basarat nope, unfortunately that's not it. Tried to uninstall and reinstall of the plugin and it didn't help. Tried reinstalling atom too but no help, still same error.

[2015-09-22 06:07] basarat commented on #533
@saviilsy @jcaramello Is `ntypescript` there in `atom-typescript/node_modules`?

[2015-09-22 06:14] saviilsy commented on #533
@basarat Yes, and install does not yield any errors/warnings.

[2015-09-22 06:25] basarat commented on #533
Looking at the call stack (https://github.com/TypeStrong/atom-typescript/issues/533#issuecomment-141966709)

I see no reason why `require('ntypescript')` would have if you have ntypescript installed.  https://github.com/TypeStrong/atom-typescript/blob/90b0081c4a9b332d0950b1724e221f6b56181723/dist/typescript/makeTypeScriptGlobal.js#L20

Seems like a bug in atom.

[2015-09-22 08:07] robertknight commented on #590
Thanks for investigating. The explanation makes sense, although it should be possible to preserve the purpose of 'noEmitOnError', making sure that the JS on disk only reflects the last-successfully-typechecked state of the project, in an incremental way. That's something to be discussed upstream I think.

A short term measure in atom-typescript would be to abort the build with an error if `noEmitO

[2015-09-22 11:40] slikts commented on #599
So what's the point of the TypeScript grammar settings, why are they there?

[2015-09-22 14:43] slikts commented on #594
You shouldn't put non-TS settings in the TS config file. It's invalid according to [its schema](http://json.schemastore.org/tsconfig), and coupling the TS and atom-ts settings makes them both more difficult to manage, because you need to edit JSON in cases where you would otherwise be able to just work with files. Every other tool uses their own config files too. It should just be `atomts.json` or

[2015-09-22 15:27] nycdotnet commented on #594
Thank you for your feedback.

[2015-09-22 17:04] arusakov opened #601 "Syntax highlighting for type casting with "as" keyword"
"as" keyword in type casting does not highlighted.
![img](https://habrastorage.org/files/36e/81f/a4e/36e81fa4e09c4b01a467019d715a28e0.png)

[2015-09-22 17:25] vvakame commented on #540
:+1:

[2015-09-22 17:39] jcaramello commented on #533
Hi,

I think that the error is caused for some bug in apm, because I installed globally the ntypescript module using npm, and it's still fail, but when I change the makeTypeScriptGlobal.js, in order to point with an absolute reference,the module, it work. (But fail with other module like isUtf8),
So, I decided to go back to a previuos version of atom.

I uninstalled atom, and removed manually the

[2015-09-22 18:01] saviilsy commented on #533
@jcaramello thanks for the tip, I'll try that as well.

I did some research on this issue as well and I too concluded that it is either underlying io.js or apm (who ever controls how require behave). All those modules that fail to load don't have index.js on their module root. It seems that require ignores package.json "main" property when resolving module entry point. If you manually add it to mo

[2015-09-22 19:26] danfma opened #602 "Improve `import` auto-complete experience"
When I write `import` and type TAB, the atom will autocomplete with `import from "path"`, which works and is great.

But almost the time I have to, after selecting the path and typing enter, go back manually to the import and put the {} manually.

I don't know if is possible but will be nice if after choosing the path the atom changed the cursor automatically to the position after the import, so I

[2015-09-22 19:27] danfma commented on #602
One alternative will be to write something like from "path" import {bla bla} and the atom then invert the code.

[2015-09-22 23:18] #540 closed

[2015-09-22 23:18] basarat commented on #540
fixed with `6.0.15` :rose:

[2015-09-22 23:23] basarat opened #603 "Improve `noEmitOnError` experience"
Currently build is _horribly_ slow for `noEmitOnError`.
- A short term measure in atom-typescript would be to abort the build with an error if noEmitOnError is set, rather than building the project very very slowly (and hanging the background worker for any useful work for upto 3 mintues!)
- Long term : Investigate the language service to find a function that gets _all the emits for the files_ in

[2015-09-22 23:23] basarat commented on #590
I've created a separate issue to track your ideas : https://github.com/TypeStrong/atom-typescript/issues/603

[2015-09-23 00:07] vvakame commented on #540
:smile_cat: thanks!

[2015-09-23 02:02] basarat commented on #602
The current case is very close to what you want:

1. import $CURSOR (TAB);
1. import from "path $CURSOR (TAB)"; `(this tab selects the shown path and auto complete takes you to the end of the line)`
1. (TAB) to go to next position:
1. import $CURSOR from "path";

Basically don't press `enter` :+1:

![tester](https://cloud.githubusercontent.com/assets/874898/10036409/dbc617b8-61ea-11e5-9b29-57711b1

[2015-09-23 03:50] joanna16d opened #604 "atom-typescript 6.0.9 cannot be loaded on Atom 1.0.15"
The package is incompatible with Atom 1.0.15 which is the latest version. Some installed packages could not be loaded because they contain native modules that were compiled for an earlier version of Atom. Rebuild packages failed with the following errors:
[code]

[2015-09-23 05:30] basarat commented on #604
From your log:

This package no longer ships with `grunt` or `grunt-ts`. Follow : https://github.com/TypeStrong/atom-typescript/issues/600 for details.

# Fix

Use latest atom-typescript. If that doesn't work, try deleting `packages` directory and reinstalling.

Closing as it is already fixed at our end :rose:

Feel free to discuss further if I am mistaken.

[2015-09-23 05:30] #604 closed

[2015-09-23 07:40] joanna16d commented on #604
Got it, thanks.

[2015-09-23 08:13] ghost opened #605 "Change Log"
Love this plugin and that it gets a release almost every day. But is it possible to get a one or two liner change log for each release?

[2015-09-23 08:26] basarat commented on #605
Would love to have this automated. Adding to wishlist :rose:

[2015-09-23 16:37] danfma commented on #602
Hummm... I will check this but I think that I tried this way too! ;)

[2015-09-23 21:29] blakeembrey opened #606 "Panel Sizing Breaks When Various Themes"
![image](https://cloud.githubusercontent.com/assets/1088987/10059366/65cc0a94-61ff-11e5-91c2-7d935288a5ed.png)

I'll look into making some CSS adjustments to ensure it remains the same across theming.

[2015-09-23 23:31] jmp909 opened #608 "show method signature parameters whilst typing?"
Hi

I was wondering if there's a way to show method signature parameters as you type?

Visual Studio Code does it for instance:
![vscode](https://cloud.githubusercontent.com/assets/2184982/10061765/d67e38ee-6253-11e5-8ae9-5349dd9ea839.png)

with Atom, I can press ctrl+space when I open the parenthesis, but after that the signature disappears and is replaced with an error

![signature](https://clou

[2015-09-23 23:43] tomitrescak opened #609 "Improved semantic view"
This is just a wishlist for extensions to your amazing plugin
- [ ] Improved semantic view to have a possibility to order items by name and possibly color different elements (variables with one color, functions with another)
- [ ] This is the wildest one ... I love to structure code as in C# using regions. So region support would be fantastic. Moreover, if those regions would be visible in semanti

[2015-09-23 23:52] blakeembrey opened #610 "Get Pending Requests is not accurate"
I was just about to jump in and try to see what was taking so much time in the editor (the project I am working on takes up to half a minute to process text changes) and I wanted to add some timings to pending request debugging. That's a feature request, sorry. The bug is that it uses a naive `push`/`pop`, which even if things are executing and coming back in order wouldn't it be the reverse? At t

[2015-09-24 00:36] basarat commented on #610
Indeed

[2015-09-24 00:37] #610 closed

[2015-09-24 00:56] gitsumanth opened #611 "Syntax highlighting is lost after extending class with more than 1 generic parameter."
Hi,
     I have been using atom typescript for couple of months, everything works flawlessly. Today i noticed that any class extending another class with more than one generic parameter, loses syntax highlighting after that line. This affects both tsx and ts files.

Eg.

[code]

both lines inside class C lose syntax highlighting

As you can imagine this is also happening for React Components, sinc

[2015-09-24 00:57] basarat commented on #606
:cupid:

[2015-09-24 00:59] basarat commented on #608
Definitely not, belongs here.

Up for grabs :rose: Would have to be a completely new feature ... look at hover tooltip for ideas (much custom code).

[2015-09-24 01:01] basarat commented on #611
Indeed. However I am unable to reproduce :

![image](https://cloud.githubusercontent.com/assets/874898/10062957/99cb023a-62ab-11e5-820e-e7bcf8196624.png)

Screenshot please :rose:

[2015-09-24 01:08] gitsumanth commented on #611
Here's a screenshot.

Light

<img width="317" alt="screen shot 2015-09-23 at 6 06 08 pm" src="https://cloud.githubusercontent.com/assets/1577349/10063025/e7a0fb1a-621d-11e5-9eb3-df0696bbd7af.png">

Dark
<img width="360" alt="screen shot 2015-09-23 at 6 07 40 pm" src="https://cloud.githubusercontent.com/assets/1577349/10063030/0b662c5a-621e-11e5-83c6-4a3a1045e6b2.png">

[2015-09-24 01:37] basarat opened #612 "View emitted file for `.tsx` files"
Refs https://github.com/TypeStrong/atom-typescript/issues/609

Currently it errors "No source found"

[2015-09-24 01:37] basarat commented on #609
Bug. Created : https://github.com/TypeStrong/atom-typescript/issues/612

[2015-09-24 01:38] basarat commented on #612
Couldn't reproduce

[2015-09-24 01:39] basarat commented on #609
Can you double check, share the `tsconfig.json`? or try with a `.ts` file in the same project.

It works for me :

![image](https://cloud.githubusercontent.com/assets/874898/10063426/de945c9a-62b0-11e5-9929-c386d004c333.png)

[2015-09-24 01:48] tomitrescak commented on #609
Not working for me ;(

![test](https://cloud.githubusercontent.com/assets/2682705/10063518/035c7b06-62b2-11e5-9cc5-d054cfce2eca.gif)

[2015-09-24 01:51] tomitrescak commented on #609
The typescript TS files work well, the TSX is not working althought it is emited fine into the dist directory.

[2015-09-24 01:51] gitsumanth commented on #611
Anybody else getting this problem, the fix is to downgrade Atom to 1.0.15. The newest update seems to be causing this problem.

[2015-09-24 01:55] basarat commented on #609
Is it possible to get the project, so I can repro?

[2015-09-24 02:02] tomitrescak commented on #609
easy: https://dl.dropboxusercontent.com/u/3418607/TypescriptTSXErrorRepro.zip

try files in "app/components/app_publications.ts" vs "app/components/app.tsx"

first one shows emit, secod one not.

[2015-09-24 02:09] #612 closed

[2015-09-24 02:10] basarat commented on #609
That is fixed with `6.0.17`. With `jsx:preserve` the output file name is `.jsx` not `.js`, that was throwing off the logic. :rose:

[2015-09-24 02:12] tomitrescak commented on #609
Good news ;) I'll check it now. Thanks! :tulip:

[2015-09-24 05:11] #606 closed

[2015-09-24 06:43] bgrieder opened #613 "Syntax highlighting lost in definition file when using `extends` followed by `implements`"
Definition File
Atom: 1.0.16
atom-typescript: 6.0.17
all themes

<img width="502" alt="screen shot 2015-09-24 at 08 42 20" src="https://cloud.githubusercontent.com/assets/797684/10066970/375526c0-6298-11e5-8564-d04fce151989.png">

    declare module "highlighting" {

        export interface I {}

        export class E0 extends Error {
            OK: string
        }
        export class E1 exte

[2015-09-24 07:38] bgrieder opened #614 "Syntax highlighting lost when using tuples"
Definition File
Atom: 1.0.16
atom-typescript: 6.0.17
all themes

    class Test {

        breaks = (ok: string, notOk: [string, string]): void => {}

    }

![screen shot 2015-09-24 at 09 36 06](https://cloud.githubusercontent.com/assets/797684/10067840/f014a1f2-629f-11e5-9503-7d194df1ddd9.png)

**EDIT**

atom-typescript 6.0.17 really doesn't like tuples  :)

    type Tuple = [string, string]

br

[2015-09-24 08:52] sgal commented on #614
Same problem goes for function argument's default value

Atom: 1.0.16
atom-typescript: 6.0.17
all themes

[code]

![screen shot 2015-09-24 at 10 46 35 am](https://cloud.githubusercontent.com/assets/2971261/10069033/a6aa6178-62a9-11e5-903f-7582f18a0f3a.png)

[2015-09-24 09:18] sclausen commented on #221
:+1:  a must have for angular2 inline templates :wink:

[2015-09-24 09:18] gdackys commented on #611
Same problem here, syntax highlighting with generics is a mess :(

[2015-09-24 16:45] dcsan commented on #467
see this too on osx

does it mean the `tscnofig.json` file itself is outdated, or some other output is not up to date.

![image](https://cloud.githubusercontent.com/assets/514002/10079775/cda70bcc-62a0-11e5-8f43-454fb09af5a9.png)

I used F6 to rebuild all, but no change to this error message.

[2015-09-24 16:49] dcsan commented on #467
tsc itself from cmd line also compiles cleanly.

when i open the `.tsconfig` the error above is not shown, it only appears on toggling back to a .ts file.

![image](https://cloud.githubusercontent.com/assets/514002/10079895/71730774-62a1-11e5-9b15-380e6e375140.png)

[code]

[2015-09-24 23:07] tomitrescak commented on #611
I can confirm. All react components are now completely white `class FilteredPracticals extends React.Component<IFilteredPracticalsProps, {}> ..`

[2015-09-24 23:27] basarat commented on #467
**Digression:** @dcsan Don't recommend using `buildOnSave` if you are not using `--out` (which you are not).

It means *the current file's `.js` emit is not the same as what would be generated if we compile the .ts to .js again*.

[2015-09-24 23:28] basarat commented on #467
Should have closed then. Closing now :rose:

@dcsan if your questions aren't answered, feel free to continue discussion here

[2015-09-24 23:28] #467 closed

[2015-09-25 00:05] basarat commented on #611
I can reproduce now, broken with latest atom release :cry:

Was:
![image](https://cloud.githubusercontent.com/assets/874898/10062957/99cb023a-62ab-11e5-820e-e7bcf8196624.png)

Now :
![image](https://cloud.githubusercontent.com/assets/874898/10089956/e8c2246a-636c-11e5-88b5-9abae33a7893.png)

[2015-09-25 00:21] basarat commented on #611
/cc @Cu3PO42 :sos:

[2015-09-25 00:35] basarat commented on #614
This has happened due to changes in *atom*.

This issue is an extension of https://github.com/TypeStrong/atom-typescript/issues/611#issuecomment-143085486

[2015-09-25 00:36] basarat commented on #611
Also : https://github.com/TypeStrong/atom-typescript/issues/614

[2015-09-25 00:37] basarat commented on #613
Broke with this atom release. Also https://github.com/TypeStrong/atom-typescript/issues/611#issuecomment-143085486 and https://github.com/TypeStrong/atom-typescript/issues/614

[2015-09-25 05:15] bgrieder commented on #611
This morning Atom upgraded to 1.0.18 ! This is going way too fast and unfortunately, syntax highlighting is still broken.
Is there a reliable way to ensure that my copy stays at 1.0.15 while you work on it ?

[2015-09-25 18:11] daynedavis opened #616 "Decorator error when constructor has multiple args"
When making an angular 2 component there is an error on both the Component and View decorators any time the class constructor takes multiple arguments.
![screen shot 2015-09-25 at 2 04 42 pm](https://cloud.githubusercontent.com/assets/7105109/10108366/7c430292-638e-11e5-871b-1a4228fceecb.png)
![screen shot 2015-09-25 at 2 04 57 pm](https://cloud.githubusercontent.com/assets/7105109/10108376/8a4496

[2015-09-25 19:52] nickroberts commented on #594
Agreed. If I can get some time in the near future, I'll take a stab at this.

[2015-09-26 11:25] atsu85 opened #617 "Documentation improvement: TS version used by atom"
Please document what version plugin is using. As i understand based on the documentation:
https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md
"version" attribute in tsconfig.json is not used at the moment by any tools, including atom-typescript.

[2015-09-26 14:45] GoToLoop commented on #617
What a coincidence! I've just entered here to ask the same thing.
I'd also like to know which "tsc" version "ntsc" is based upon.
Is there any command in "ntsc" which would dump that specific info?

When requesting to "Create Tsconfig.json Project File" I've got "version": "1.5.0-beta"!  O_o
So I'm pretty unsure which TypeScript version the emitter transpiler is using!

[2015-09-27 09:54] Zorgatone commented on #593
My files still get compiled even if excluded :disappointed:

[2015-09-27 11:04] devpunk opened #618 "Unknown Option: compileOnSave"
Since the recent update to atom-typescript 6.0.18 I get an error message with the text "Unknown Option: compileOnSave" when I try to save a ts-file while I have set compiler-option "compileOnSave": false" in tsconfig.json.

I am on Atom 1.0.19 and Ubuntu 14.04. Atom installed via .deb package.

[2015-09-27 11:17] devpunk opened #619 "compileOnSave: 100% CPU usage on syntax errors"
Since the recent update to atom-typescript 6.0.18 I face 100% CPU usage when I set "compileOnSave: false" and attempt to save a ts-file with a syntax error such as in
[code]
where the assignment operator is missing between String and the empty string.
The issue is reproducable on my machine via the following steps:

1. create a tsconfig.json without "compileOnSave".
2. create a ts-file with a synt

[2015-09-27 16:22] yotamN opened #620 "Create tsconfig for files in folders"
All my typescript files are inside folders and because of this I can't generate a tsconfig file in the root directory and use all the features.

What I need to do in order to have a tsconfig file is create a file in the root directory and generate the tsconfig and than delete the file from the tsconfig and from the directory.

[2015-09-27 22:08] gdi2290 commented on #616
that's odd, I know that Angular 2 still needs work with their type definitions for example currently the pipes property is missing from the View decorator in the type definition

cc @jashmenn (maintainer of the repo for this example)

[2015-09-27 23:32] basarat commented on #593
@Zorgatone if you are using the `exclude` property, that isn't supported yet : https://github.com/TypeStrong/atom-typescript/issues/377

You can use `filesGlob` in the meantime https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#filesglob

[2015-09-28 00:00] basarat commented on #617
Its the version from microsoft/typescript/master on this date : https://github.com/TypeStrong/atom-typescript/blob/dff8e9c40a54eaa2985f0b7dea24c22353ffcd75/package.json#L56 currently : 20th september 2015

[2015-09-28 00:07] #617 closed

[2015-09-28 00:08] GoToLoop commented on #617
So it's very bleeding edge w/ latest features, right? More than excellent. That's what I wanted!  :D

[2015-09-28 00:11] basarat commented on #617
yes :rose:

I've removed the version option as you are not the first people to be confused by it. If it needed to be in the FAQ then we can probably do without that (unused and not respected) option. Refs https://github.com/TypeStrong/atom-typescript/issues/469

[2015-09-28 00:12] basarat commented on #469
I've removed the (unused and unrespected ... purely for documentation) `version` option, as it confuses other people as well (with good reason) https://github.com/TypeStrong/atom-typescript/issues/617

[2015-09-28 00:26] basarat commented on #620
I am a bit confused. Can you share the directory tree *before* and *after* running the **proposed command**. Thanks :rose:

[2015-09-28 00:27] basarat commented on #618
Can you share the `tsconfig.json` file. I think you might be adding the key to the wrong place

[2015-09-28 00:29] basarat commented on #616
Closing at it seems like a TypeScript / Angular definition error. Feel free to continue the discussion here, I'll be watching if this turns out to be something that needs to be fixed in atomts :rose:

[2015-09-28 00:29] #616 closed

[2015-09-28 02:06] tomitrescak opened #621 "Release Notes"
Hi, you guys do a wonderfull job on this plugin, but it would be nice to know what is new. You just released version 7, so it would be nice to know what all has entered that. Will that be possible? The release page has no description. Thanks!

[2015-09-28 02:14] basarat commented on #621
We are documenting breaking changes at the moment : https://github.com/TypeStrong/atom-typescript/blob/master/docs/CHANGELOG.md We definitely need to setup something better in future

[2015-09-28 02:15] basarat commented on #621
Related (but not blocking us) https://github.com/atom/settings-view/issues/282

[2015-09-28 06:10] basarat commented on #611
Manually building atom ... but its painful.

@Cu3PO42 hope this helps : One offending rule : `oldstylefunction` will cause `meta.function.js` over subsequent lines after something like :

[code]

Sample :
![image](https://cloud.githubusercontent.com/assets/874898/10128891/63ce522e-65fb-11e5-9e97-283d6413d99a.png)

[2015-09-28 07:15] snowcxt commented on #332
Even the workaround only works for the small projects. Now my project has 40+ ts/tsx files and 20+ d.ts files. Now it's very slow.

[2015-09-28 07:58] sgal opened #622 "Bottom bar with error message is changing its height when tooltip appears"
__Environment__
**Atom**: 1.0.19
**atom-typescript**: 7.0.0
**OS**: Mac OS 10.10.5

Bottom bar is changing its height when you have any errors in the file/project and you hover the source code. When tooltip appears the bottom bar is "jumping" (see image below).

![atom-bottom-bar-issue](https://cloud.githubusercontent.com/assets/2971261/10130137/f484a556-65c5-11e5-9b00-627997f1b441.gif)

I've insp

[2015-09-28 08:37] basarat commented on #332
Shouldn't be the case. We have 300+ files and it works fine.

[2015-09-28 09:11] #622 closed

[2015-09-28 09:11] basarat commented on #622
Good fix. Thanks! :rose:  `7.0.1`

[2015-09-28 10:01] Cu3PO42 commented on #611
@basarat I don't really have a grasp on why the Atom update breaks anything, though I'd really, really like to know. This particular issue did also not occur previous to the update, did it?

[2015-09-28 17:03] snowcxt commented on #332
I'm using windows (I tested win7 and win8.1) and atom-typescript 7. Creating .ts file would take minutes (more than 5 minutes) to finish all the pending requesting. During the process, I can't build/format/resolve reference path for the ts files.

![image](https://cloud.githubusercontent.com/assets/1463415/10142454/9a63002a-65c7-11e5-959a-7fcb0812688b.png)

[2015-09-28 19:37] jikanter opened #623 "Syntax highlighting fails after line 245"
Syntax highlighting fails after line 245. Issue occurs mid-datastructure, works fine when I drop the next string to the next line
![untitled](https://cloud.githubusercontent.com/assets/825376/10146432/72833bd4-65ee-11e5-8c13-a93ead4027ee.png)

[2015-09-28 19:38] jikanter commented on #623
My apologies, column 245.

[2015-09-28 20:02] mgiraldo commented on #551
i am also hacking on a single typescript file (that is part of a static html/css site) and manually compile/watch it and atom is complaining a lot, getting in the way: the status bar jumps up and down and i get errors where there is none (eg my scss folder doesnt need a tsconfig file, or does it?)

[2015-09-28 20:10] blakeembrey opened #624 "Insane number of pending requests appeared"
Not entirely sure what triggered it (may have been a previously queued look up reference task) but when a new tab popped open and I closed it again, my pending tasks was at (almost) 1000.

![image](https://cloud.githubusercontent.com/assets/1088987/10147339/452d62ba-65e2-11e5-9531-50592101d1ba.png)

And it's not going down either.

[2015-09-28 20:52] nycdotnet commented on #594
Early on, the TypeScript team said they were OK with third-party extensions to the `tsconfig.json` file as long as they didn't conflict with first-party functionality.

The extensions used by atom-typescript (and now grunt-ts as of v5 beta) have been around for a long time and do not conflict with present or anticipated first-party functionality to my knowledge (if I am wrong here, please let me k

[2015-09-28 20:56] mgiraldo commented on #446
this is craaazy slow for me too... a very simple static project with a single `.ts` file that references three `d.ts` files. I set `compileOnSave : false` because I have `tsc` watching the file already

going back to sublime for now

[2015-09-28 23:30] basarat commented on #594
@nickroberts don't. Based on @nycdotnet's comments I've re-evaluated the stance and decided that the options we have *make a lot of sense for the community* (and its not just my opinion).

All the options we have are documented here : https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#options

I'll be (and have been in the past) very careful adding further extensions. We wi

[2015-09-28 23:30] #594 closed

[2015-09-28 23:34] basarat commented on #551
@mgiraldo That is an issue with atom, we haven't been able to reproduce it... but sometimes atom fails to detect a tab change (you will see that the *grammar* will be stuck at TypeScript as well). We don't get notified that the tab change and try to get typescript stuff for a non typescript file.

[2015-09-28 23:40] basarat commented on #611
@Cu3PO42 yes. This (``oldstylefunction`) *issue* only happens with this new atom release.

[2015-09-29 00:00] slikts opened #625 "Having issues closed and locked without addressing them or a chance to reply is very discouraging"
#594 was locked without giving a chance to respond to the reasons for closing it, and the reasons for closing are unrelated to the issue. The issue was not about removing the settings but moving them out of `tsconfi.json`, which would not affect their usefulness and bring it in line with the normal practice of having a separate config file. The benefits would be the lack of ambiguity and ease of m

[2015-09-29 00:03] snowcxt opened #626 "No syntax highlighting for tsx files"
![image](https://cloud.githubusercontent.com/assets/1463415/10152055/cc88eda4-6602-11e5-8641-dcc26c1e66e7.png)

The root cause could be https://github.com/TypeStrong/atom-typescript/issues/611

[2015-09-29 00:10] basarat commented on #626
indeed.

[2015-09-29 00:13] basarat commented on #625
Basically its to say "no more discussion please" we will not move the existing options out of tsconfig.json. It is opinionated ... but it is with the other team members and projects approval. And people have even expressed interest of moving `tsd.json` into `tsconfig.json` : https://github.com/DefinitelyTyped/tsd/issues/200

Thanks for your interest :rose:

[2015-09-29 00:13] #625 closed

[2015-09-29 00:39] slikts commented on #625
The "people" is one person, and in that issue there's the same counter-arguments that extending `tsconfig.json` is nonstandard and that managing files is easier. The other example you gave of a project doing this is your own project (`grunt-ts`).

[2015-09-29 01:10] basarat commented on #623
@jikanter can you paste that line here. It would help with the repro :rose:

[2015-09-29 01:14] basarat commented on #623
I did a quick test and it worked fine :

![image](https://cloud.githubusercontent.com/assets/874898/10152980/10127728-669b-11e5-9c52-c116c656485a.png)

Note that grammar has been behaving weird since atom `1.0.16`. Details here : https://github.com/TypeStrong/atom-typescript/issues/611 so this might be because of that

But do provide the line for record / testing :rose:

[2015-09-29 03:22] jikanter commented on #623
will do, here is the line
[code]

Thanks!

[2015-09-29 04:13] basarat commented on #623
Error exists in `language-grammar` as well so created an issue there to get more (smarter) :eyes: https://github.com/atom/language-javascript/issues/229

[2015-09-29 04:14] basarat commented on #623
Hoping for an upstream fix :+1:

[2015-09-29 04:21] basarat commented on #623
Its an atom limitation at the moment, only :100: tokens allowed per line. Subscribe here for details : https://github.com/atom/atom/issues/1667

:cry:

[2015-09-29 04:21] #623 closed

[2015-09-29 07:37] sgal commented on #611
Hey guys,

Do we have any issue in the **atom** repo linked to this? Or how this will be solved?

Please advise.

[2015-09-29 09:39] basarat commented on #611
Don't have a good way to report it atom. Since it didn't show up for other grammars (I just checked https://github.com/atom/atom/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+1.0.15+grammar), if we create an issue it is very likely to get closed as can not reproduce unless we provide a concrete actionable item.

It can be fixed by turning off all the nice typescript specific rules and just leaving

[2015-09-29 10:04] basarat commented on #611
For now I've reported https://github.com/atom/first-mate/issues/62

[2015-09-29 11:12] ralfbiedert commented on #624
Are you using `exclude` in your tsconfig.json? I had the same issue and had to revert back to `filesGlob` and `files`.

[2015-09-29 11:24] veaceslavz opened #627 "Module 'ng' has no exported members"
I'm not sure if it is an issue. I'm getting the following error "module ng has no exported member IScope" when I try to use $scope in constructor
[code]
if I replace ng.IScope with angular.IScope everything works just fine.

[2015-09-29 12:53] nycdotnet commented on #625
Hi @slikts,

We truly appreciate your feedback, and we'd love to have you contribute on this particular issue in the ways I suggested in the other thread (documentation, advocating the TS team for an official third party mechanism in tsconfig.json, etc.).  We'd also gladly accept any contributions you could offer for our other [up for grabs](https://github.com/TypeStrong/atom-typescript/labels/up-

[2015-09-29 14:12] slikts commented on #625
How would it make sense for me to advocate for something I'm asking to change because it's a bad idea? I see no advantages to putting tangentially related configs in `tsconfig.json`, because it makes it harder to manage them and is not the normal practice. There is a breaking change needed in any case because `filesGlob` is confusingly similar to `files`, so the solution would be to do it right an

[2015-09-29 14:18] blakeembrey commented on #624
No, I'm not - I usually do have an unusual amount of pending requests on this project but haven't had the time to debug it. The unusual thing about this was that 997 appeared immediately - I wasn't building it up this time.

[2015-09-29 14:32] stepancar opened #628 "atom-typescript should check fileNames case"
Hello, @basarat!
I faced this [issue](https://github.com/Microsoft/TypeScript/issues/5016)
typescript folk already faced with similar [issue](https://github.com/Microsoft/TypeScript/issues/3626)
see [comment](https://github.com/Microsoft/TypeScript/issues/3626#issuecomment-122323868)
May be has the meaning to add filepath checking by atom-typescript?
Thank you!

[2015-09-29 15:30] fd commented on #81
@basarat any news on the _format on save_ option?

[2015-09-29 15:41] nycdotnet commented on #625
I believe that I fully understand your position; it is a reasonable one, and you've supported it with several arguments.

The TypeStrong position is that we don't wish to take a breaking change on this issue at this time because breaking changes are bad for our thousands of users.  As the maintainers of this project, that is our prerogative and I ask that you please respect that.

When conditions

[2015-09-29 16:12] slikts commented on #625
There's a [suggestion](https://github.com/Microsoft/TypeScript/issues/4987) now for `tsconfig.json` to support comments. If this was implemented, you would be stripping the comments, just like you are stripping the formatting now.

What's the problem with leaving an issue for an unresolved problem open? Someone else might have some more useful input. Instead, it's being closed as if it's resolved.

[2015-09-29 19:29] Cu3PO42 commented on #611
@basarat now that we at least know about the change that might be relevant, I'll try to do a deeper investigation when I have the time. But right now it's scholarship application time and Uni starts next week, so time is more than limited.

[2015-09-29 21:49] devpunk commented on #618
Here's my tsconfig.json
[code]
Notice that below the typescript logo there's also a message "no tsconfig.json" which somehow contradicts the "Unknown option" message because the latter, of course, indicates that a tsconfig.json was actually found.
![compileonsave-error](https://cloud.githubusercontent.com/assets/6525873/10179074/f09a7242-6703-11e5-8d9a-c51ef42df2c5.png)

[2015-09-29 22:14] basarat commented on #618
`compileOnSave` needs to be at the *root*. Its not a subkey of `compilerOptions`. Fixed:

[code]

Please continue discussion if you still have confusion. Closing for now :rose:

[2015-09-29 22:14] #618 closed

[2015-09-29 22:15] basarat commented on #618
These are the root options : https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#options

[2015-09-29 22:45] devpunk commented on #618
Oh, thanks man. Of course, I associated "compileOnSave" with "compiler" and didn't even consider it a root option. But triggering the complier upon saving is not the compiler's job, of course. When viewed from this angle it makes sense to have it separate.

[2015-09-29 22:55] devpunk commented on #619
This ticket is related to #618. Can't reproduce this behavior with a valid tsconfig.

[2015-09-29 23:43] basarat opened #629 "linter: use the name property and don't use `html`"
refs https://github.com/atom-community/linter/pull/908#issuecomment-144033793

[2015-09-30 00:03] basarat commented on #628
Sound like a good idea. But If TypeScript supports it natively then we will not have to. So closing it as a duplicate of https://github.com/Microsoft/TypeScript/issues/3626

[2015-09-30 00:03] #628 closed

[2015-09-30 00:50] taejin-kim opened #630 "problem about TS parsing"
![033](https://cloud.githubusercontent.com/assets/8894265/10181731/c79061ce-6756-11e5-8e12-99b8a7da526e.png)
![034](https://cloud.githubusercontent.com/assets/8894265/10181756/00e6d4ee-6757-11e5-83f6-42fd2040a651.png)

[2015-09-30 01:36] basarat commented on #630
Duplicate of https://github.com/TypeStrong/atom-typescript/issues/611

Happen with atom update `1.0.15` : https://github.com/atom/first-mate/issues/62

[2015-09-30 01:38] basarat commented on #619
Probably because we fail to parse the tsconfig and then keep trying on every user interaction. Closing as it only happens on an error case that is reported to the user :rose:

[2015-09-30 01:38] #619 closed

[2015-09-30 01:41] basarat commented on #81
Still conflicted mentally between making it a package option or an option in tsconfig (I really want it to be in tsconfig) ... @fd do you have an opinion on where you would like this?

FWIW we have `buildOnSave` and `compileOnSave` in tsconfig

[2015-09-30 01:44] basarat commented on #627
Just did a quick test and it works fine :

![image](https://cloud.githubusercontent.com/assets/874898/10182528/8c240c1e-6768-11e5-9e54-339c7fd99edb.png)

Can you provide more information / repro code sample (create a temp github repo ... or share on dropbox) :rose:

[2015-09-30 02:52] taejin-kim commented on #630
my current atom version 1.0.19

go to downgrade 1.0.15?

2015-09-30 10:36 GMT+09:00 Basarat Ali Syed <notifications@github.com>:

[2015-09-30 06:35] veaceslavz commented on #627
![atom_typescript](https://cloud.githubusercontent.com/assets/14835848/10186051/8c49c4f2-6756-11e5-94ff-d9d57ca8e8bf.png)

[2015-09-30 06:39] basarat commented on #627
no. Can you share more files. Also try and search `module ng` (there should be only 1 result and that in angular.d.ts)

[2015-09-30 06:40] veaceslavz commented on #627
see my updated comment please

[2015-09-30 06:52] basarat commented on #627
@veaceslavz that line should not give an error see:

![image](https://cloud.githubusercontent.com/assets/874898/10186345/98b1bafa-6793-11e5-88d1-5b25d4cba2c6.png)

Like I said you probably have `ng` *redeclared* somewhere in your code

[2015-09-30 06:53] basarat commented on #627
If you can share it ... I can find it for you :rose: ... or prove myself wrong :smile:

[2015-09-30 07:05] veaceslavz commented on #627
I cannot share my code. But I didn't declare any local variables with name 'ng'. Very strange. I got the same error in VS Code. So, it seems that it is not Atom IDE specific. Sorry for that. I will try to find a solution to this.

[2015-09-30 08:35] fd commented on #81
I think `formatOnSave` in tsconfig is probably the best option. This way it is consistent with the other `OnSave` settings.

[2015-09-30 10:33] kitsonk commented on #611
This issue is doing my head in.  I don't know if it helps, but here is a minimum reporoducable I have:

![type arguments comma](https://cloud.githubusercontent.com/assets/1282577/10190759/d0f9de10-6766-11e5-9f7b-148c46e57e30.gif)

[2015-09-30 11:28] subjectix commented on #611
I found a monkey patching solution for the time being:
If you add an empty multi-line comment before the `,` the highlighting comes back to life :smile:

[code]

[2015-09-30 20:46] basarat commented on #627
If you can share only privately and temporarily I'd be happy to help. My email is listed on github 🌹

[2015-09-30 20:46] #627 closed

[2015-09-30 22:20] #629 closed

[2015-09-30 23:45] basarat commented on #81
:+1: Up for grabs for now, unless I feel the need for it. Note that autoformatting `jsx` elements was a bit broken at the moment in Microsoft/TypeScript last I checked, so I'm not doing this as a quick win for now.

[2015-10-01 03:39] tomitrescak commented on #611
@subjectix thanks for this, was driving me crazy! Atom automatically updates on every restart and is just major pain in the (|). Hopefully Atom people will figure out soon what is the cause.

[2015-10-01 04:52] tomitrescak opened #632 "Error window going crazy."
Please see the gif. When, the error message is too long, it keeps jumping up and down what is really distracting.

![test](https://cloud.githubusercontent.com/assets/2682705/10213103/10e283f2-684c-11e5-96bc-e9f5430d6515.gif)

[2015-10-01 05:20] basarat commented on #632
I have this code for the error sample :
[code]
It doesn't reproduce this ... however we do see the error message trimming and not trimming (because of the pending error request screen).

I'll make is to that the pending requests icon always takes space even if not visible. Thanks for the report :rose:

[2015-10-01 05:21] basarat commented on #632
Fore ref, Code https://github.com/TypeStrong/atom-typescript/blob/master/lib/main/atom/views/mainPanelView.ts

[2015-10-01 12:41] ralfbiedert opened #633 ""outFile" in tsconfig.json produces "The project file contains invalid options""
When I add `"outFile": "build/library.js",` to `compilerOptions` in my `tsconfig.json` I receive an atom-typescript build message:

The project file contains invalid options

Building the same project with `tsc` works fine. When I remove the line the build works again in Atom.

<img width="788" alt="screen shot 2015-10-01 at 14 39 01" src="https://cloud.githubusercontent.com/assets/301288/10220796

[2015-10-01 12:53] ralfbiedert opened #634 "Using "exclude" instead of "filesGlob" in tsconfig.json produces large amounts of pending requests."
When I move from `filesGlob` to `excludes` in my `tsconfig.json` I get lots of pending requests that take long to resolve, even for tiny stub projects containing only 2 files. For larger projects Atom becomes unusable.

<img width="905" alt="screen shot 2015-10-01 at 14 44 15" src="https://cloud.githubusercontent.com/assets/301288/10221007/ab5c3604-684b-11e5-9c3c-d96e3b6fe3d6.png">

<img width="34

[2015-10-02 00:03] tomitrescak commented on #566
Any idea when this is going to hit the release? At least 20 times per day I wish it was already there ;)

[2015-10-02 13:42] alisd23 opened #636 "Function as parameter with empty parameter list breaks syntax highlighting"
When defining a function as a parameter of another function with a signature of
`() => returntype` - (no parameters), the syntax highlighting breaks for the rest of the file

With no parameters:
![image](https://cloud.githubusercontent.com/assets/5804010/10247836/aaaaea2a-6913-11e5-9a30-2758b8392bee.png)

With a single parameter:
![image](https://cloud.githubusercontent.com/assets/5804010/10247854

[2015-10-02 13:44] sgal commented on #636
It is probably a duplicate of #611. There's a discussion in atom/first-mate repo about it.

[2015-10-02 17:07] tanguylebarzic commented on #377
@basarat  Please have a look at https://github.com/TypeStrong/atom-typescript/pull/637. I'm happy to work on improving this pull request.

[2015-10-02 18:50] david-driscoll commented on #608
I've got a working PR for [OmniSharp/omnisharp-atom](https://github.com/OmniSharp/omnisharp-atom/pull/525) that adds signature help, feel free to rip us off if you want to. Heaven knows we've ripped enough out atom-typescript.  :smile: :tada:

[2015-10-02 19:41] dbroadhurst commented on #315
+1 It would be great use TS features in .js files

[2015-10-02 19:55] timothysoehnlin opened #638 "Defining arguments in constructor on single line breaks syntax highlighting"
When defining a class constructor, and defining members in the constructor, syntax highlighting will break if the constructor keyword and member declaration is all on one line.

Example:

    constructor(distinct:boolean = false) {
        ...
    }

This seems to break highlighting for the rest of the file, but putting the arguments onto individual lines seems to resolve the issue:

    construct

[2015-10-02 20:43] DanielJoyce opened #639 "Tooltips have bad z-index, when scrolling overlap bottom issues pane instead of being cropped by it"
1) Type in some code with typescript error
2) Hover so tooltip appears
3) Mousewheel window up/down
4) Note that tooltip scrolls over linter error message in footer area instead of being clipped to editor text area.

[2015-10-03 05:56] hansrwindhoff opened #640 "typescript format code, crashes on larger files ~ 1000 lines"
on smaller files repeatedly pushing crtl+alt L indents further and further.
this is on windows 8.1 (64)

on osx it works for me

[2015-10-03 13:17] timothysoehnlin commented on #638
This looks like this might be related to #611

[2015-10-04 01:27] basarat commented on #377
closed with #637

[2015-10-04 01:27] #377 closed

[2015-10-04 04:52] basarat commented on #611
Fixed with https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.0 :rose:

[2015-10-04 04:52] #611 closed

[2015-10-04 04:55] basarat commented on #626
Try https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.0 :rose:

[2015-10-04 04:55] #626 closed

[2015-10-04 04:56] basarat commented on #630
Please try https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.0 :rose:

[2015-10-04 04:56] #630 closed

[2015-10-04 04:58] basarat commented on #614
fixed with https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.0 :rose:

[2015-10-04 04:58] #614 closed

[2015-10-04 05:01] taejin-kim commented on #630
Good!
Thank you so much~
Have a good day!
2015. 10. 4. 오후 1:56에 "Basarat Ali Syed" <notifications@github.com>님이 작성:

[2015-10-04 05:05] basarat commented on #613
fixed with https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.0 :rose:

Note the fix is that we break type grammar rule on new lines ... so the same line might still be weird but following lines will start highlighting correctly.

<img width="472" alt="screen shot 2015-10-04 at 4 03 17 pm" src="https://cloud.githubusercontent.com/assets/874898/10266483/9d151468-6ab1-11e5-9aed-d639efe7

[2015-10-04 05:05] #613 closed

[2015-10-04 05:21] #566 closed

[2015-10-04 05:31] basarat commented on #566
Thanks for your patience (especially with #611). So your reward is that this is fixed with https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.1 :rose:

[2015-10-04 05:40] Raathigesh commented on #565
All seems to be fine now. Closing the bug!

[2015-10-04 05:40] #565 closed

[2015-10-04 10:24] pepri opened #641 "Cannot find module when importing with require using relative path"
When using relative path in `require` call, the atom-typescript cannot find the module. Compiling with `tsc` directly from command line works.

The minimal test case consists of 3 files in the same directory: `a.ts`, `b.ts` and `tsconfig.json` (their content is below). Compiling from command line `tsc --module amd` creates `out` directory with `a.js` and `b.js` files with no error.

When opening t

[2015-10-04 13:18] tomitrescak commented on #566
@basarat you're my hero;) thanks for the effort. This plugin really shines and makes development of typescript as easy as it can get! Thanks!

[2015-10-05 03:28] basarat opened #642 "Do not start the worker if sync is true"

[2015-10-05 03:30] #642 closed

[2015-10-05 04:32] basarat commented on #636
Fixed with #611

[2015-10-05 04:32] #636 closed

[2015-10-05 04:33] basarat commented on #638
Fixed with https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.0 :rose:

[2015-10-05 04:33] #638 closed

[2015-10-05 04:50] basarat commented on #633
`out` became `outFile` in TypeScript 1.6 I think. `out` still works though, and you can use that for now.

I've asked for clarification about the plan for these (similar in purpose) options : https://github.com/Microsoft/TypeScript/issues/5107 once its clear if we should just rename `out` to `outFile` :rose:

[2015-10-05 04:55] basarat commented on #639
that doesn't make the tooltip or the linter error message change its location in my testing.

Am I missing something:

![zindex](https://cloud.githubusercontent.com/assets/874898/10273271/7cd8779e-6b79-11e5-9881-2e8924d8275b.gif)

[2015-10-05 04:57] basarat commented on #634
`exclude` wasn't supported till a day ago : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.0.3

So try again, and comment if it still doesn't work :rose:

[2015-10-05 05:12] basarat commented on #640
I've had the opposite happen for me (increasing indent on mac and sticking on windows).

Its an issue that needs to go to https://github.com/Microsoft/TypeScript/issues

[2015-10-05 05:16] basarat commented on #641
Change your `tsconfig.json` to :

[code]

The module resolution algorithm was changed in TypeScript 1.6 :rose:

[2015-10-05 05:16] #641 closed

[2015-10-05 05:17] basarat commented on #641
Also add `'module': 'amd'`` as we default to node (I recommend that is what you use with something like webpack)

[2015-10-05 05:19] basarat commented on #621
I started to be more disciplined : https://github.com/TypeStrong/atom-typescript/releases :rose:

[2015-10-05 05:19] #621 closed

[2015-10-05 06:21] #633 closed

[2015-10-05 08:29] tomitrescak opened #643 "es6 imports translated to modules even when output set to es6"
Hi

Up until latest update my es6 imports were left the way they was when transpilig to es6.
From the latest update now they are transpiled to the module representation.

For example:

[code]

is transpiled to

[code]

The worst part is, that it breaks the TSX transpilation as for example

[code]

is transpiled to:

[code]

Note how the closing tag is not transpiled.

I am sure that this is bug in

[2015-10-05 08:38] ralfbiedert commented on #634
Just checked with 7.1.3 and I still get the pending requests in my big project:

![screen shot 2015-10-05 at 10 37 24](https://cloud.githubusercontent.com/assets/301288/10276071/323df744-6b4d-11e5-97f8-8318514bb05a.png)

[2015-10-05 08:46] tomitrescak commented on #643
Thanks to the description you left in releases, I've found out that this happens from version 7.1.2 in which you have updated typescript to the latest version. I have also left a comment within their issues.

[2015-10-05 08:50] pepri commented on #641
Thank you, `"moduleResolution": "classic"` is exactly what I needed.

[2015-10-05 10:19] tomitrescak commented on #621
I allready helped me to localise the problem with typescript release messing up imports, so I knew which version to test to make sure ;) Thanks!

[2015-10-05 10:33] sickboy commented on #643
I can confirm this issue

[2015-10-05 11:19] tomitrescak commented on #643
Do now roll back to 7.1.1 which has a previous version of typescript. Seems like a TS issue.

[2015-10-05 12:10] nycdotnet commented on #315
It seems the TypeScript team agrees.  Take a look at the items tagged salsa on their issues list.  This may be coming in a future language service version, in which case I assume we'd add support for it.

[2015-10-06 00:23] basarat commented on #600
document to contributing `npm install grunt grunt-ts`

[2015-10-06 05:29] basarat commented on #643
TypeScript issue report : https://github.com/Microsoft/TypeScript/issues/5110

[2015-10-06 05:33] basarat commented on #643
Reverted for now till https://github.com/Microsoft/TypeScript/issues/5110 is resolved : https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.4 :rose:

[2015-10-06 09:34] ealves-pt commented on #567
Possible behaviour fix in PR #644

[2015-10-06 23:59] #632 closed

[2015-10-07 00:00] #567 closed

[2015-10-07 00:00] basarat commented on #632
https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.5 :rose:

[2015-10-07 00:00] basarat commented on #567
https://github.com/TypeStrong/atom-typescript/releases/tag/v7.1.5 :rose:

[2015-10-07 00:09] blakeembrey commented on #413
@basarat This would be an awesome addition :+1: Let me know if there's anything needed to close this off on either side - I've been doing a bit of work to improve the linter visually using TypeScript as the example (since the errors are quite large).

[2015-10-07 16:29] isuda opened #645 "Syntax "if/else if" highlighting lost"
when I write:

[code]
The syntax highlighting is broken on the "if" and "else if" if there is no space between the if and the opening bracket. This used to work correctly a few weeks or a month ago.

![image](https://cloud.githubusercontent.com/assets/25780/10343831/c5a14940-6cd4-11e5-956e-e40c69391d4c.png)

[2015-10-07 16:30] isuda commented on #645
Also, FWIW, it highlights properly in language-javascript.

[2015-10-07 16:43] DanielJoyce commented on #413
I'm getting errors in the atom-typescript panel, but they never show in the
atom linter panel.

On Tue, Oct 6, 2015 at 5:09 PM Blake Embrey <notifications@github.com>
wrote:

--
Daniel Joyce

The meek shall inherit the Earth, for the brave will be among the stars.

[2015-10-07 16:55] nycdotnet commented on #634
Note - I wound up with a perf problem in grunt-ts when I implemented `exclude` as well.  Adding a "not glob" doesn't actually help because the glob matcher isn't clever enough to optimize away that work.  It goes searching through all the excluded folders and then ignores whatever it finds.

Here was my fix:
https://github.com/TypeStrong/grunt-ts/commit/cad78ccca5797e4e8d6db1a7a81305979a64ee6a

Ba

[2015-10-07 21:04] rcchen commented on #624
+1 also having this issue, I'm not using the `exclude` property in `tsconfig.json` either.

[2015-10-08 00:29] blakeembrey opened #646 "Replace custom `tsconfig` logic with `tsconfig` module"
It will probably require a new minor version of `tsconfig` with the correct errors thrown/exposed, but it would be great to consolidate the logic to https://github.com/TypeStrong/tsconfig. Any thoughts?

Edit: Definitely feel free just to close this, I know there's a lot more going on here than there.

[2015-10-08 00:51] basarat commented on #646
The main thing lacking is `validation` and error reporting for invalid settings.

Minor : And also a few atom/IDE specific options

[2015-10-08 00:55] basarat commented on #645
The following works, and is the recommended formatting `if <space> (`  as well:
[code]

Marking as up for grabs though as it would be nice to have it all :rose:

[2015-10-08 01:37] nycdotnet commented on #646
Once I'm over the hump in the next month or so, I'd love to consolidate grunt-ts onto this also (assuming you're willing to take some PRs).  If it's a shared module it will also make it worthwhile doing things like allowing comments (assuming that does get pulled-in by the TypeScript team) and not trashing indentation on updates, tabs vs. spaces, etc.